<template>
  <div>
    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2029.26 1093.18">
        <title>1 floor</title>
        <g id="BG">
          <polygon class="cls-1" points="2029.26 875.87 1132.99 875.87 774.48 1093.18 548.3 952.31 549.35 950.77 513.44 924.58 478.09 897.64 443.31 869.97 409.12 841.57 375.53 812.46 342.56 782.66 310.21 752.17 278.52 721.01 247.49 689.19 217.12 656.74 187.45 623.65 158.47 589.94 102.67 520.76 75.87 485.3 49.81 449.29 24.52 412.75 0 375.68 15.03 360.65 14.58 359.49 25.53 348.55 75.22 298.85 122.64 251.43 112.22 241.01 132.66 220.57 152.53 240.45 253.13 139.86 233.41 120.14 237.02 116.53 238.06 117.57 281.64 73.99 280.28 72.63 322.36 30.55 427.46 30.55 427.46 15.08 882.2 15.08 882.2 0 1022.71 0 1022.71 20.4 1517.9 20.4 1517.9 30.61 1718.54 30.61 1718.54 15.08 2029.26 15.08 2029.26 875.87"/>
        </g>
        <g id="rooms">
          <polygon id="71f4465d-137c-41c6-a4f8-6278e615d9bf" @click="showWindow('71f4465d-137c-41c6-a4f8-6278e615d9bf')" v-bind:class="[returnActivePlaceClass('71f4465d-137c-41c6-a4f8-6278e615d9bf')]" class="cls-4" points="777.89 822.02 742.5 822.02 736.24 828.28 713.24 805.27 713.24 95.39 1020.44 95.39 1020.44 20.4 1343.57 20.4 1343.57 123.17 1377.58 123.17 1377.58 151.11 1441.46 151.11 1441.46 185.91 1422.87 185.91 1422.87 426.12 1435 426.12 1435 475.88 1421.45 475.88 1421.45 786.03 1361.14 786.03 1361.14 795.55 1333.31 795.55 1333.31 784.91 1313.64 784.91 1313.64 792.95 1299.87 792.95 1299.87 854.73 1128.92 854.73 1125.87 854.73 1116.8 854.73 1116.8 856.71 921.82 856.71 921.82 849.06 915.58 849.06 915.58 798.05 810.77 798.05 810.77 790.57 777.89 790.57 777.89 822.02"></polygon>
          <polygon id="6257502f-a22e-4809-a586-6a341388ebef" @click="showWindow('6257502f-a22e-4809-a586-6a341388ebef')" v-bind:class="[returnActivePlaceClass('6257502f-a22e-4809-a586-6a341388ebef')]" class="cls-4" points="402.63 389.95 463.62 328.97 472.1 329.14 480.55 328.41 488.88 326.8 496.99 324.31 504.79 320.99 512.2 316.87 519.51 311.2 526.34 304.96 532.64 298.2 538.38 290.95 543.52 283.25 548.02 275.18 634.49 275.75 634.49 277.12 644.09 277.12 644.09 393.92 615.75 393.92 610.65 393.92 610.65 399.02 610.65 490.56 515.77 490.56 515.77 420.59 411.7 394.49 411.7 389.95 402.63 389.95"/>
          <polygon id="81179b05-78c4-4974-9297-5f23279c004d" @click="showWindow('81179b05-78c4-4974-9297-5f23279c004d')" v-bind:class="[returnActivePlaceClass('81179b05-78c4-4974-9297-5f23279c004d')]" class="cls-4" points="469.05 174.87 476.41 175.61 483.65 177.13 490.68 179.44 497.42 182.49 503.79 186.26 502.66 188.5 502.42 191 503.09 193.43 504.6 195.44 506.73 196.77 509.19 197.24 511.25 196.96 513.12 196.05 514.61 194.6 515.58 192.76 519.83 192.76 547.45 210.85 547.45 211.41 547.45 275.75 521.49 275.75 517.42 281.38 512.77 286.54 510.54 285.76 508.18 285.77 505.96 286.56 504.13 288.06 502.91 290.07 502.44 292.39 502.76 294.72 496.52 298.39 489.91 301.35 483.01 303.56 475.92 304.99 468.7 305.63 461.46 305.47 454.28 304.5 447.26 302.76 440.47 300.24 434 296.99 434.37 292.18 433.89 287.37 432.57 282.73 430.45 278.39 427.6 274.5 424.1 271.17 420.07 268.51 415.63 266.61 410.93 265.52 406.11 265.28 403.94 259.23 402.38 253.01 401.44 246.66 401.13 240.25 401.56 232.74 402.85 225.34 404.98 218.13 407.92 211.22 411.63 204.69 416.07 198.62 421.18 193.11 426.88 188.22 433.11 184.01 439.78 180.55 446.8 177.87 454.08 176.02 461.54 175.02 469.05 174.87"/>
          <polygon id="44e3ecd6-fc12-4b6c-9876-93464a7c7511" @click="showWindow('44e3ecd6-fc12-4b6c-9876-93464a7c7511')" v-bind:class="[returnActivePlaceClass('44e3ecd6-fc12-4b6c-9876-93464a7c7511')]" class="cls-4" points="427.57 292.46 427.58 292.46 427.13 296.71 425.81 300.76 423.68 304.46 420.82 307.63 417.37 310.14 413.48 311.87 409.3 312.76 405.04 312.76 400.86 311.87 396.96 310.14 393.51 307.63 390.66 304.46 388.53 300.76 387.21 296.71 386.76 292.46 386.76 292.46 387.21 288.22 388.53 284.17 390.66 280.47 393.51 277.3 396.97 274.79 400.87 273.06 405.04 272.18 409.3 272.18 413.47 273.06 417.37 274.79 420.82 277.3 423.68 280.47 425.81 284.17 427.13 288.22 427.57 292.46"/>
          <polygon id="f5f26cb5-3db7-483f-9cfd-02c0eae7fd0e" @click="showWindow('f5f26cb5-3db7-483f-9cfd-02c0eae7fd0e')" v-bind:class="[returnActivePlaceClass('f5f26cb5-3db7-483f-9cfd-02c0eae7fd0e')]" class="cls-4" points="539.87 20.4 643.69 20.4 643.69 141.98 543.83 141.98 543.83 32.87 539.87 32.87 539.87 20.4"/>
          <polygon id="6e8f3a4f-239d-48a5-8910-a58e521adcbb" @click="showWindow('6e8f3a4f-239d-48a5-8910-a58e521adcbb')" v-bind:class="[returnActivePlaceClass('6e8f3a4f-239d-48a5-8910-a58e521adcbb')]" class="cls-4" points="316.79 107.69 413.63 107.69 413.63 141.98 351.08 141.98 316.79 107.69"/>
          <rect id="4feb26f0-7ed7-4e6d-97a7-f8b519b4b2bc" @click="showWindow('4feb26f0-7ed7-4e6d-97a7-f8b519b4b2bc')" v-bind:class="[returnActivePlaceClass('4feb26f0-7ed7-4e6d-97a7-f8b519b4b2bc')]" class="cls-4" x="586.06" y="484.53" width="17" height="28.34" transform="translate(-475.64 234.12) rotate(-45)"/>
          <rect id="5d241282-188a-44c1-af8e-afbba6a3c88f" @click="showWindow('5d241282-188a-44c1-af8e-afbba6a3c88f')" v-bind:class="[returnActivePlaceClass('5d241282-188a-44c1-af8e-afbba6a3c88f')]" class="cls-4" x="509.11" y="521.33" width="24.94" height="46.47" transform="translate(-529.45 195.95) rotate(-45)"/>
          <polygon id="226f477e-8883-452a-893d-9ffc1d34388c" @click="showWindow('226f477e-8883-452a-893d-9ffc1d34388c')" v-bind:class="[returnActivePlaceClass('226f477e-8883-452a-893d-9ffc1d34388c')]" class="cls-4" points="119.43 241.01 132.66 227.79 155.3 250.43 157.22 248.51 196.81 288.1 192.45 292.46 197.79 297.8 180.19 315.4 123.04 258.25 129.85 251.43 119.43 241.01"/>
          <rect id="f748ca46-6a79-4306-8ab2-10f8855241e8" @click="showWindow('f748ca46-6a79-4306-8ab2-10f8855241e8')" v-bind:class="[returnActivePlaceClass('f748ca46-6a79-4306-8ab2-10f8855241e8')]" class="cls-4" x="481.21" y="643.62" width="18.66" height="18.66" transform="translate(-615.18 205.74) rotate(-45)"/>
          <polygon id="737f547a-6b84-4a28-b7cd-795e85f9cdc8" @click="showWindow('737f547a-6b84-4a28-b7cd-795e85f9cdc8')" v-bind:class="[returnActivePlaceClass('737f547a-6b84-4a28-b7cd-795e85f9cdc8')]" class="cls-4" points="173.82 397.44 218.12 353.14 291.33 385.81 226.76 450.38 173.82 397.44"/>
          <rect id="95a55d7a-4051-4155-a088-00beb9a80c46" @click="showWindow('95a55d7a-4051-4155-a088-00beb9a80c46')" v-bind:class="[returnActivePlaceClass('95a55d7a-4051-4155-a088-00beb9a80c46')]" class="cls-4" x="293.71" y="363.19" width="26.07" height="19.84"/>
          <rect id="2e7ceeea-440c-4656-95fa-e33cf75039ee" @click="showWindow('2e7ceeea-440c-4656-95fa-e33cf75039ee')" v-bind:class="[returnActivePlaceClass('2e7ceeea-440c-4656-95fa-e33cf75039ee')]" class="cls-4" x="349.74" y="415.49" width="24.71" height="52.14"/>
          <polygon id="1195d9c7-23db-4393-9b83-dc49a43de5a1" @click="showWindow('1195d9c7-23db-4393-9b83-dc49a43de5a1')" v-bind:class="[returnActivePlaceClass('1195d9c7-23db-4393-9b83-dc49a43de5a1')]" class="cls-4" points="290.47 386.67 300.37 391.09 300.61 391.09 322.6 391.09 322.6 457.24 298.82 457.24 282.79 473.26 283.59 474.07 268.62 489.04 228.37 448.78 290.47 386.67"/>
          <polygon id="36e1c670-4aa9-4a4b-9fbd-6b804b653a3b" @click="showWindow('36e1c670-4aa9-4a4b-9fbd-6b804b653a3b')" v-bind:class="[returnActivePlaceClass('36e1c670-4aa9-4a4b-9fbd-6b804b653a3b')]" class="cls-4" points="323.74 459.5 323.74 501.25 277.98 547.01 244.31 513.34 283.59 474.07 282.79 473.26 296.52 459.5 323.74 459.5"/>
          <polygon id="9d2b813d-2627-4b7f-8e36-e4ac9ab9a630" @click="showWindow('9d2b813d-2627-4b7f-8e36-e4ac9ab9a630')" v-bind:class="[returnActivePlaceClass('9d2b813d-2627-4b7f-8e36-e4ac9ab9a630')]" class="cls-4" points="247.52 513.34 276.77 542.6 322.6 496.77 322.6 559.38 309.31 572.67 307.39 574.59 305.67 572.81 300.86 577.62 302.87 579.62 248.08 634.41 243.27 639.22 238.08 644.41 209.23 612.41 181.04 579.82 186.27 574.59 202.34 558.52 247.52 513.34"/>
          <polygon id="0e4a3d13-cffb-46bc-8eef-897a7d2fdcfd" @click="showWindow('0e4a3d13-cffb-46bc-8eef-897a7d2fdcfd')" v-bind:class="[returnActivePlaceClass('0e4a3d13-cffb-46bc-8eef-897a7d2fdcfd')]" class="cls-4" points="411.7 395.59 411.7 394.59 515.77 420.59 515.77 491.98 487.82 491.98 487.82 603.08 478.51 602.67 469.27 601.47 460.16 599.49 451.25 596.76 442.6 593.28 434.27 589.08 426.33 584.2 421.52 579.39 416.9 574.76 412.85 569.62 409.43 564.04 406.69 558.11 404.66 551.89 403.37 545.47 402.84 538.95 402.84 501.05 402.63 501.05 402.63 491.98 402.63 395.59 411.7 395.59"/>
          <rect id="bf496d24-4afb-4a5d-9661-5af191794093" @click="showWindow('bf496d24-4afb-4a5d-9661-5af191794093')" v-bind:class="[returnActivePlaceClass('bf496d24-4afb-4a5d-9661-5af191794093')]" class="cls-4" x="358.06" y="503.32" width="25.1" height="25.1"/>
          <polygon id="1a17f6d4-4bbd-4a6e-bb06-dfb79ecb5be3" @click="showWindow('1a17f6d4-4bbd-4a6e-bb06-dfb79ecb5be3')" v-bind:class="[returnActivePlaceClass('1a17f6d4-4bbd-4a6e-bb06-dfb79ecb5be3')]" class="cls-4" points="515.5 189.93 580.89 189.93 580.89 210.85 547.45 210.85 515.5 189.93"/>
          <polygon id="d342b6a5-fc1b-4feb-a678-46d653300a0a" @click="showWindow('d342b6a5-fc1b-4feb-a678-46d653300a0a')" v-bind:class="[returnActivePlaceClass('d342b6a5-fc1b-4feb-a678-46d653300a0a')]" class="cls-4" points="615.75 185.91 615.75 179.67 661.09 179.67 661.09 213.68 615.75 213.68 615.75 185.91"/>
          <rect id="5db803e0-35ff-4c0d-9c5d-74fa734f8dcd" @click="showWindow('5db803e0-35ff-4c0d-9c5d-74fa734f8dcd')" v-bind:class="[returnActivePlaceClass('5db803e0-35ff-4c0d-9c5d-74fa734f8dcd')]" class="cls-4" x="595.76" y="194.98" width="19.99" height="15.37"/>
          <rect id="79470215-03ea-4a54-ad44-74627d2b4192" @click="showWindow('79470215-03ea-4a54-ad44-74627d2b4192')" v-bind:class="[returnActivePlaceClass('79470215-03ea-4a54-ad44-74627d2b4192')]" class="cls-4" x="599.3" y="248.74" width="23.84" height="23.85"/>
          <rect id="0cc1dd71-162a-4937-bed2-58b2121805fc" @click="showWindow('0cc1dd71-162a-4937-bed2-58b2121805fc')" v-bind:class="[returnActivePlaceClass('0cc1dd71-162a-4937-bed2-58b2121805fc')]" class="cls-4" x="623.15" y="249.91" width="22.67" height="22.67"/>
          <rect id="8a116c67-3808-4a1c-9646-85d4f2ab070e" @click="showWindow('8a116c67-3808-4a1c-9646-85d4f2ab070e')" v-bind:class="[returnActivePlaceClass('8a116c67-3808-4a1c-9646-85d4f2ab070e')]" class="cls-4" x="668.86" y="272.58" width="18.7" height="41.37"/>
          <polygon id="50ed475b-e14f-4872-a219-9600a6cae9cf" @click="showWindow('50ed475b-e14f-4872-a219-9600a6cae9cf')" v-bind:class="[returnActivePlaceClass('50ed475b-e14f-4872-a219-9600a6cae9cf')]" class="cls-4" points="611.78 395.06 644.77 395.06 644.77 495.94 615.75 495.94 611.78 495.94 611.78 399.02 611.78 395.06"/>
          <rect id="86accda7-fda3-4af8-be31-3582f65938bd" @click="showWindow('86accda7-fda3-4af8-be31-3582f65938bd')" v-bind:class="[returnActivePlaceClass('86accda7-fda3-4af8-be31-3582f65938bd')]" class="cls-4" x="668.86" y="480.72" width="19.55" height="39.67"/>
          <polygon id="f32200be-24b9-4bd8-b483-bf38f114aa7d" @click="showWindow('f32200be-24b9-4bd8-b483-bf38f114aa7d')" v-bind:class="[returnActivePlaceClass('f32200be-24b9-4bd8-b483-bf38f114aa7d')]" class="cls-4" points="645.22 497.08 645.22 601.93 638.86 601.93 625.39 601.93 625.39 598.54 615.75 598.54 612.35 598.54 612.35 497.08 615.75 497.08 645.22 497.08"/>
          <rect id="50074e5f-de57-46fd-a4d8-5bd334b8b39d" @click="showWindow('50074e5f-de57-46fd-a4d8-5bd334b8b39d')" v-bind:class="[returnActivePlaceClass('50074e5f-de57-46fd-a4d8-5bd334b8b39d')]" class="cls-4" x="603.28" y="603.07" width="45.34" height="22.67"/>
          <rect id="83c5ba21-cb13-40c4-8759-58fb8f1463ad" @click="showWindow('83c5ba21-cb13-40c4-8759-58fb8f1463ad')" v-bind:class="[returnActivePlaceClass('83c5ba21-cb13-40c4-8759-58fb8f1463ad')]" class="cls-4" x="680.09" y="919.35" width="22.67" height="45.34" transform="translate(-760.75 432.46) rotate(-45)"/>
          <rect id="e5948321-95fa-4798-919b-d2457c268f86" @click="showWindow('e5948321-95fa-4798-919b-d2457c268f86')" v-bind:class="[returnActivePlaceClass('e5948321-95fa-4798-919b-d2457c268f86')]" class="cls-4" x="737" y="976.26" width="22.67" height="45.34" transform="translate(-784.32 489.37) rotate(-45)"/>
          <rect id="c9a0e9b5-7e5f-4da6-9f31-bfc0247ad3a5" @click="showWindow('c9a0e9b5-7e5f-4da6-9f31-bfc0247ad3a5')" v-bind:class="[returnActivePlaceClass('c9a0e9b5-7e5f-4da6-9f31-bfc0247ad3a5')]" class="cls-4" x="835.69" y="998.86" width="40.81" height="40.81" transform="translate(-768.06 791.08) rotate(-54.46)"/>
          <rect id="adefe0b1-d94a-4b27-805f-2f56018f1d57" @click="showWindow('adefe0b1-d94a-4b27-805f-2f56018f1d57')" v-bind:class="[returnActivePlaceClass('adefe0b1-d94a-4b27-805f-2f56018f1d57')]" class="cls-4" x="589.93" y="707.05" width="23.92" height="19.93"/>
          <polygon id="374b0eb2-e6ed-4d07-a9f0-cf90f571604d" @click="showWindow('374b0eb2-e6ed-4d07-a9f0-cf90f571604d')" v-bind:class="[returnActivePlaceClass('374b0eb2-e6ed-4d07-a9f0-cf90f571604d')]" class="cls-4" points="615.75 699.38 615.75 692.62 638.28 692.62 638.28 715.16 615.75 715.16 615.75 699.38"/>
          <rect id="6e74d203-96ba-431d-9972-d078df3c92f9" @click="showWindow('6e74d203-96ba-431d-9972-d078df3c92f9')" v-bind:class="[returnActivePlaceClass('6e74d203-96ba-431d-9972-d078df3c92f9')]" class="cls-4" x="626.78" y="653.7" width="45.34" height="22.67"/>
          <polygon id="ee3d2f60-2a45-436c-a35a-f08174e6a252" @click="showWindow('ee3d2f60-2a45-436c-a35a-f08174e6a252')" v-bind:class="[returnActivePlaceClass('ee3d2f60-2a45-436c-a35a-f08174e6a252')]" class="cls-4" points="309.78 573.81 322.6 560.98 322.6 591.64 367.94 636.98 363.37 641.55 308.03 696.89 303.22 701.7 298.01 706.9 268.12 676.38 238.85 645.25 244.07 640.02 248.88 635.21 303.67 580.43 303.42 580.17 308.23 575.36 309.78 573.81"/>
          <polygon id="73bf7b38-a099-4fdf-85eb-84eb34c98b84" @click="showWindow('73bf7b38-a099-4fdf-85eb-84eb34c98b84')" v-bind:class="[returnActivePlaceClass('73bf7b38-a099-4fdf-85eb-84eb34c98b84')]" class="cls-4" points="363.94 642.11 364.17 642.35 368.98 637.54 430.2 698.76 425.39 703.57 371.32 757.64 370.51 756.84 365.7 761.65 366.51 762.45 361.32 767.64 329.76 738 298.82 707.71 304.02 702.51 308.83 697.7 308.59 697.45 363.94 642.11"/>
          <polygon id="e5cca667-c90d-4bfc-bfe7-20d705116ce4" @click="showWindow('e5cca667-c90d-4bfc-bfe7-20d705116ce4')" v-bind:class="[returnActivePlaceClass('e5cca667-c90d-4bfc-bfe7-20d705116ce4')]" class="cls-4" points="427.39 705.57 431.4 701.57 487.81 757.97 483.8 761.98 485.81 763.98 435.55 814.24 433.54 812.24 431.14 814.64 431.54 815.04 423.75 822.83 361.32 767.64 366.51 762.45 368.51 764.45 373.32 759.65 371.32 757.64 425.39 703.57 427.39 705.57"/>
          <polygon id="65ab9384-7bfa-4188-be9d-9adb31452bea" @click="showWindow('65ab9384-7bfa-4188-be9d-9adb31452bea')" v-bind:class="[returnActivePlaceClass('65ab9384-7bfa-4188-be9d-9adb31452bea')]" class="cls-4" points="428.53 826.87 438.35 817.04 436.35 815.04 486.61 764.78 488.61 766.79 492.62 762.78 500.67 770.83 593.71 770.83 593.71 774.8 603.05 774.8 603.05 774.23 612.03 774.23 612.03 781.27 657.52 843.55 638.73 862.34 640.33 863.94 737.85 961.45 714.57 984.73 708.24 978.4 678.56 1008.08 641.48 984.63 604.9 960.41 568.84 935.43 559.71 928.93 526.16 904.39 493.11 879.2 460.56 853.35 428.53 826.87"/>
          <rect id="4551cd80-37f4-406a-b046-47765f1c4661" @click="showWindow('4551cd80-37f4-406a-b046-47765f1c4661')" v-bind:class="[returnActivePlaceClass('4551cd80-37f4-406a-b046-47765f1c4661')]" class="cls-4" x="668.86" y="376.87" width="18.7" height="41.37"/>
          <polygon id="b3f8d773-76dd-43de-a37a-d6951dd3e72d" @click="showWindow('b3f8d773-76dd-43de-a37a-d6951dd3e72d')" v-bind:class="[returnActivePlaceClass('b3f8d773-76dd-43de-a37a-d6951dd3e72d')]" class="cls-4" points="158.51 484.73 215.72 541.94 200.74 556.91 199.94 556.11 183.87 572.18 184.67 572.99 179.57 578.08 153.63 546.76 128.29 514.95 158.51 484.73"/>
          <path id="d9cbd148-8622-45e8-beed-6cb33c088aed" @click="showWindow('d9cbd148-8622-45e8-beed-6cb33c088aed')" v-bind:class="[returnActivePlaceClass('d9cbd148-8622-45e8-beed-6cb33c088aed')]" class="cls-4" d="M1642,454.23V352.77h137.2v75h164.26v46.81h-12.64v28.8h28.29v11.45h127.52V472.93h32.42v29.58l-.4,5.69-1.22,5.58-2,5.35-2.74,5-3.42,4.56-4,4-4.57,3.42-5,2.73-5.35,2-5.57,1.21-5.69.41H2029.2v178h169.34V628.8h6.57v-6.52h26.64v6.52h3.46v94.09h-3.46v7.93H2235v94.09h-3.26v7.94h73.69v354.24h-65.75V1182H2234V1087.9h5.67V1080h-42.51v107.12h-54.34V840.16l-.47-9.13-1.43-9-2.37-8.83-3.27-8.53-4.15-8.14-5-7.66-5.74-7.1-6.46-6.46-7.11-5.75-7.66-5-8.14-4.14-8.53-3.28-8.82-2.36-9-1.43-9.12-.48h-35L1969,804.56v6.18h-.85V1080h-44.13v42.51H1792v64.61h-22.14v-5.16h-5.63v-54H1720V809.66h13.54V757.12h-12.13V519.56l7.65,0h10.83V482.17H1676V454.23Z" transform="translate(-297.15 -332.36)"/>
        </g>
        <g id="STAIR">
          <rect class="cls-6" x="697" y="569.04" width="19.06" height="2.24" transform="translate(-493.38 334.22) rotate(-45)"/>
          <rect class="cls-6" x="701.68" y="573.69" width="19.06" height="2.24" transform="translate(-495.29 338.89) rotate(-45)"/>
          <rect class="cls-6" x="692.37" y="564.44" width="19.06" height="2.23" transform="translate(-491.48 329.61) rotate(-45)"/>
          <rect class="cls-6" x="687.75" y="559.75" width="19.06" height="2.24" transform="translate(-489.51 324.97) rotate(-45)"/>
          <rect class="cls-6" x="706.35" y="578.34" width="19.06" height="2.23" transform="translate(-497.21 343.57) rotate(-45)"/>
          <rect class="cls-6" x="710.98" y="583.04" width="19.06" height="2.24" transform="translate(-499.18 348.2) rotate(-45)"/>
          <rect class="cls-6" x="715.61" y="587.64" width="19.06" height="2.23" transform="translate(-501.07 352.82) rotate(-45)"/>
          <rect class="cls-6" x="720.29" y="592.29" width="19.06" height="2.23" transform="translate(-502.99 357.5) rotate(-45)"/>
          <rect class="cls-6" x="727.83" y="518.4" width="2.23" height="124.43" transform="translate(-494.2 353.14) rotate(-45)"/>
          <rect class="cls-6" x="715.97" y="530.31" width="2.23" height="124.43" transform="translate(-506.1 348.24) rotate(-45)"/>
          <rect class="cls-6" x="669.14" y="541.16" width="19.06" height="2.24" transform="translate(-481.82 306.36) rotate(-45)"/>
          <polygon class="cls-7" points="388.83 224.43 396.06 224.43 396.06 224.43 396.06 224.43 396.06 217.19 393.82 217.19 393.82 220.61 386.13 212.92 384.56 214.5 392.25 222.19 388.83 222.19 388.83 224.43"/>
          <rect class="cls-6" x="724.91" y="596.98" width="19.06" height="2.24" transform="translate(-504.96 362.13) rotate(-45)"/>
          <rect class="cls-6" x="729.54" y="601.58" width="19.06" height="2.23" transform="translate(-506.85 366.77) rotate(-45)"/>
          <rect class="cls-6" x="734.22" y="606.23" width="19.06" height="2.23" transform="translate(-508.77 371.44) rotate(-45)"/>
          <rect class="cls-6" x="738.89" y="610.88" width="19.06" height="2.23" transform="translate(-510.69 376.1) rotate(-45)"/>
          <rect class="cls-6" x="743.52" y="615.57" width="19.06" height="2.23" transform="translate(-512.65 380.74) rotate(-45)"/>
          <rect class="cls-6" x="748.15" y="620.17" width="19.06" height="2.24" transform="translate(-514.55 385.37) rotate(-45)"/>
          <rect class="cls-6" x="752.82" y="624.82" width="19.06" height="2.23" transform="translate(-516.47 390.05) rotate(-45)"/>
          <rect class="cls-6" x="757.45" y="629.52" width="19.06" height="2.24" transform="translate(-518.43 394.68) rotate(-45)"/>
          <rect class="cls-6" x="709.28" y="556.76" width="19.06" height="2.24" transform="translate(-481.1 339.3) rotate(-45)"/>
          <rect class="cls-6" x="713.96" y="561.41" width="19.06" height="2.24" transform="translate(-483.01 343.98) rotate(-45)"/>
          <rect class="cls-6" x="704.66" y="552.16" width="19.06" height="2.24" transform="translate(-479.2 334.69) rotate(-45)"/>
          <rect class="cls-6" x="700.03" y="547.47" width="19.06" height="2.24" transform="translate(-477.23 330.06) rotate(-45)"/>
          <rect class="cls-6" x="718.63" y="566.06" width="19.06" height="2.23" transform="translate(-484.93 348.66) rotate(-45)"/>
          <rect class="cls-6" x="723.26" y="570.75" width="19.06" height="2.24" transform="translate(-486.9 353.29) rotate(-45)"/>
          <rect class="cls-6" x="727.89" y="575.36" width="19.06" height="2.24" transform="translate(-488.79 357.91) rotate(-45)"/>
          <rect class="cls-6" x="732.57" y="580" width="19.06" height="2.23" transform="translate(-490.71 362.58) rotate(-45)"/>
          <rect class="cls-6" x="740.11" y="506.12" width="2.23" height="124.43" transform="translate(-481.92 358.23) rotate(-45)"/>
          <rect class="cls-6" x="728.25" y="518.03" width="2.23" height="124.43" transform="translate(-493.82 353.32) rotate(-45)"/>
          <rect class="cls-6" x="681.42" y="528.87" width="19.06" height="2.23" transform="translate(-469.54 311.44) rotate(-45)"/>
          <polygon class="cls-7" points="401.11 212.15 408.34 212.15 408.34 212.15 408.34 212.15 408.34 204.91 406.11 204.91 406.11 208.33 398.42 200.64 396.84 202.22 404.53 209.91 401.11 209.91 401.11 212.15"/>
          <rect class="cls-6" x="737.19" y="584.7" width="19.06" height="2.24" transform="translate(-492.67 367.22) rotate(-45)"/>
          <rect class="cls-6" x="741.82" y="589.3" width="19.06" height="2.23" transform="translate(-494.57 371.85) rotate(-45)"/>
          <rect class="cls-6" x="746.5" y="593.95" width="19.06" height="2.23" transform="translate(-496.49 376.53) rotate(-45)"/>
          <rect class="cls-6" x="751.17" y="598.6" width="19.06" height="2.23" transform="translate(-498.41 381.19) rotate(-45)"/>
          <rect class="cls-6" x="755.8" y="603.29" width="19.06" height="2.23" transform="translate(-500.37 385.82) rotate(-45)"/>
          <rect class="cls-6" x="760.43" y="607.89" width="19.06" height="2.24" transform="translate(-502.27 390.46) rotate(-45)"/>
          <rect class="cls-6" x="765.11" y="612.54" width="19.06" height="2.23" transform="translate(-504.18 395.13) rotate(-45)"/>
          <rect class="cls-6" x="769.73" y="617.24" width="19.06" height="2.23" transform="translate(-506.15 399.77) rotate(-45)"/>
          <rect class="cls-6" x="483.54" y="835.07" width="30.26" height="2.47" transform="translate(-738.32 249.41) rotate(-44.04)"/>
          <rect class="cls-6" x="478.49" y="829.85" width="30.26" height="2.47" transform="translate(-736.11 244.43) rotate(-44.04)"/>
          <rect class="cls-6" x="488.58" y="840.29" width="30.26" height="2.47" transform="translate(-740.52 254.38) rotate(-44.04)"/>
          <rect class="cls-6" x="495.01" y="835.65" width="2.47" height="36.29" transform="matrix(0.72, -0.7, 0.7, 0.72, -751.16, 252.66)"/>
          <rect class="cls-6" x="514.99" y="816.33" width="2.47" height="36.29" transform="translate(-732.11 261.12) rotate(-44.04)"/>
          <rect class="cls-6" x="503.72" y="855.94" width="30.26" height="2.47" transform="translate(-747.15 269.3) rotate(-44.04)"/>
          <polygon class="cls-7" points="217.31 512.49 209.31 512.36 209.31 512.36 209.31 512.36 209.17 520.36 211.64 520.4 211.7 516.61 217.05 522.14 218.82 520.42 213.47 514.89 217.27 514.96 217.31 512.49"/>
          <rect class="cls-6" x="1046.83" y="1379.2" width="24.2" height="1.97" transform="translate(-958.89 791.78) rotate(-44.04)"/>
          <rect class="cls-6" x="1042.8" y="1375.03" width="24.2" height="1.97" transform="translate(-957.12 787.79) rotate(-44.04)"/>
          <rect class="cls-6" x="1050.87" y="1383.38" width="24.2" height="1.97" transform="translate(-960.65 795.76) rotate(-44.04)"/>
          <rect class="cls-6" x="1056.01" y="1379.67" width="1.97" height="29.02" transform="translate(-969.15 794.35) rotate(-44.04)"/>
          <rect class="cls-6" x="1071.99" y="1364.21" width="1.97" height="29.02" transform="translate(-953.92 801.12) rotate(-44.04)"/>
          <rect class="cls-6" x="1062.97" y="1395.89" width="24.2" height="1.97" transform="translate(-965.95 807.71) rotate(-44.04)"/>
          <polygon class="cls-7" points="774.41 1054.67 768.01 1054.56 768.01 1054.56 768.01 1054.56 767.9 1060.96 769.87 1060.99 769.92 1057.96 774.2 1062.38 775.62 1061.01 771.34 1056.59 774.38 1056.64 774.41 1054.67"/>
          <rect class="cls-6" x="780.02" y="804.65" width="24.2" height="1.97"/>
          <rect class="cls-6" x="780.02" y="798.85" width="24.2" height="1.97"/>
          <rect class="cls-6" x="780.02" y="810.46" width="24.2" height="1.97"/>
          <rect class="cls-6" x="780.01" y="799.84" width="1.97" height="29.02"/>
          <rect class="cls-6" x="802.24" y="799.84" width="1.97" height="29.02"/>
          <rect class="cls-6" x="780.02" y="827.87" width="24.2" height="1.97"/>
          <polygon class="cls-7" points="796.44 819.34 791.91 814.81 791.91 814.81 791.91 814.81 787.39 819.34 788.78 820.73 790.93 818.58 790.93 824.73 792.9 824.73 792.9 818.58 795.05 820.73 796.44 819.34"/>
          <rect class="cls-6" x="1900.03" y="833.34" width="16.04" height="1.31"/>
          <rect class="cls-6" x="1900.03" y="829.5" width="16.04" height="1.31"/>
          <rect class="cls-6" x="1900.03" y="837.19" width="16.04" height="1.31"/>
          <rect class="cls-6" x="1900.03" y="830.15" width="1.31" height="19.23"/>
          <rect class="cls-6" x="1914.76" y="830.15" width="1.31" height="19.23"/>
          <rect class="cls-6" x="1900.03" y="848.73" width="16.04" height="1.31"/>
          <polygon class="cls-7" points="1910.92 843.08 1907.91 840.08 1907.91 840.08 1907.91 840.08 1904.91 843.08 1905.84 844 1907.26 842.58 1907.26 846.65 1908.57 846.65 1908.57 842.58 1909.99 844 1910.92 843.08"/>
          <rect class="cls-6" x="1366.92" y="817.03" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1361.12" y="817.03" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1372.72" y="817.03" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1362.1" y="839.26" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1362.1" y="817.03" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1390.14" y="817.03" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="1381.6 824.81 1377.08 829.34 1377.08 829.34 1377.08 829.34 1381.6 833.86 1383 832.47 1380.85 830.32 1387 830.32 1387 828.35 1380.85 828.35 1383 826.2 1381.6 824.81"/>
          <rect class="cls-6" x="1494.48" y="68.63" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1488.68" y="68.63" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1500.28" y="68.63" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1489.66" y="90.86" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1489.66" y="68.63" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1517.69" y="68.63" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="1509.16 76.41 1504.64 80.94 1504.64 80.94 1504.64 80.94 1509.16 85.46 1510.56 84.07 1508.41 81.92 1514.56 81.92 1514.56 79.95 1508.41 79.95 1510.56 77.8 1509.16 76.41"/>
          <rect class="cls-6" x="328.67" y="60.95" width="1.65" height="20.21"/>
          <rect class="cls-6" x="323.83" y="60.95" width="1.65" height="20.21"/>
          <rect class="cls-6" x="333.52" y="60.95" width="1.65" height="20.21"/>
          <rect class="cls-6" x="324.65" y="79.52" width="24.24" height="1.65"/>
          <rect class="cls-6" x="324.65" y="60.95" width="24.24" height="1.65"/>
          <rect class="cls-6" x="348.06" y="60.95" width="1.65" height="20.21"/>
          <polygon class="cls-7" points="340.94 67.45 337.16 71.23 337.16 71.23 337.16 71.23 340.94 75.01 342.1 73.85 340.31 72.06 345.44 72.06 345.44 70.41 340.31 70.41 342.1 68.61 340.94 67.45"/>
          <rect class="cls-6" x="384.05" y="629.61" width="25.11" height="2.05" transform="translate(-624.03 120.63) rotate(-44.04)"/>
          <rect class="cls-6" x="379.86" y="625.28" width="25.11" height="2.05" transform="translate(-622.2 116.51) rotate(-44.04)"/>
          <rect class="cls-6" x="388.23" y="633.93" width="25.11" height="2.05" transform="translate(-625.87 124.76) rotate(-44.04)"/>
          <rect class="cls-6" x="393.57" y="630.08" width="2.05" height="30.11" transform="translate(-634.68 123.3) rotate(-44.04)"/>
          <rect class="cls-6" x="410.15" y="614.05" width="2.05" height="30.11" transform="translate(-618.89 130.39) rotate(-44.04)"/>
          <rect class="cls-6" x="400.79" y="646.92" width="25.11" height="2.05" transform="translate(-631.37 137.14) rotate(-44.04)"/>
          <polygon class="cls-7" points="112.56 305.36 105.91 305.25 105.91 305.25 105.91 305.25 105.8 311.89 107.85 311.93 107.9 308.78 112.34 313.37 113.81 311.94 109.37 307.35 112.52 307.41 112.56 305.36"/>
          <rect class="cls-6" x="510.41" y="809.09" width="30.26" height="2.47" transform="translate(-712.7 260.78) rotate(-44.04)"/>
          <rect class="cls-6" x="505.36" y="803.87" width="30.26" height="2.47" transform="translate(-710.49 255.8) rotate(-44.04)"/>
          <rect class="cls-6" x="515.45" y="814.31" width="30.26" height="2.47" transform="translate(-714.91 265.75) rotate(-44.04)"/>
          <rect class="cls-6" x="521.88" y="809.67" width="2.47" height="36.29" transform="matrix(0.72, -0.7, 0.7, 0.72, -725.54, 264.03)"/>
          <rect class="cls-6" x="541.86" y="790.34" width="2.47" height="36.29" transform="translate(-706.47 272.38) rotate(-44.03)"/>
          <rect class="cls-6" x="530.58" y="829.96" width="30.26" height="2.47" transform="translate(-721.53 280.67) rotate(-44.04)"/>
          <polygon class="cls-7" points="236.85 495.11 244.85 495.25 244.8 495.2 244.85 495.25 244.99 487.24 242.53 487.2 242.41 490.95 237.11 485.47 235.34 487.19 240.64 492.66 236.89 492.65 236.85 495.11"/>
          <rect class="cls-6" x="1068.32" y="1358.43" width="24.2" height="1.97" transform="translate(-938.4 800.86) rotate(-44.04)"/>
          <rect class="cls-6" x="1064.28" y="1354.25" width="24.2" height="1.97" transform="translate(-936.64 796.9) rotate(-44.04)"/>
          <rect class="cls-6" x="1072.35" y="1362.6" width="24.2" height="1.97" transform="translate(-940.17 804.87) rotate(-44.04)"/>
          <rect class="cls-6" x="1077.49" y="1358.89" width="1.97" height="29.02" transform="translate(-948.65 803.33) rotate(-44.04)"/>
          <rect class="cls-6" x="1093.47" y="1343.44" width="1.97" height="29.02" transform="translate(-933.41 810.03) rotate(-44.03)"/>
          <rect class="cls-6" x="1084.45" y="1375.11" width="24.2" height="1.97" transform="translate(-945.47 816.8) rotate(-44.04)"/>
          <polygon class="cls-7" points="790.03 1040.77 796.44 1040.88 796.4 1040.83 796.44 1040.88 796.54 1034.47 794.57 1034.44 794.48 1037.44 790.25 1033.06 788.83 1034.43 793.06 1038.81 790.07 1038.8 790.03 1040.77"/>
          <rect class="cls-6" x="809.9" y="804.65" width="24.2" height="1.97"/>
          <rect class="cls-6" x="809.9" y="798.85" width="24.2" height="1.97"/>
          <rect class="cls-6" x="809.9" y="810.46" width="24.2" height="1.97"/>
          <rect class="cls-6" x="809.9" y="799.84" width="1.97" height="29.02"/>
          <rect class="cls-6" x="832.13" y="799.84" width="1.97" height="29.02"/>
          <rect class="cls-6" x="809.9" y="827.87" width="24.2" height="1.97"/>
          <polygon class="cls-7" points="817.33 820.21 821.86 824.73 821.86 824.67 821.86 824.73 826.39 820.21 824.99 818.81 822.85 820.9 822.85 814.81 820.87 814.81 820.87 820.9 818.73 818.81 817.33 820.21"/>
          <rect class="cls-6" x="1919.84" y="833.34" width="16.04" height="1.31"/>
          <rect class="cls-6" x="1919.84" y="829.5" width="16.04" height="1.31"/>
          <rect class="cls-6" x="1919.84" y="837.19" width="16.04" height="1.31"/>
          <rect class="cls-6" x="1919.84" y="830.15" width="1.31" height="19.23"/>
          <rect class="cls-6" x="1934.57" y="830.15" width="1.31" height="19.23"/>
          <rect class="cls-6" x="1919.84" y="848.73" width="16.04" height="1.31"/>
          <polygon class="cls-7" points="1924.77 843.65 1927.77 846.65 1927.77 846.61 1927.77 846.65 1930.77 843.65 1929.84 842.73 1928.42 844.11 1928.42 840.08 1927.11 840.08 1927.11 844.11 1925.69 842.73 1924.77 843.65"/>
          <rect class="cls-6" x="1366.92" y="787.32" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1361.12" y="787.32" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1372.72" y="787.32" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1362.1" y="809.55" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1362.1" y="787.32" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1390.14" y="787.32" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="1382.47 804.09 1387 799.57 1386.94 799.57 1387 799.57 1382.47 795.04 1381.08 796.43 1383.17 798.58 1377.08 798.58 1377.08 800.55 1383.17 800.55 1381.08 802.7 1382.47 804.09"/>
          <rect class="cls-6" x="1494.48" y="38.92" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1488.68" y="38.92" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1500.28" y="38.92" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1489.66" y="61.15" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1489.66" y="38.92" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1517.69" y="38.92" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="1510.03 55.69 1514.56 51.16 1514.5 51.16 1514.56 51.16 1510.03 46.64 1508.64 48.03 1510.73 50.18 1504.64 50.18 1504.64 52.15 1510.73 52.15 1508.64 54.3 1510.03 55.69"/>
          <rect class="cls-6" x="328.67" y="36.14" width="1.65" height="20.21"/>
          <rect class="cls-6" x="323.83" y="36.14" width="1.65" height="20.21"/>
          <rect class="cls-6" x="333.52" y="36.14" width="1.65" height="20.21"/>
          <rect class="cls-6" x="324.65" y="54.7" width="24.24" height="1.65"/>
          <rect class="cls-6" x="324.65" y="36.14" width="24.24" height="1.65"/>
          <rect class="cls-6" x="348.06" y="36.14" width="1.65" height="20.21"/>
          <polygon class="cls-7" points="341.67 50.15 345.44 46.37 345.4 46.37 345.44 46.37 341.67 42.59 340.5 43.75 342.25 45.54 337.16 45.54 337.16 47.19 342.25 47.19 340.5 48.98 341.67 50.15"/>
          <rect class="cls-6" x="1366.92" y="846.74" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1361.12" y="846.74" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1372.72" y="846.74" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1362.1" y="868.97" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1362.1" y="846.74" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1390.14" y="846.74" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="1382.47 863.52 1387 858.99 1386.94 858.99 1387 858.99 1382.47 854.46 1381.08 855.86 1383.17 858 1377.08 858 1377.08 859.98 1383.17 859.98 1381.08 862.12 1382.47 863.52"/>
          <rect class="cls-6" x="328.67" y="85.77" width="1.65" height="20.21"/>
          <rect class="cls-6" x="323.83" y="85.77" width="1.65" height="20.21"/>
          <rect class="cls-6" x="333.52" y="85.77" width="1.65" height="20.21"/>
          <rect class="cls-6" x="324.65" y="104.34" width="24.24" height="1.65"/>
          <rect class="cls-6" x="324.65" y="85.77" width="24.24" height="1.65"/>
          <rect class="cls-6" x="348.06" y="85.77" width="1.65" height="20.21"/>
          <polygon class="cls-7" points="341.67 99.78 345.44 96 345.4 96 345.44 96 341.67 92.22 340.5 93.38 342.25 95.17 337.16 95.17 337.16 96.82 342.25 96.82 340.5 98.61 341.67 99.78"/>
          <rect class="cls-6" x="936.75" y="1192.1" width="24.2" height="1.97" transform="translate(-859.77 662.64) rotate(-44.04)"/>
          <rect class="cls-6" x="932.72" y="1187.93" width="24.2" height="1.97" transform="translate(-858.01 658.68) rotate(-44.04)"/>
          <rect class="cls-6" x="940.79" y="1196.27" width="24.2" height="1.97" transform="translate(-861.54 666.65) rotate(-44.04)"/>
          <rect class="cls-6" x="945.93" y="1192.56" width="1.97" height="29.02" transform="translate(-870.02 665.14) rotate(-44.04)"/>
          <rect class="cls-6" x="961.91" y="1177.11" width="1.97" height="29.02" transform="translate(-854.79 671.89) rotate(-44.04)"/>
          <rect class="cls-6" x="952.89" y="1208.79" width="24.2" height="1.97" transform="translate(-866.84 678.58) rotate(-44.04)"/>
          <polygon class="cls-7" points="658.47 874.44 664.87 874.55 664.83 874.51 664.87 874.55 664.98 868.15 663.01 868.12 662.92 871.11 658.68 866.73 657.26 868.1 661.5 872.48 658.5 872.47 658.47 874.44"/>
          <rect class="cls-6" x="406.34" y="608.05" width="25.11" height="2.05" transform="translate(-602.78 130.07) rotate(-44.04)"/>
          <rect class="cls-6" x="402.15" y="603.72" width="25.11" height="2.05" transform="translate(-600.95 125.94) rotate(-44.04)"/>
          <rect class="cls-6" x="410.53" y="612.37" width="25.11" height="2.05" transform="translate(-604.61 134.19) rotate(-44.04)"/>
          <rect class="cls-6" x="415.86" y="608.52" width="2.05" height="30.11" transform="translate(-613.42 132.71) rotate(-44.04)"/>
          <rect class="cls-6" x="432.44" y="592.49" width="2.05" height="30.11" transform="translate(-597.63 139.78) rotate(-44.04)"/>
          <rect class="cls-6" x="423.09" y="625.36" width="25.11" height="2.05" transform="translate(-610.11 146.58) rotate(-44.04)"/>
          <polygon class="cls-7" points="128.77 290.94 135.41 291.05 135.37 291.01 135.41 291.05 135.52 284.41 133.48 284.38 133.38 287.48 128.99 282.94 127.52 284.36 131.91 288.91 128.8 288.9 128.77 290.94"/>
        </g>
        <g id="input">
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="480.38" y="825.43" width="140.97" height="11.55">{{ getNameOfPlace('65ab9384-7bfa-4188-be9d-9adb31452bea') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="480.38" y="810.03" width="140.97" height="11.55">{{ getNumberOfPlace('65ab9384-7bfa-4188-be9d-9adb31452bea') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="480.38" y="840.83" width="140.97" height="11.55">{{ getAreaOfPlace('65ab9384-7bfa-4188-be9d-9adb31452bea') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="385.66" y="756.6" width="80.02" height="6.19">{{ getNameOfPlace('e5cca667-c90d-4bfc-bfe7-20d705116ce4') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="385.66" y="748.35" width="80.02" height="6.19">{{ getNumberOfPlace('e5cca667-c90d-4bfc-bfe7-20d705116ce4') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="385.66" y="764.85" width="80.02" height="6.19">{{ getAreaOfPlace('e5cca667-c90d-4bfc-bfe7-20d705116ce4') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="261.23" y="642.77" width="75.17" height="6.19">{{ getNameOfPlace('ee3d2f60-2a45-436c-a35a-f08174e6a252') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="261.23" y="634.52" width="75.17" height="6.19">{{ getNumberOfPlace('ee3d2f60-2a45-436c-a35a-f08174e6a252') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="261.23" y="651.02" width="75.17" height="6.19">{{ getAreaOfPlace('ee3d2f60-2a45-436c-a35a-f08174e6a252') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="319.11" y="703.81" width="80.58" height="6.19">{{ getNameOfPlace('73bf7b38-a099-4fdf-85eb-84eb34c98b84') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="319.11" y="695.56" width="80.58" height="6.19">{{ getNumberOfPlace('73bf7b38-a099-4fdf-85eb-84eb34c98b84') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="319.11" y="712.06" width="80.58" height="6.19">{{ getAreaOfPlace('73bf7b38-a099-4fdf-85eb-84eb34c98b84') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="434.83" y="660.22" width="75.17" height="6.19">{{ getNameOfPlace('e5948321-95fa-4798-919b-d2457c268f86') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="434.83" y="651.97" width="75.17" height="6.19">{{ getNumberOfPlace('e5948321-95fa-4798-919b-d2457c268f86') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="434.83" y="668.47" width="75.17" height="6.19">{{ getAreaOfPlace('e5948321-95fa-4798-919b-d2457c268f86') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="286.15" y="485.94" width="50.25" height="6.19">{{ getNameOfPlace('36e1c670-4aa9-4a4b-9fbd-6b804b653a3b') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="286.15" y="477.69" width="50.25" height="6.19">{{ getNumberOfPlace('36e1c670-4aa9-4a4b-9fbd-6b804b653a3b') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="286.15" y="494.19" width="50.25" height="6.19">{{ getAreaOfPlace('36e1c670-4aa9-4a4b-9fbd-6b804b653a3b') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="199.25" y="577.53" width="80.1" height="6.19">{{ getNameOfPlace('9d2b813d-2627-4b7f-8e36-e4ac9ab9a630') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="199.25" y="569.28" width="80.1" height="6.19">{{ getNumberOfPlace('9d2b813d-2627-4b7f-8e36-e4ac9ab9a630') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="199.25" y="585.78" width="80.1" height="6.19">{{ getAreaOfPlace('9d2b813d-2627-4b7f-8e36-e4ac9ab9a630') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="163.35" y="536.56" width="35.75" height="6.19">{{ getNameOfPlace('b3f8d773-76dd-43de-a37a-d6951dd3e72d') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="163.35" y="528.31" width="35.75" height="6.19">{{ getNumberOfPlace('b3f8d773-76dd-43de-a37a-d6951dd3e72d') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="163.35" y="544.81" width="35.75" height="6.19">{{ getAreaOfPlace('b3f8d773-76dd-43de-a37a-d6951dd3e72d') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="194.86" y="394.97" width="61.49" height="6.19">{{ getNameOfPlace('737f547a-6b84-4a28-b7cd-795e85f9cdc8') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="194.86" y="386.72" width="61.49" height="6.19">{{ getNumberOfPlace('737f547a-6b84-4a28-b7cd-795e85f9cdc8') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="194.86" y="403.22" width="61.49" height="6.19">{{ getAreaOfPlace('737f547a-6b84-4a28-b7cd-795e85f9cdc8') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="259.44" y="435.98" width="57.49" height="6.19">{{ getNameOfPlace('1195d9c7-23db-4393-9b83-dc49a43de5a1') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="259.44" y="427.73" width="57.49" height="6.19">{{ getNumberOfPlace('1195d9c7-23db-4393-9b83-dc49a43de5a1') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="259.44" y="444.23" width="57.49" height="6.19">{{ getAreaOfPlace('1195d9c7-23db-4393-9b83-dc49a43de5a1') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="161.66" y="279.42" width="75.17" height="6.19">{{ getNameOfPlace('226f477e-8883-452a-893d-9ffc1d34388c') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="161.66" y="271.17" width="75.17" height="6.19">{{ getNumberOfPlace('226f477e-8883-452a-893d-9ffc1d34388c') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="161.66" y="287.67" width="75.17" height="6.19">{{ getAreaOfPlace('226f477e-8883-452a-893d-9ffc1d34388c') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="218" y="206.69" width="63.38" height="6.91">{{ getNameOfPlace('5d241282-188a-44c1-af8e-afbba6a3c88f') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="218" y="197.48" width="63.38" height="6.91">{{ getNumberOfPlace('5d241282-188a-44c1-af8e-afbba6a3c88f') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="218" y="215.91" width="63.38" height="6.91">{{ getAreaOfPlace('5d241282-188a-44c1-af8e-afbba6a3c88f') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="291.33" y="160.1" width="67.02" height="5.97">{{ getNameOfPlace('4feb26f0-7ed7-4e6d-97a7-f8b519b4b2bc') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="291.33" y="152.14" width="67.02" height="5.97">{{ getNumberOfPlace('4feb26f0-7ed7-4e6d-97a7-f8b519b4b2bc') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="291.33" y="168.07" width="67.02" height="5.97">{{ getAreaOfPlace('4feb26f0-7ed7-4e6d-97a7-f8b519b4b2bc') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="354.87" y="122.99" width="54.64" height="5.52">{{ getNameOfPlace('6e8f3a4f-239d-48a5-8910-a58e521adcbb') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="354.87" y="115.64" width="54.64" height="5.52">{{ getNumberOfPlace('6e8f3a4f-239d-48a5-8910-a58e521adcbb') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="354.87" y="130.35" width="54.64" height="5.52">{{ getAreaOfPlace('6e8f3a4f-239d-48a5-8910-a58e521adcbb') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="353.4" y="287.74" width="62.31" height="5.52">{{ getNameOfPlace('44e3ecd6-fc12-4b6c-9876-93464a7c7511') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="353.4" y="280.38" width="62.31" height="5.52">{{ getNumberOfPlace('44e3ecd6-fc12-4b6c-9876-93464a7c7511') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="353.4" y="295.1" width="62.31" height="5.52">{{ getAreaOfPlace('44e3ecd6-fc12-4b6c-9876-93464a7c7511') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="580.89" y="257.89" width="38.65" height="4.58">{{ getNameOfPlace('79470215-03ea-4a54-ad44-74627d2b4192') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="580.89" y="251.79" width="38.65" height="4.58">{{ getNumberOfPlace('79470215-03ea-4a54-ad44-74627d2b4192') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="580.89" y="263.99" width="38.65" height="4.58">{{ getAreaOfPlace('79470215-03ea-4a54-ad44-74627d2b4192') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="598.18" y="212.11" width="36.3" height="4.76">{{ getNameOfPlace('d342b6a5-fc1b-4feb-a678-46d653300a0a') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="598.18" y="205.75" width="36.3" height="4.76">{{ getNumberOfPlace('d342b6a5-fc1b-4feb-a678-46d653300a0a') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="598.18" y="218.46" width="36.3" height="4.76">{{ getAreaOfPlace('d342b6a5-fc1b-4feb-a678-46d653300a0a') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="547.45" y="194.22" width="48.31" height="5.45">{{ getNameOfPlace('1a17f6d4-4bbd-4a6e-bb06-dfb79ecb5be3') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="547.45" y="186.96" width="48.31" height="5.45">{{ getNumberOfPlace('1a17f6d4-4bbd-4a6e-bb06-dfb79ecb5be3') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="547.45" y="201.48" width="48.31" height="5.45">{{ getAreaOfPlace('1a17f6d4-4bbd-4a6e-bb06-dfb79ecb5be3') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="548.44" y="60.26" width="89.98" height="11.16">{{ getNameOfPlace('f5f26cb5-3db7-483f-9cfd-02c0eae7fd0e') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="548.44" y="45.38" width="89.98" height="11.16">{{ getNumberOfPlace('f5f26cb5-3db7-483f-9cfd-02c0eae7fd0e') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="548.44" y="75.14" width="89.98" height="11.16">{{ getAreaOfPlace('f5f26cb5-3db7-483f-9cfd-02c0eae7fd0e') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="1452.18" y="301.49" width="252.72" height="21.39">{{ getNameOfPlace('d9cbd148-8622-45e8-beed-6cb33c088aed') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="1452.18" y="272.97" width="252.72" height="21.39">{{ getNumberOfPlace('d9cbd148-8622-45e8-beed-6cb33c088aed') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="1452.18" y="330.02" width="252.72" height="21.39">{{ getAreaOfPlace('d9cbd148-8622-45e8-beed-6cb33c088aed') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="804.22" y="301.67" width="526.31" height="21.31">{{ getNameOfPlace('71f4465d-137c-41c6-a4f8-6278e615d9bf') }}111111</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="804.22" y="273.24" width="526.31" height="21.31">{{ getNumberOfPlace('71f4465d-137c-41c6-a4f8-6278e615d9bf') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="804.22" y="330.09" width="526.31" height="21.31">{{ getAreaOfPlace('71f4465d-137c-41c6-a4f8-6278e615d9bf') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="538.7" y="683.02" width="75.15" height="8.61">{{ getNameOfPlace('c9a0e9b5-7e5f-4da6-9f31-bfc0247ad3a5') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="538.7" y="671.53" width="75.15" height="8.61">{{ getNumberOfPlace('c9a0e9b5-7e5f-4da6-9f31-bfc0247ad3a5') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="538.7" y="694.51" width="75.15" height="8.61">{{ getAreaOfPlace('c9a0e9b5-7e5f-4da6-9f31-bfc0247ad3a5') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="626.26" y="669.94" width="73.32" height="8.83">{{ getNameOfPlace('6e74d203-96ba-431d-9972-d078df3c92f9') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="626.26" y="658.16" width="73.32" height="8.83">{{ getNumberOfPlace('6e74d203-96ba-431d-9972-d078df3c92f9') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="626.26" y="681.71" width="73.32" height="8.83">{{ getAreaOfPlace('6e74d203-96ba-431d-9972-d078df3c92f9') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="626.26" y="669.94" width="73.32" height="8.83">{{ getNameOfPlace('6e74d203-96ba-431d-9972-d078df3c92f9') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="626.26" y="658.16" width="73.32" height="8.83">{{ getNumberOfPlace('6e74d203-96ba-431d-9972-d078df3c92f9') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="626.26" y="681.71" width="73.32" height="8.83">{{ getAreaOfPlace('6e74d203-96ba-431d-9972-d078df3c92f9') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="619.54" y="444.93" width="68.86" height="6.71">{{ getNameOfPlace('50ed475b-e14f-4872-a219-9600a6cae9cf') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="619.54" y="435.98" width="68.86" height="6.71">{{ getNumberOfPlace('50ed475b-e14f-4872-a219-9600a6cae9cf') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="619.54" y="453.88" width="68.86" height="6.71">{{ getAreaOfPlace('50ed475b-e14f-4872-a219-9600a6cae9cf') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="668.85" y="494.7" width="44.39" height="11.01">{{ getNameOfPlace('86accda7-fda3-4af8-be31-3582f65938bd') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="668.85" y="480.02" width="44.39" height="11.01">{{ getNumberOfPlace('86accda7-fda3-4af8-be31-3582f65938bd') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="668.85" y="509.38" width="44.39" height="11.01">{{ getAreaOfPlace('86accda7-fda3-4af8-be31-3582f65938bd') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="405.54" y="461.17" width="109.96" height="10.01">{{ getNameOfPlace('0e4a3d13-cffb-46bc-8eef-897a7d2fdcfd') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="405.54" y="447.82" width="109.96" height="10.01">{{ getNumberOfPlace('0e4a3d13-cffb-46bc-8eef-897a7d2fdcfd') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="405.54" y="474.52" width="109.96" height="10.01">{{ getAreaOfPlace('0e4a3d13-cffb-46bc-8eef-897a7d2fdcfd') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="462.3" y="361.07" width="172.18" height="11.59">{{ getNameOfPlace('6257502f-a22e-4809-a586-6a341388ebef') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="462.3" y="345.61" width="172.18" height="11.59">{{ getNumberOfPlace('6257502f-a22e-4809-a586-6a341388ebef') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="462.3" y="376.53" width="172.18" height="11.59">{{ getAreaOfPlace('6257502f-a22e-4809-a586-6a341388ebef') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="607.57" y="614.29" width="70.64" height="5.8">{{ getNameOfPlace('50074e5f-de57-46fd-a4d8-5bd334b8b39d') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="607.57" y="606.56" width="70.64" height="5.8">{{ getNumberOfPlace('50074e5f-de57-46fd-a4d8-5bd334b8b39d') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="607.57" y="622.02" width="70.64" height="5.8">{{ getAreaOfPlace('50074e5f-de57-46fd-a4d8-5bd334b8b39d') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="380.74" y="605.23" width="75.17" height="6.19">{{ getNameOfPlace('83c5ba21-cb13-40c4-8759-58fb8f1463ad') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="380.74" y="596.98" width="75.17" height="6.19">{{ getNumberOfPlace('83c5ba21-cb13-40c4-8759-58fb8f1463ad') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="380.74" y="613.48" width="75.17" height="6.19">{{ getAreaOfPlace('83c5ba21-cb13-40c4-8759-58fb8f1463ad') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="358.04" y="512.18" width="36.23" height="6.91">{{ getNameOfPlace('bf496d24-4afb-4a5d-9661-5af191794093') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="358.04" y="502.97" width="36.23" height="6.91">{{ getNumberOfPlace('bf496d24-4afb-4a5d-9661-5af191794093') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="358.04" y="521.4" width="36.23" height="6.91">{{ getAreaOfPlace('bf496d24-4afb-4a5d-9661-5af191794093') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="349.83" y="424.71" width="49.47" height="6.91">{{ getNameOfPlace('2e7ceeea-440c-4656-95fa-e33cf75039ee') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="349.83" y="415.49" width="49.47" height="6.91">{{ getNumberOfPlace('2e7ceeea-440c-4656-95fa-e33cf75039ee') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="349.83" y="433.93" width="49.47" height="6.91">{{ getAreaOfPlace('2e7ceeea-440c-4656-95fa-e33cf75039ee') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="293.16" y="370.83" width="36.23" height="5.23">{{ getNameOfPlace('95a55d7a-4051-4155-a088-00beb9a80c46') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="293.16" y="363.86" width="36.23" height="5.23">{{ getNumberOfPlace('95a55d7a-4051-4155-a088-00beb9a80c46') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="293.16" y="377.8" width="36.23" height="5.23">{{ getAreaOfPlace('95a55d7a-4051-4155-a088-00beb9a80c46') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="191.06" y="316.5" width="36.23" height="5.23">{{ getNameOfPlace('f748ca46-6a79-4306-8ab2-10f8855241e8') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="191.06" y="309.52" width="36.23" height="5.23">{{ getNumberOfPlace('f748ca46-6a79-4306-8ab2-10f8855241e8') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="191.06" y="323.47" width="36.23" height="5.23">{{ getAreaOfPlace('f748ca46-6a79-4306-8ab2-10f8855241e8') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="458.49" y="222.33" width="81.38" height="7.36">{{ getNameOfPlace('81179b05-78c4-4974-9297-5f23279c004d') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="458.49" y="212.52" width="81.38" height="7.36">{{ getNumberOfPlace('81179b05-78c4-4974-9297-5f23279c004d') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="458.49" y="232.15" width="81.38" height="7.36">{{ getAreaOfPlace('81179b05-78c4-4974-9297-5f23279c004d') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="619.54" y="539.39" width="68.86" height="6.71">{{ getNameOfPlace('f32200be-24b9-4bd8-b483-bf38f114aa7d') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="619.54" y="530.44" width="68.86" height="6.71">{{ getNumberOfPlace('f32200be-24b9-4bd8-b483-bf38f114aa7d') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="619.54" y="548.34" width="68.86" height="6.71">{{ getAreaOfPlace('f32200be-24b9-4bd8-b483-bf38f114aa7d') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="672.12" y="394.71" width="41.11" height="6.71">{{ getNameOfPlace('4551cd80-37f4-406a-b046-47765f1c4661') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="672.12" y="385.75" width="41.11" height="6.71">{{ getNumberOfPlace('4551cd80-37f4-406a-b046-47765f1c4661') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="672.12" y="403.66" width="41.11" height="6.71">{{ getAreaOfPlace('4551cd80-37f4-406a-b046-47765f1c4661') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="672.12" y="284.31" width="41.11" height="6.71">{{ getNameOfPlace('8a116c67-3808-4a1c-9646-85d4f2ab070e') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="672.12" y="275.36" width="41.11" height="6.71">{{ getNumberOfPlace('8a116c67-3808-4a1c-9646-85d4f2ab070e') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="672.12" y="293.26" width="41.11" height="6.71">{{ getAreaOfPlace('8a116c67-3808-4a1c-9646-85d4f2ab070e') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="626.49" y="258.96" width="38.65" height="4.58">{{ getNameOfPlace('0cc1dd71-162a-4937-bed2-58b2121805fc') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="626.49" y="252.86" width="38.65" height="4.58">{{ getNumberOfPlace('0cc1dd71-162a-4937-bed2-58b2121805fc') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="626.49" y="265.06" width="38.65" height="4.58">{{ getAreaOfPlace('0cc1dd71-162a-4937-bed2-58b2121805fc') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="635.82" y="189.62" width="59.86" height="4.76">{{ getNameOfPlace('d342b6a5-fc1b-4feb-a678-46d653300a0a') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="635.82" y="183.26" width="59.86" height="4.76">{{ getNumberOfPlace('d342b6a5-fc1b-4feb-a678-46d653300a0a') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="635.82" y="195.97" width="59.86" height="4.76">{{ getAreaOfPlace('d342b6a5-fc1b-4feb-a678-46d653300a0a') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="620.6" y="704.65" width="73.32" height="6.59">{{ getNameOfPlace('374b0eb2-e6ed-4d07-a9f0-cf90f571604d') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="620.6" y="695.87" width="73.32" height="6.59">{{ getNumberOfPlace('374b0eb2-e6ed-4d07-a9f0-cf90f571604d') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="620.6" y="713.44" width="73.32" height="6.59">{{ getAreaOfPlace('374b0eb2-e6ed-4d07-a9f0-cf90f571604d') }} </text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="590.12" y="729.66" width="73.32" height="6.59">{{ getNameOfPlace('adefe0b1-d94a-4b27-805f-2f56018f1d57') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="590.12" y="720.87" width="73.32" height="6.59">{{ getNumberOfPlace('adefe0b1-d94a-4b27-805f-2f56018f1d57') }}</text>
        <text fill="white" font-family="Verdana" font-size="10" class="cls-8" x="590.12" y="738.44" width="73.32" height="6.59">{{ getAreaOfPlace('adefe0b1-d94a-4b27-805f-2f56018f1d57') }} </text>
        </g>
      </svg>
    </SvgPanZoom>

    <modal name="renter" class="modal-renter" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renter')">
          <img src="../../assets/close.svg" alt="">
        </div>

        <h3>Помещение № {{ correctRenter.place }}</h3>

        <table class="table table-hover">
          <tbody>
          <tr>
            <td>Номер помещения(БТИ):</td>
            <td>{{correctRenter.name}}</td>
          </tr>
          <tr>
            <td>Номер помещения:</td>
            <td>{{correctRenter.place}}</td>
          </tr>
          <tr>
            <td>Площадь помещения:</td>
            <td>{{correctRenter.area}}</td>
          </tr>
          <tr>
            <td>Тип помещения</td>
            <td>{{ placesType() }}</td>
          </tr>
          <tr>
            <td>Статус</td>
            <td>{{ statusRenter(correctRenter.status) }}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold">Арендатор</span></td>
            <td></td>
          </tr>
          <tr>
            <td>Наименование</td>
            <td>{{correctRenter.renter}}</td>
          </tr>

          <tr>
            <td>Тип</td>
            <td>{{ typeRenter(correctRenter.renter_type) }}</td>
          </tr>

          <tr>
            <td>Период</td>
            <td>{{ returnCorrectDate }}</td>
          </tr>

          <tr v-for="item in correctRenter.doc_number">
            <td><a href="#" @click="downloadDoc(item.id)">{{item.name}}</a></td>
            <td></td>
          </tr>

          <tr>
            <td class="font-weight-bold">Стоимость аренды (основная)</td>
            <td></td>
          </tr>

          <tr>
            <td>Базовая аренда</td>
            <td>{{ correctRenter.price_base }}</td>
          </tr>

          <tr>
            <td>Переменная</td>
            <td>{{ correctRenter.price_var }}</td>
          </tr>

          <tr>
            <td>Эксплатыционная</td>
            <td>{{ correctRenter.price_ekp }}</td>
          </tr>

          <tr>
            <td class="font-weight-bold">Стоимость аренды (дополнительная)</td>
            <td></td>
          </tr>

          <tr>
            <td>Маркетинговый сбор</td>
            <td>{{ correctRenter.market }}</td>
          </tr>

          <tr>
            <td>Процент с продаж</td>
            <td>{{ correctRenter.percentPay }}</td>
          </tr>

          <tr>
            <td>Доп доход</td>
            <td>{{ correctRenter.additional_pay }}</td>
          </tr>

          </tbody>
        </table>


        <button v-if="userRole === 'admin'" type="button" class="btn btn-success d-block mt-5" @click="renterChange()">
          Изменить помещение
        </button>
      </div>
    </modal>

    <modal name="renterChange" id="renterChange" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renterChange')">
          <img src="../../assets/close.svg" alt="">
        </div>

        <h3>Помещение {{ correctRenter.place }}</h3>

        <div class="row mt-4">
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Номер помещения (БТИ)</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.name">
            </div>

            <div class="form-group">
              <small class="text-secondary">Номер помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.place">
            </div>

            <div class="form-group">
              <small class="text-secondary">Тип помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.placesType">
                  <option v-for="item in placesTypes" :value="item.id">{{ item.name }}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Площадь помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Площадь помещения"
                     v-model="correctRenter.area">
            </div>

            <div class="form-group">
              <small class="text-secondary">Статус помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.status">
                  <option value="free">Свободно</option>
                  <option value="busy">Занято</option>
                  <option value="reserve">В резерве</option>
                </select>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Отображать на плане</h3>

        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlane">
                </div>
              </div>
              <div class="form-control">
                <small>Номер помещения</small>
              </div>
            </div>

            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlaneArea">
                </div>
              </div>
              <div class="form-control">
                <small>Площадь помещения</small>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlaneCompanyName">
                </div>
              </div>
              <div class="form-control">
                <small>Название компании</small>
              </div>
            </div>
          </div>
        </div>

        <h3 class="mt-3">Арендатор</h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Наименование компании</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите текст"
                     v-model="correctRenter.renter">
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор с</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_from"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="../../assets/delete.svg" alt="" @click="correctRenter.date_from = null" class="delete-date">
                </div>
              </div>
            </div>

            <!--<div class="form-group">-->
            <!--<small class="text-secondary">Договор номер</small>-->
            <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"-->
            <!--v-model="correctRenter.doc_number">-->
            <!--</div>-->
          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Тип арендатора</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.renter_type">
                  <option v-for="item in rentersType" :value="item.id">{{ item.translate }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор по</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_to"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="../../assets/delete.svg" alt="" @click="correctRenter.date_to = null" class="delete-date">
                </div>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Список прикрепленных файлов</h3>

        <table class="table" v-if="correctRenter.doc_number && correctRenter.doc_number.length">
          <tbody>
          <tr v-for="item in correctRenter.doc_number">
            <td>{{ item.name }}</td>
            <td>
              <button class="btn btn-danger" @click="deleteDoc(item.id)">Удалить</button>
            </td>
          </tr>
          </tbody>
        </table>

        <div v-else class="text-center">
          <span>Нет файлов</span>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" @change="onFileChange">
          <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
        </div>

        <h3 class="mt-3">Стоимость (основная)
          <small>руб/месяц</small>
        </h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Базовая</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Базовая"
                     v-model="correctRenter.price_base">
            </div>

            <div class="form-group">
              <small class="text-secondary">Эксплуатационная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Эксплуатационная"
                     v-model="correctRenter.price_ekp">
            </div>
          </div>
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Условная еденица</small>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Использовать УЕ" v-model="correctRenter.YEuse">
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Значение УЕ" :disabled="!correctRenter.YEuse" v-model="correctRenter.YEvalue" placeholder="введите курс">
              </div>
            </div>

            <div class="form-group">
              <small class="text-secondary">Переменная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Переменная"
                     v-model="correctRenter.price_var">
            </div>
          </div>
        </div>

        <h3 class="mt-3">Стоимость (дополнительная)
          <small>руб/месяц</small>
        </h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group wrap-button-modal ml-auto mr-auto">
              <small class="text-secondary">Период</small>
              <datepicker :minimumView="'month'" :maximumView="'month'" :format="'MM.yyyy'"
                          :input-class="'form-control'" :language="ru"
                          v-model="correctRenter.infoDate"></datepicker>
            </div>

            <div class="form-group">
              <small class="text-secondary">доп доход</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="доп доход"
                     v-model="correctRenter.additional_pay">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Процент с продаж</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Процент с продаж"
                     v-model="correctRenter.percentPay">
            </div>

            <div class="form-group">
              <small class="text-secondary">Маркетинговый сбор</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Маркетинговый сбор"
                     v-model="correctRenter.market">
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-success d-block mt-5" @click="saveRenter()">Сохранить изменения</button>
      </div>
    </modal>
  </div>

</template>

<script>
  import moment from 'moment'
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale';
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "floor_outline_1",
    data() {
      return {
        renters: [],
        correctRenter: {},
        ru,
        rentersType: [],
        userRole: null,
        placesTypes: [],
        places: []
      }
    },
    components: {
      Datepicker,
      SvgPanZoom
    },
    mounted() {
      this.getAllRenters();
      this.rentersTypeMethod();
      this.getUserRole();
      this.getPlacesType();

      this.$http.get('http://shuka.f-bc.ru:3030/places').then(res => {
        this.$set(this, 'places', res.body.data);
      })
    },
    computed: {
      returnCorrectDate() {
        if (this.correctRenter.id) {
          return moment(this.correctRenter.date_from).format('DD.MM.YYYY') + ' - ' + moment(this.correctRenter.date_to).format('DD.MM.YYYY');
        } else {
          return '';
        }
      }
    },
    methods: {
      placesType() {
        const correctPlaces = this.places.find(x => {
          return x.id === Number(this.correctRenter.placesType)
        })

        if (correctPlaces) return correctPlaces.name
      },
      deleteDoc(id) {
        const index = this.correctRenter.doc_number.findIndex(x => {
          return x.id === id
        });

        this.correctRenter.doc_number.splice(index, 1);
      },
      b64DecodeUnicode(str) {
        return decodeURIComponent(Array.prototype.map.call(atob(str), function (c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)
        }).join(''));
      },
      downloadDoc(id) {
        window.location.replace("http://shuka.f-bc.ru:3030/" + id);
      },
      onFileChange(e) {
        const files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;

        this.createImage(files[0]);
      },
      createImage(file) {
        const image = new Image();
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.image = e.target.result;
          vm.$http.post('http://shuka.f-bc.ru:3030/uploads', {uri: e.target.result})
            .then(res => {
              if (!this.correctRenter.doc_number) this.$set(this.correctRenter, 'doc_number', []);

              this.correctRenter.doc_number.push({
                name: file.name,
                id: res.body.id
              });
            })
            .catch(err => {
              console.log(err)
            })
        };
        reader.readAsDataURL(file);
      },
      getNameOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.place
      },
      getAreaOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.area
      },
      getNumberOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.renter
      },
      showNameOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlane
        }
      },
      showAreaOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlaneArea
        }
      },
      showNumberOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlaneCompanyName
        }
      },
      getPlacesType() {
        this.$http.get('http://shuka.f-bc.ru:3030/places').then(res => {
          this.$set(this, 'placesTypes', res.body.data);
        })
      },
      getUserRole() {
        this.$set(this, 'userRole', JSON.parse(localStorage.getItem('fish-user')).role);
      },
      rentersTypeMethod() {
        this.$http.get('http://shuka.f-bc.ru:3030/renters-type').then(res => {
          this.$set(this, 'rentersType', res.body.data);
        })
      },
      typeRenter(type) {
        if (type) {
          const renter = this.rentersType.find(x => {
            return Number(type) === x.id;
          });
          return renter.translate;
        }
      },
      statusRenter(status) {
        const statusDictionary = {
          free: 'Свободен',
          reserve: 'В резерве',
          busy: 'Занят'
        };

        return statusDictionary[status];
      },
      renterChange() {
        this.$modal.hide('renter');
        this.$modal.show('renterChange');
      },
      returnActivePlaceClass(id) {
        let defaultClass = 'free';

        if (!this.renters.length) return;

        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          if (correctRenter.status === 'busy') {
            defaultClass = 'busy'
          } else if (correctRenter.status === 'reserve') {
            defaultClass = 'reserve'
          }
        }

        return defaultClass;
      },
      getAllRenters() {
        this.$http.get('http://shuka.f-bc.ru:3030/renters?floor=' + this.$route.params.floorId).then(res => {
          res.body.forEach(item => {
            item.doc_number = JSON.parse(item.doc_number)
          });
          this.$set(this, 'renters', res.body);
          this.$root.$emit('getFloorStatistic', this.renters);
        })
      },
      showWindow(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          this.correctRenter = Object.assign({}, this.correctRenter, correctRenter);
        } else {
          this.$set(this, 'correctRenter', {});
          this.$set(this.correctRenter, 'image_id', id);
        }

        this.$http.get('http://shuka.f-bc.ru:3030/market?place_id=' + this.correctRenter.name + '&date=' + moment().format('MM.YYYY')).then(res => {
          if (res.body[0]) {
            const data = res.body[0];

            this.correctRenter = Object.assign({}, this.correctRenter, {
              infoDate: moment('01.' + data.date).format('DD.MM.YYYY'),
              additional_pay: data.additional_pay,
              percentPay: data.percentPay,
              market: data.market
            });
          }

          this.$modal.show('renter');
        })
      },
      saveRenter() {
        let request;

        if (this.correctRenter.id) {
          request = this.updaterenter();
        } else {
          request = this.createRenter();
        }

        request.then(() => {
          this.$modal.hide('renterChange');
          this.getAllRenters();
        })
      },
      async createRenter() {
        await this.$http.post('http://shuka.f-bc.ru:3030/renters/', {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base,
          price_var: this.correctRenter.price_var,
          price_ekp: this.correctRenter.price_ekp,
          area: Number(this.correctRenter.area),
          floor: this.$route.params.floorId,
          image_id: this.correctRenter.image_id,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName
        })
      },
      async updaterenter() {
        await this.$http.patch('http://shuka.f-bc.ru:3030/renters/' + this.correctRenter.id, {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base,
          price_var: this.correctRenter.price_var,
          price_ekp: this.correctRenter.price_ekp,
          area: Number(this.correctRenter.area),
          floor: this.$route.params.floorId,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName
        })
      }
    }
  }
</script>

<style scoped>
  .cls-1 {
    fill: #d3d8d8;
  }

  .cls-1, .cls-2, .cls-3, .cls-7 {
    fill-rule: evenodd;
  }

  .cls-2, .cls-3, .cls-5 {
    fill: #67777d;
  }

  .cls-2, .cls-5 {
    stroke: #d3d8d8;
    stroke-miterlimit: 22.93;
    stroke-width: 7.09px;
  }

  .cls-6, .cls-7 {
    fill: #000003;
  }
</style>