<template>
  <div>

    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2551.18 1700.79">
        <title>6 floor</title>
        <g id="bg">
          <path class="cls-1"
                d="M1050.66,1206.53l-25.4,25.41,4.1,7.08,3.29,7.5,2.45,7.82,1.56,8,.66,8.17-.25,8.18-1.16,8.11-2.05,7.93-2.91,7.66-3.75,7.28-4.53,6.83-5.26,6.27-5.92,5.66-6.52,5-7,4.21-7.45,3.41-7.78,2.55-8,1.69-8.16.78-8.19-.13-8.12-1-8-1.93-7.7-2.8-7.34-3.63-6.89-4.43-.16.23-39.44-26.54,1.63-2.33L847,1278.62,812.1,1253l-34.36-26.28-33.83-27-33.26-27.65-32.71-28.31-32.12-29-31.53-29.61L583.37,1055l-30.31-30.86-29.67-31.48-29-32.07L466,928l-27.71-33.22-27-33.77-26.35-34.31-25.64-34.84-24.93-35.34L310.1,720.62l-23.48-36.33-3.28,2.08L262.2,652.11l-20.48-34.65-19.81-35.05L202.76,547,184.3,511.23l-17.77-36.12,36.12,17.78,35.77,18.46,35.41,19.14,35,19.81,34.66,20.48,34.26,21.14.64-1,24.69,15.82,19.79-19.8-13.38-13.38L581.89,401.18v-58.1h597.46V336.9h140.51v1.58h495v29.59h200.87v-15.3h289.63v853.76h-544v-18.3H1631v18.3H1050.66ZM839.22,573.82l-.46-8.77-1.38-8.67-2.27-8.48L832,539.7l-4-7.82-4.78-7.37-5.53-6.82-6.21-6.21L804.64,506l-7.37-4.78-7.82-4-8.2-3.15-8.48-2.27-8.67-1.38-8.77-.46-8.77.46-8.67,1.38L729.41,494l-8.2,3.15-7.82,4L706,506l-6.82,5.53L693,517.69l-5.52,6.82-4.79,7.37-4,7.82-3.15,8.2-2.27,8.48-1.37,8.67-.46,8.77.46,8.77,1.37,8.67,2.27,8.48,3.15,8.2,4,7.82,4.79,7.37L693,630l6.21,6.21,6.82,5.52,7.37,4.79,7.82,4,8.2,3.15,8.48,2.27,8.67,1.37,8.77.47,8.77-.47,8.67-1.37,8.48-2.27,8.2-3.15,7.82-4,7.37-4.79,6.82-5.52,6.21-6.21,5.53-6.82,4.78-7.37,4-7.82,3.15-8.2,2.27-8.48,1.38-8.67Z"/>
        </g>
        <g id="space">
          <path id="b2a087f2-bcaf-4d29-8b44-905cab122a98" @click="showWindow('b2a087f2-bcaf-4d29-8b44-905cab122a98')" v-bind:class="[returnActivePlaceClass('b2a087f2-bcaf-4d29-8b44-905cab122a98')]" class="cls-4" d="M1009.82,929.77V626h174.07V398.05h58.6v17.86h42.06V398.05h10.94v7h19.84v51.58h-102V626h512.38V343.59h84v77.19h-55.13V626h175.14V929.77H1613v153h-34.86V1106h-7.94v19.27h-4.36v76.07l-45.91,0v-18.87h-2.84V1018.18h-9.94v-13h-75.39v13h-9.89v164.38h-2.83v18.87H1376v-5.1h-160.4V929.77ZM1047.23,670V886.29h167.2V869.16l1.71,0,8.76-.43,8.69-1.29,8.51-2.14,8.26-3,7.94-3.76,7.53-4.51,7.05-5.23,6.5-5.89,5.89-6.5,5.23-7.05,4.51-7.53,3.76-7.94,3-8.26,2.14-8.51,1.29-8.69.43-8.77-.43-8.76-1.29-8.68-2.14-8.52-3-8.26-3.76-7.93-4.51-7.53-5.23-7-5.89-6.51-6.5-5.89-7.05-5.23-7.53-4.51-7.94-3.76-8.26-3-8.51-2.14-8.69-1.28-8.76-.43h-1.71V670Zm197.25,490.44h142.83l1.13-230.68h-144Z"/>
          <polygon id="f5911cc5-8d66-4f2c-9827-1b0d03f53e58" @click="showWindow('f5911cc5-8d66-4f2c-9827-1b0d03f53e58')" v-bind:class="[returnActivePlaceClass('f5911cc5-8d66-4f2c-9827-1b0d03f53e58')]" class="cls-4" points="1181.62 343.76 1009.25 343.76 1016.06 350.56 1016.06 561.52 1174.82 561.52 1174.82 350.56 1181.62 343.76"/>
          <rect id="052061cd-ebc3-47a0-8aa4-d925ca80986c" @click="showWindow('052061cd-ebc3-47a0-8aa4-d925ca80986c')" v-bind:class="[returnActivePlaceClass('052061cd-ebc3-47a0-8aa4-d925ca80986c')]" class="cls-4" x="1009.25" y="568.32" width="172.36" height="55.38"/>
          <polygon id="7c21130d-8723-49a4-a8a9-9561f36bf694" @click="showWindow('7c21130d-8723-49a4-a8a9-9561f36bf694')" v-bind:class="[returnActivePlaceClass('7c21130d-8723-49a4-a8a9-9561f36bf694')]" class="cls-4" points="1222.37 555.4 1308.53 555.4 1308.53 465.73 1315.33 458.93 1315.33 458.93 1215.57 458.93 1222.37 465.73 1222.37 555.4"/>
          <polygon id="22c9c2b7-4be6-4572-bce2-996940a6797f" @click="showWindow('22c9c2b7-4be6-4572-bce2-996940a6797f')" v-bind:class="[returnActivePlaceClass('22c9c2b7-4be6-4572-bce2-996940a6797f')]" class="cls-4" points="1519.37 347.5 1317.59 347.5 1323.26 353.17 1327.85 353.17 1327.85 387.09 1324.39 387.09 1324.39 561.52 1512.57 561.52 1512.57 354.3 1519.37 347.5"/>
          <polygon id="c00b9e55-db20-4928-8d66-2db60ae07f91" @click="showWindow('c00b9e55-db20-4928-8d66-2db60ae07f91')" v-bind:class="[returnActivePlaceClass('c00b9e55-db20-4928-8d66-2db60ae07f91')]" class="cls-4" points="1729.13 347.5 1521.64 347.5 1528.63 354.3 1528.63 561.52 1722.14 561.52 1722.14 354.3 1729.13 347.5"/>
          <polygon id="66a54fcd-93da-4aa0-a39c-ac657aebb57f" @click="showWindow('66a54fcd-93da-4aa0-a39c-ac657aebb57f')" v-bind:class="[returnActivePlaceClass('66a54fcd-93da-4aa0-a39c-ac657aebb57f')]" class="cls-4" points="1756.86 552.17 1929.73 552.17 1929.73 427.76 1809.72 427.76 1809.72 420.78 1756.65 420.78 1756.86 552.17"/>
          <rect id="57809943-fc96-4b66-8557-b9cc0cad7b39" @click="showWindow('57809943-fc96-4b66-8557-b9cc0cad7b39')" v-bind:class="[returnActivePlaceClass('57809943-fc96-4b66-8557-b9cc0cad7b39')]" class="cls-4" x="1756.86" y="552.17" width="172.87" height="71.53"/>
          <rect id="c0f861ef-a49f-4c3f-8c29-6f68dbc91be7" @click="showWindow('c0f861ef-a49f-4c3f-8c29-6f68dbc91be7')" v-bind:class="[returnActivePlaceClass('c0f861ef-a49f-4c3f-8c29-6f68dbc91be7')]" class="cls-4" x="1521.64" y="568.32" width="201.78" height="55.38"/>
          <rect id="5712abf8-b44c-49a5-be6f-c5241da8539c" @click="showWindow('5712abf8-b44c-49a5-be6f-c5241da8539c')" v-bind:class="[returnActivePlaceClass('5712abf8-b44c-49a5-be6f-c5241da8539c')]" class="cls-4" x="1317.59" y="568.32" width="201.78" height="55.38"/>
          <rect id="75064fa2-d9bf-4925-938a-bb0094c3f4a1" @click="showWindow('75064fa2-d9bf-4925-938a-bb0094c3f4a1')" v-bind:class="[returnActivePlaceClass('75064fa2-d9bf-4925-938a-bb0094c3f4a1')]" class="cls-4" x="1215.57" y="562.2" width="99.76" height="61.5"/>
          <polygon id="fb1c48cf-4ba3-44f7-817a-7fa8a79cef58" @click="showWindow('fb1c48cf-4ba3-44f7-817a-7fa8a79cef58')" v-bind:class="[returnActivePlaceClass('fb1c48cf-4ba3-44f7-817a-7fa8a79cef58')]" class="cls-4" points="1050.65 1189.53 1206.5 1189.53 1206.5 1004.74 1211.3 997.94 1213.3 997.94 1009.82 997.94 1016.62 1004.74 1016.62 1155.5 1050.65 1189.53"/>
          <rect id="d7b705f1-341a-437d-9784-cf1240538928" @click="showWindow('d7b705f1-341a-437d-9784-cf1240538928')" v-bind:class="[returnActivePlaceClass('d7b705f1-341a-437d-9784-cf1240538928')]" class="cls-4" x="1009.82" y="932.03" width="203.48" height="65.91"/>
          <rect id="7e6f22dd-d2f6-4264-81ac-5e1b71bf46b7" @click="showWindow('7e6f22dd-d2f6-4264-81ac-5e1b71bf46b7')" v-bind:class="[returnActivePlaceClass('7e6f22dd-d2f6-4264-81ac-5e1b71bf46b7')]" class="cls-4" x="1246.74" y="932.03" width="139.43" height="68.98"/>
          <polygon id="8933e33f-e288-4688-a32a-2fa0752e248e" @click="showWindow('8933e33f-e288-4688-a32a-2fa0752e248e')" v-bind:class="[returnActivePlaceClass('8933e33f-e288-4688-a32a-2fa0752e248e')]" class="cls-4" points="1384.17 1001.01 1248.74 1001.01 1253.54 1007.81 1253.54 1152.52 1379.37 1152.52 1379.37 1007.81 1384.17 1001.01"/>
          <rect id="4da872ed-b8a2-444c-97cf-fcfe8b255ca7" @click="showWindow('4da872ed-b8a2-444c-97cf-fcfe8b255ca7')" v-bind:class="[returnActivePlaceClass('4da872ed-b8a2-444c-97cf-fcfe8b255ca7')]" class="cls-4" x="1594.58" y="669.44" width="73.29" height="216.85"/>
          <polygon id="cd18d47e-b744-415e-8818-b228d3bf560b" @click="showWindow('cd18d47e-b744-415e-8818-b228d3bf560b')" v-bind:class="[returnActivePlaceClass('cd18d47e-b744-415e-8818-b228d3bf560b')]" class="cls-4" points="1667.87 669.44 1667.87 886.29 1891.76 886.49 1891.76 669.74 1667.87 669.44"/>
          <polygon id="fac50812-a9e9-4dc8-9c8b-4e1640c858ca" @click="showWindow('fac50812-a9e9-4dc8-9c8b-4e1640c858ca')" v-bind:class="[returnActivePlaceClass('fac50812-a9e9-4dc8-9c8b-4e1640c858ca')]" class="cls-4" points="1047.23 867.09 1214.43 865.55 1216.27 690.23 1047.23 688.24 1047.23 867.09"/>
          <polygon id="c40497a9-171a-4f58-8bc4-de18a40ae92b" @click="showWindow('c40497a9-171a-4f58-8bc4-de18a40ae92b')" v-bind:class="[returnActivePlaceClass('c40497a9-171a-4f58-8bc4-de18a40ae92b')]" class="cls-4" points="1214.43 690.31 1223.32 690.59 1232.12 691.74 1240.77 693.76 1249.18 696.62 1257.26 700.31 1264.94 704.78 1272.13 709.99 1278.78 715.89 1284.8 722.42 1290.14 729.52 1294.76 737.11 1298.6 745.12 1301.63 753.47 1303.82 762.08 1305.13 770.86 1305.58 779.74 1305.13 788.61 1303.82 797.39 1301.63 806 1298.6 814.36 1294.76 822.37 1290.14 829.96 1284.8 837.05 1278.78 843.58 1272.13 849.48 1264.94 854.69 1257.26 859.16 1249.18 862.85 1240.77 865.72 1232.12 867.74 1223.32 868.89 1214.43 869.16 1214.43 861.63 1214.43 697.85 1214.43 690.31"/>
          <rect id="ba7a34ba-ac87-4d03-9cbd-71c827bec3f1" @click="showWindow('ba7a34ba-ac87-4d03-9cbd-71c827bec3f1')" v-bind:class="[returnActivePlaceClass('ba7a34ba-ac87-4d03-9cbd-71c827bec3f1')]" class="cls-4" x="1767.74" y="932.03" width="161.99" height="55.2"/>
          <polygon id="560f40da-09b9-4853-bc10-321a664431ba" @click="showWindow('560f40da-09b9-4853-bc10-321a664431ba')" v-bind:class="[returnActivePlaceClass('560f40da-09b9-4853-bc10-321a664431ba')]" class="cls-4" points="1774.54 1194.63 1922.93 1194.63 1922.93 994.04 1929.73 987.24 1929.73 987.24 1767.74 987.24 1774.54 994.04 1774.54 1194.63"/>
        </g>
        <g id="stairs">
          <rect class="cls-4" x="1122.53" y="867.11" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1129.13" y="867.09" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1116.01" y="867.13" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1109.42" y="867.08" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1135.72" y="867.07" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1142.31" y="867.12" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1148.84" y="867.1" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1155.43" y="867.08" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1084.68" y="867.07" width="124.43" height="2.24"/>
          <rect class="cls-4" x="1084.71" y="883.88" width="124.43" height="2.24"/>
          <rect class="cls-4" x="1083.11" y="867.09" width="2.24" height="19.06"/>
          <polygon class="cls-5"
                   points="1099.66 881.72 1104.78 876.61 1104.78 876.61 1104.78 876.61 1099.66 871.5 1098.08 873.08 1100.5 875.5 1089.62 875.5 1089.62 877.73 1100.5 877.73 1098.08 880.14 1099.66 881.72"/>
          <rect class="cls-4" x="1162.02" y="867.13" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1168.55" y="867.11" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1175.14" y="867.09" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1181.73" y="867.07" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1188.33" y="867.12" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1194.85" y="867.1" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1201.45" y="867.08" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1208.04" y="867.13" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1123.79" y="669.88" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1130.38" y="669.87" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1117.26" y="669.9" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1110.67" y="669.86" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1136.98" y="669.85" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1143.57" y="669.89" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1150.09" y="669.87" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1156.69" y="669.86" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1085.93" y="669.84" width="124.43" height="2.24"/>
          <rect class="cls-4" x="1085.96" y="686.65" width="124.43" height="2.23"/>
          <rect class="cls-4" x="1084.37" y="669.87" width="2.24" height="19.06"/>
          <polygon class="cls-5"
                   points="1100.92 684.5 1106.03 679.38 1106.03 679.38 1106.03 679.38 1100.92 674.27 1099.34 675.85 1101.76 678.27 1090.88 678.27 1090.88 680.5 1101.76 680.5 1099.34 682.92 1100.92 684.5"/>
          <rect class="cls-4" x="1163.28" y="669.9" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1169.81" y="669.88" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1176.4" y="669.86" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1182.99" y="669.84" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1189.58" y="669.89" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1196.11" y="669.87" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1202.7" y="669.85" width="2.24" height="19.06"/>
          <rect class="cls-4" x="1209.29" y="669.9" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2168.97" y="982.61" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2162.38" y="982.59" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2175.5" y="982.63" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2182.09" y="982.58" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2155.78" y="982.57" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2149.19" y="982.62" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2142.67" y="982.6" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2136.07" y="982.58" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2084.63" y="982.56" width="124.43" height="2.24"/>
          <rect class="cls-4" x="2084.6" y="999.38" width="124.43" height="2.24"/>
          <rect class="cls-4" x="2208.39" y="982.59" width="2.24" height="19.06"/>
          <polygon class="cls-5"
                   points="2194.08 997.22 2188.96 992.11 2188.96 992.11 2188.96 992.11 2194.08 986.99 2195.66 988.57 2193.24 990.99 2204.12 990.99 2204.12 993.22 2193.24 993.22 2195.66 995.64 2194.08 997.22"/>
          <rect class="cls-4" x="2129.48" y="982.63" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2122.95" y="982.61" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2116.36" y="982.59" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2109.77" y="982.57" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2103.18" y="982.61" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2096.65" y="982.6" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2090.06" y="982.58" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2083.46" y="982.62" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2168.97" y="965.24" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2162.38" y="965.22" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2175.5" y="965.26" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2182.09" y="965.21" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2155.78" y="965.2" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2149.19" y="965.25" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2142.67" y="965.23" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2136.07" y="965.21" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2084.63" y="965.2" width="124.43" height="2.24"/>
          <rect class="cls-4" x="2084.6" y="982.01" width="124.43" height="2.23"/>
          <rect class="cls-4" x="2208.39" y="965.22" width="2.24" height="19.06"/>
          <polygon class="cls-5"
                   points="2194.08 979.85 2188.96 974.74 2188.96 974.74 2188.96 974.74 2194.08 969.63 2195.66 971.21 2193.24 973.62 2204.12 973.62 2204.12 975.85 2193.24 975.85 2195.66 978.27 2194.08 979.85"/>
          <rect class="cls-4" x="2129.48" y="965.26" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2122.95" y="965.24" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2116.36" y="965.22" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2109.77" y="965.2" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2103.18" y="965.25" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2096.65" y="965.23" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2090.06" y="965.21" width="2.24" height="19.06"/>
          <rect class="cls-4" x="2083.46" y="965.26" width="2.24" height="19.06"/>
          <rect class="cls-4" x="990.02" y="1200.5" width="24.2" height="1.97"
                transform="translate(-556.06 1060.5) rotate(-45)"/>
          <rect class="cls-4" x="985.92" y="1196.4" width="24.2" height="1.97"
                transform="translate(-554.37 1056.43) rotate(-45)"/>
          <rect class="cls-4" x="994.13" y="1204.6" width="24.2" height="1.97"
                transform="translate(-557.76 1064.6) rotate(-45)"/>
          <rect class="cls-4" x="999.43" y="1200.99" width="1.97" height="29.02"
                transform="translate(-566.49 1063.58) rotate(-45.01)"/>
          <rect class="cls-4" x="1015.15" y="1185.28" width="1.97" height="29.02"
                transform="translate(-550.74 1069.76) rotate(-44.99)"/>
          <rect class="cls-4" x="1006.44" y="1216.92" width="24.2" height="1.97"
                transform="translate(-562.86 1076.94) rotate(-45)"/>
          <polygon class="cls-5"
                   points="1014.87 1208.12 1008.46 1208.12 1008.46 1208.12 1008.46 1208.12 1008.46 1214.52 1010.43 1214.52 1010.43 1211.48 1014.78 1215.83 1016.18 1214.43 1011.83 1210.09 1014.87 1210.09 1014.87 1208.12"/>
          <rect class="cls-4" x="1270.46" y="376.33" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1276.26" y="376.33" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1264.65" y="376.33" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1248.23" y="398.56" width="29.02" height="1.97"/>
          <rect class="cls-4" x="1248.23" y="376.33" width="29.02" height="1.97"/>
          <rect class="cls-4" x="1247.24" y="376.33" width="1.97" height="24.2"/>
          <polygon class="cls-5"
                   points="1257.75 384.11 1262.28 388.64 1262.28 388.64 1262.28 388.64 1257.75 393.17 1256.36 391.77 1258.5 389.63 1252.35 389.63 1252.35 387.65 1258.5 387.65 1256.36 385.5 1257.75 384.11"/>
          <rect class="cls-4" x="1668.73" y="1153.48" width="2.41" height="29.58"/>
          <rect class="cls-4" x="1661.64" y="1153.48" width="2.41" height="29.58"/>
          <rect class="cls-4" x="1675.82" y="1153.48" width="2.41" height="29.58"/>
          <rect class="cls-4" x="1662.84" y="1180.65" width="35.47" height="2.41"/>
          <rect class="cls-4" x="1662.84" y="1153.48" width="35.47" height="2.41"/>
          <rect class="cls-4" x="1697.11" y="1153.48" width="2.41" height="29.58"/>
          <polygon class="cls-5"
                   points="1686.68 1162.98 1681.15 1168.52 1681.15 1168.52 1681.15 1168.52 1686.68 1174.05 1688.38 1172.35 1685.76 1169.72 1693.28 1169.72 1693.28 1167.31 1685.76 1167.31 1688.38 1164.69 1686.68 1162.98"/>
          <rect class="cls-4" x="1832.43" y="401" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1826.63" y="401" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1838.24" y="401" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1827.62" y="423.22" width="29.02" height="1.97"/>
          <rect class="cls-4" x="1827.62" y="401" width="29.02" height="1.97"/>
          <rect class="cls-4" x="1855.65" y="401" width="1.97" height="24.2"/>
          <polygon class="cls-5"
                   points="1847.12 408.77 1842.59 413.3 1842.59 413.3 1842.59 413.3 1847.12 417.83 1848.51 416.43 1846.36 414.29 1852.52 414.29 1852.52 412.31 1846.36 412.31 1848.51 410.17 1847.12 408.77"/>
          <rect class="cls-4" x="2029.42" y="1171.67" width="1.97" height="24.2"/>
          <rect class="cls-4" x="2023.61" y="1171.67" width="1.97" height="24.2"/>
          <rect class="cls-4" x="2035.22" y="1171.67" width="1.97" height="24.2"/>
          <rect class="cls-4" x="2024.6" y="1193.9" width="29.02" height="1.97"/>
          <rect class="cls-4" x="2024.6" y="1171.67" width="29.02" height="1.97"/>
          <rect class="cls-4" x="2052.63" y="1171.67" width="1.97" height="24.2"/>
          <polygon class="cls-5"
                   points="2044.1 1179.45 2039.58 1183.98 2039.58 1183.98 2039.58 1183.98 2044.1 1188.5 2045.49 1187.11 2043.35 1184.96 2049.5 1184.96 2049.5 1182.99 2043.35 1182.99 2045.49 1180.84 2044.1 1179.45"/>
          <rect class="cls-4" x="2244.4" y="640.24" width="24.2" height="1.97"/>
          <rect class="cls-4" x="2244.4" y="634.43" width="24.2" height="1.97"/>
          <rect class="cls-4" x="2244.4" y="646.04" width="24.2" height="1.97"/>
          <rect class="cls-4" x="2244.4" y="635.42" width="1.97" height="29.02"/>
          <rect class="cls-4" x="2266.63" y="635.42" width="1.97" height="29.02"/>
          <rect class="cls-4" x="2244.4" y="663.45" width="24.2" height="1.97"/>
          <polygon class="cls-5"
                   points="2260.83 654.92 2256.3 650.39 2256.3 650.39 2256.3 650.39 2251.77 654.92 2253.17 656.31 2255.31 654.17 2255.31 660.32 2257.29 660.32 2257.29 654.17 2259.43 656.31 2260.83 654.92"/>
          <rect class="cls-4" x="1983.27" y="422.82" width="16.25" height="1.33"/>
          <rect class="cls-4" x="1983.27" y="418.93" width="16.25" height="1.33"/>
          <rect class="cls-4" x="1983.27" y="426.72" width="16.25" height="1.33"/>
          <rect class="cls-4" x="1983.27" y="419.59" width="1.33" height="19.49"/>
          <rect class="cls-4" x="1998.2" y="419.59" width="1.33" height="19.49"/>
          <rect class="cls-4" x="1983.27" y="438.41" width="16.25" height="1.33"/>
          <polygon class="cls-5"
                   points="1994.3 432.69 1991.26 429.64 1991.26 429.64 1991.26 429.64 1988.22 432.69 1989.16 433.62 1990.6 432.18 1990.6 436.31 1991.92 436.31 1991.92 432.18 1993.37 433.62 1994.3 432.69"/>
          <rect class="cls-4" x="643.97" y="393.32" width="1.65" height="20.21"/>
          <rect class="cls-4" x="639.12" y="393.32" width="1.65" height="20.21"/>
          <rect class="cls-4" x="648.81" y="393.32" width="1.65" height="20.21"/>
          <rect class="cls-4" x="639.94" y="411.88" width="24.24" height="1.65"/>
          <rect class="cls-4" x="639.94" y="393.32" width="24.24" height="1.65"/>
          <rect class="cls-4" x="663.35" y="393.32" width="1.65" height="20.21"/>
          <polygon class="cls-5"
                   points="656.23 399.81 652.45 403.6 652.45 403.6 652.45 403.6 656.23 407.38 657.39 406.21 655.6 404.42 660.74 404.42 660.74 402.77 655.6 402.77 657.39 400.98 656.23 399.81"/>
          <rect class="cls-4" x="384.05" y="629.61" width="25.11" height="2.05"
                transform="translate(-326.88 452.99) rotate(-44.04)"/>
          <rect class="cls-4" x="379.86" y="625.28" width="25.11" height="2.05"
                transform="translate(-325.05 448.87) rotate(-44.04)"/>
          <rect class="cls-4" x="388.23" y="633.93" width="25.11" height="2.05"
                transform="translate(-328.72 457.13) rotate(-44.04)"/>
          <rect class="cls-4" x="393.57" y="630.08" width="2.05" height="30.11"
                transform="translate(-337.53 455.66) rotate(-44.04)"/>
          <rect class="cls-4" x="410.15" y="614.05" width="2.05" height="30.11"
                transform="translate(-321.74 462.75) rotate(-44.04)"/>
          <rect class="cls-4" x="400.79" y="646.92" width="25.11" height="2.05"
                transform="translate(-334.22 469.51) rotate(-44.04)"/>
          <polygon class="cls-5"
                   points="409.71 637.73 403.06 637.62 403.06 637.62 403.06 637.62 402.95 644.26 405 644.29 405.05 641.14 409.49 645.73 410.96 644.31 406.52 639.72 409.67 639.77 409.71 637.73"/>
          <rect class="cls-4" x="1011.16" y="1179.37" width="24.2" height="1.97"
                transform="translate(-534.93 1069.27) rotate(-45)"/>
          <rect class="cls-4" x="1007.05" y="1175.26" width="24.2" height="1.97"
                transform="translate(-533.23 1065.17) rotate(-45)"/>
          <rect class="cls-4" x="1015.26" y="1183.47" width="24.2" height="1.97"
                transform="translate(-536.63 1073.37) rotate(-45)"/>
          <rect class="cls-4" x="1020.57" y="1179.86" width="1.97" height="29.02"
                transform="translate(-545.33 1072.06) rotate(-45)"/>
          <rect class="cls-4" x="1036.29" y="1164.14" width="1.97" height="29.02"
                transform="translate(-529.62 1078.68) rotate(-45)"/>
          <rect class="cls-4" x="1027.57" y="1195.78" width="24.2" height="1.97"
                transform="translate(-541.73 1085.69) rotate(-45)"/>
          <polygon class="cls-5"
                   points="1030.26 1193.96 1036.66 1193.96 1036.62 1193.92 1036.66 1193.96 1036.66 1187.56 1034.69 1187.56 1034.65 1190.55 1030.34 1186.24 1028.94 1187.64 1033.25 1191.95 1030.26 1191.99 1030.26 1193.96"/>
          <rect class="cls-4" x="1270.46" y="346.62" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1276.26" y="346.62" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1264.65" y="346.62" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1248.23" y="368.85" width="29.02" height="1.97"/>
          <rect class="cls-4" x="1248.23" y="346.62" width="29.02" height="1.97"/>
          <rect class="cls-4" x="1247.24" y="346.62" width="1.97" height="24.2"/>
          <polygon class="cls-5"
                   points="1256.88 363.39 1252.35 358.87 1252.41 358.87 1252.35 358.87 1256.88 354.34 1258.27 355.73 1256.18 357.88 1262.28 357.88 1262.28 359.86 1256.18 359.86 1258.27 362 1256.88 363.39"/>
          <rect class="cls-4" x="1668.73" y="1117.16" width="2.41" height="29.58"/>
          <rect class="cls-4" x="1661.64" y="1117.16" width="2.41" height="29.58"/>
          <rect class="cls-4" x="1675.82" y="1117.16" width="2.41" height="29.58"/>
          <rect class="cls-4" x="1662.84" y="1144.33" width="35.47" height="2.41"/>
          <rect class="cls-4" x="1662.84" y="1117.16" width="35.47" height="2.41"/>
          <rect class="cls-4" x="1697.11" y="1117.16" width="2.41" height="29.58"/>
          <polygon class="cls-5"
                   points="1687.74 1137.66 1693.28 1132.13 1693.21 1132.13 1693.28 1132.13 1687.74 1126.59 1686.04 1128.3 1688.6 1130.92 1681.15 1130.92 1681.15 1133.33 1688.6 1133.33 1686.04 1135.96 1687.74 1137.66"/>
          <rect class="cls-4" x="1832.43" y="371.28" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1826.63" y="371.28" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1838.24" y="371.28" width="1.97" height="24.2"/>
          <rect class="cls-4" x="1827.62" y="393.51" width="29.02" height="1.97"/>
          <rect class="cls-4" x="1827.62" y="371.28" width="29.02" height="1.97"/>
          <rect class="cls-4" x="1855.65" y="371.28" width="1.97" height="24.2"/>
          <polygon class="cls-5"
                   points="1847.99 388.06 1852.52 383.53 1852.46 383.53 1852.52 383.53 1847.99 379 1846.6 380.39 1848.68 382.54 1842.59 382.54 1842.59 384.52 1848.68 384.52 1846.6 386.66 1847.99 388.06"/>
          <rect class="cls-4" x="2029.42" y="1141.96" width="1.97" height="24.2"/>
          <rect class="cls-4" x="2023.61" y="1141.96" width="1.97" height="24.2"/>
          <rect class="cls-4" x="2035.22" y="1141.96" width="1.97" height="24.2"/>
          <rect class="cls-4" x="2024.6" y="1164.19" width="29.02" height="1.97"/>
          <rect class="cls-4" x="2024.6" y="1141.96" width="29.02" height="1.97"/>
          <rect class="cls-4" x="2052.63" y="1141.96" width="1.97" height="24.2"/>
          <polygon class="cls-5"
                   points="2044.97 1158.73 2049.5 1154.21 2049.44 1154.21 2049.5 1154.21 2044.97 1149.68 2043.58 1151.07 2045.67 1153.22 2039.58 1153.22 2039.58 1155.19 2045.67 1155.19 2043.58 1157.34 2044.97 1158.73"/>
          <rect class="cls-4" x="2274.12" y="640.24" width="24.2" height="1.97"/>
          <rect class="cls-4" x="2274.12" y="634.43" width="24.2" height="1.97"/>
          <rect class="cls-4" x="2274.12" y="646.04" width="24.2" height="1.97"/>
          <rect class="cls-4" x="2274.12" y="635.42" width="1.97" height="29.02"/>
          <rect class="cls-4" x="2296.34" y="635.42" width="1.97" height="29.02"/>
          <rect class="cls-4" x="2274.12" y="663.45" width="24.2" height="1.97"/>
          <polygon class="cls-5"
                   points="2281.54 655.79 2286.07 660.32 2286.07 660.26 2286.07 660.32 2290.6 655.79 2289.2 654.4 2287.06 656.49 2287.06 650.39 2285.08 650.39 2285.08 656.49 2282.94 654.4 2281.54 655.79"/>
          <rect class="cls-4" x="2003.22" y="422.82" width="16.25" height="1.33"/>
          <rect class="cls-4" x="2003.22" y="418.93" width="16.25" height="1.33"/>
          <rect class="cls-4" x="2003.22" y="426.72" width="16.25" height="1.33"/>
          <rect class="cls-4" x="2003.22" y="419.59" width="1.33" height="19.49"/>
          <rect class="cls-4" x="2018.15" y="419.59" width="1.33" height="19.49"/>
          <rect class="cls-4" x="2003.22" y="438.41" width="16.25" height="1.33"/>
          <polygon class="cls-5"
                   points="2008.21 433.27 2011.25 436.31 2011.25 436.27 2011.25 436.31 2014.29 433.27 2013.36 432.33 2011.92 433.74 2011.92 429.64 2010.59 429.64 2010.59 433.74 2009.15 432.33 2008.21 433.27"/>
          <rect class="cls-4" x="643.97" y="368.5" width="1.65" height="20.21"/>
          <rect class="cls-4" x="639.12" y="368.5" width="1.65" height="20.21"/>
          <rect class="cls-4" x="648.81" y="368.5" width="1.65" height="20.21"/>
          <rect class="cls-4" x="639.94" y="387.07" width="24.24" height="1.65"/>
          <rect class="cls-4" x="639.94" y="368.5" width="24.24" height="1.65"/>
          <rect class="cls-4" x="663.35" y="368.5" width="1.65" height="20.21"/>
          <polygon class="cls-5"
                   points="656.96 382.51 660.74 378.73 660.69 378.73 660.74 378.73 656.96 374.95 655.79 376.11 657.54 377.91 652.45 377.91 652.45 379.56 657.54 379.56 655.79 381.35 656.96 382.51"/>
          <rect class="cls-4" x="406.34" y="608.05" width="25.11" height="2.05"
                transform="translate(-305.63 462.43) rotate(-44.04)"/>
          <rect class="cls-4" x="402.15" y="603.72" width="25.11" height="2.05"
                transform="translate(-303.8 458.3) rotate(-44.04)"/>
          <rect class="cls-4" x="410.53" y="612.37" width="25.11" height="2.05"
                transform="translate(-307.46 466.56) rotate(-44.04)"/>
          <rect class="cls-4" x="415.86" y="608.52" width="2.05" height="30.11"
                transform="translate(-316.27 465.07) rotate(-44.04)"/>
          <rect class="cls-4" x="432.44" y="592.49" width="2.05" height="30.11"
                transform="translate(-300.48 472.14) rotate(-44.04)"/>
          <rect class="cls-4" x="423.09" y="625.36" width="25.11" height="2.05"
                transform="translate(-312.96 478.95) rotate(-44.04)"/>
          <polygon class="cls-5"
                   points="425.92 623.3 432.56 623.42 432.52 623.37 432.56 623.42 432.67 616.77 430.63 616.74 430.53 619.85 426.14 615.3 424.67 616.73 429.06 621.27 425.95 621.26 425.92 623.3"/>
        </g>
        <g id="input">
          <text class="cls-6" x="1029.36" y="1019.5" width="164.46" height="15">{{ getNameOfPlace('fb1c48cf-4ba3-44f7-817a-7fa8a79cef58') }} </text>
          <text class="cls-6" x="1029.36" y="1040.5" width="164.46" height="15">{{ getNumberOfPlace('fb1c48cf-4ba3-44f7-817a-7fa8a79cef58') }} </text>
          <text class="cls-6" x="1029.36" y="1061.5" width="164.46" height="15">{{ getAreaOfPlace('fb1c48cf-4ba3-44f7-817a-7fa8a79cef58') }}  </text>
          <text class="cls-6" x="1063.5" y="735.11" width="133.73" height="13.03">{{ getNameOfPlace('fac50812-a9e9-4dc8-9c8b-4e1640c858ca') }} </text>
          <text class="cls-6" x="1063.5" y="753.35" width="133.73" height="13.03">{{ getNumberOfPlace('fac50812-a9e9-4dc8-9c8b-4e1640c858ca') }} </text>
          <text class="cls-6" x="1063.5" y="771.58" width="133.73" height="13.03">{{ getAreaOfPlace('fac50812-a9e9-4dc8-9c8b-4e1640c858ca') }}  </text>
          <text class="cls-6" x="1265.45" y="1023.25" width="102.05" height="13.03">{{ getNameOfPlace('8933e33f-e288-4688-a32a-2fa0752e248e') }} </text>
          <text class="cls-6" x="1265.45" y="1041.49" width="102.05" height="13.03">{{ getNumberOfPlace('8933e33f-e288-4688-a32a-2fa0752e248e') }} </text>
          <text class="cls-6" x="1265.45" y="1059.72" width="102.05" height="13.03">{{ getAreaOfPlace('8933e33f-e288-4688-a32a-2fa0752e248e') }}  </text>
          <text class="cls-6" x="1032.08" y="393.25" width="125.58" height="13.03">{{ getNameOfPlace('f5911cc5-8d66-4f2c-9827-1b0d03f53e58') }} </text>
          <text class="cls-6" x="1032.08" y="411.48" width="125.58" height="13.03">{{ getNumberOfPlace('f5911cc5-8d66-4f2c-9827-1b0d03f53e58') }} </text>
          <text class="cls-6" x="1032.08" y="429.72" width="125.58" height="13.03">{{ getAreaOfPlace('f5911cc5-8d66-4f2c-9827-1b0d03f53e58') }}  </text>
          <text class="cls-6" x="1341.5" y="398.47" width="152" height="13.03">{{ getNameOfPlace('22c9c2b7-4be6-4572-bce2-996940a6797f') }} </text>
          <text class="cls-6" x="1341.5" y="416.71" width="152" height="13.03">{{ getNumberOfPlace('22c9c2b7-4be6-4572-bce2-996940a6797f') }} </text>
          <text class="cls-6" x="1341.5" y="434.95" width="152" height="13.03">{{ getAreaOfPlace('22c9c2b7-4be6-4572-bce2-996940a6797f') }}  </text>
          <text class="cls-6" x="1546.53" y="398.47" width="158.97" height="13.03">{{ getNameOfPlace('c00b9e55-db20-4928-8d66-2db60ae07f91') }} </text>
          <text class="cls-6" x="1546.53" y="416.71" width="158.97" height="13.03">{{ getNumberOfPlace('c00b9e55-db20-4928-8d66-2db60ae07f91') }} </text>
          <text class="cls-6" x="1546.53" y="434.95" width="158.97" height="13.03">{{ getAreaOfPlace('c00b9e55-db20-4928-8d66-2db60ae07f91') }}  </text>
          <text class="cls-6" x="1773.03" y="449.08" width="139.47" height="13.03">{{ getNameOfPlace('66a54fcd-93da-4aa0-a39c-ac657aebb57f') }} </text>
          <text class="cls-6" x="1773.03" y="467.31" width="139.47" height="13.03">{{ getNumberOfPlace('66a54fcd-93da-4aa0-a39c-ac657aebb57f') }} </text>
          <text class="cls-6" x="1773.03" y="485.55" width="139.47" height="13.03">{{ getAreaOfPlace('66a54fcd-93da-4aa0-a39c-ac657aebb57f') }}  </text>
          <text class="cls-6" x="1685.91" y="735.11" width="188.59" height="13.03">{{ getNameOfPlace('cd18d47e-b744-415e-8818-b228d3bf560b') }} </text>
          <text class="cls-6" x="1685.91" y="753.35" width="188.59" height="13.03">{{ getNumberOfPlace('cd18d47e-b744-415e-8818-b228d3bf560b') }} </text>
          <text class="cls-6" x="1685.91" y="771.58" width="188.59" height="13.03">{{ getAreaOfPlace('cd18d47e-b744-415e-8818-b228d3bf560b') }}  </text>
          <text class="cls-6" x="1347.77" y="735.11" width="188.59" height="13.03">{{ getNameOfPlace('b2a087f2-bcaf-4d29-8b44-905cab122a98') }} </text>
          <text class="cls-6" x="1347.77" y="753.35" width="188.59" height="13.03">{{ getNumberOfPlace('b2a087f2-bcaf-4d29-8b44-905cab122a98') }} </text>
          <text class="cls-6" x="1347.77" y="771.58" width="188.59" height="13.03">{{ getAreaOfPlace('b2a087f2-bcaf-4d29-8b44-905cab122a98') }}  </text>
          <text class="cls-6" x="1786.5" y="1004" width="122.51" height="13.03">{{ getNameOfPlace('560f40da-09b9-4853-bc10-321a664431ba') }} </text>
          <text class="cls-6" x="1786.5" y="1022.24" width="122.51" height="13.03">{{ getNumberOfPlace('560f40da-09b9-4853-bc10-321a664431ba') }} </text>
          <text class="cls-6" x="1786.5" y="1040.47" width="122.51" height="13.03">{{ getAreaOfPlace('560f40da-09b9-4853-bc10-321a664431ba') }}  </text>
        </g>
      </svg>
    </SvgPanZoom>

    <modal name="renter" class="modal-renter" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renter')">
          <img src="../../assets/close.svg" alt="">
        </div>

        <h3>Помещение № {{ correctRenter.place }}</h3>

        <table class="table table-hover">
          <tbody>
          <tr>
            <td>Номер помещения(БТИ):</td>
            <td>{{correctRenter.name}}</td>
          </tr>
          <tr>
            <td>Номер помещения:</td>
            <td>{{correctRenter.place}}</td>
          </tr>
          <tr>
            <td>Площадь помещения:</td>
            <td>{{correctRenter.area}}</td>
          </tr>
          <tr>
            <td>Тип помещения</td>
            <td>{{ placesType() }}</td>
          </tr>
          <tr>
            <td>Статус</td>
            <td>{{ statusRenter(correctRenter.status) }}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold">Арендатор</span></td>
            <td></td>
          </tr>
          <tr>
            <td>Наименование</td>
            <td>{{correctRenter.renter}}</td>
          </tr>

          <tr>
            <td>Тип</td>
            <td>{{ typeRenter(correctRenter.renter_type) }}</td>
          </tr>

          <tr>
            <td>Период</td>
            <td>{{ returnCorrectDate }}</td>
          </tr>

          <tr v-for="item in correctRenter.doc_number">
            <td><a href="#" @click="downloadDoc(item.id)">{{item.name}}</a></td>
            <td></td>
          </tr>

          <tr>
            <td class="font-weight-bold">Стоимость аренды (основная)</td>
            <td></td>
          </tr>

          <tr>
            <td>Базовая аренда</td>
            <td>{{ correctRenter.price_base }}</td>
          </tr>

          <tr>
            <td>Переменная</td>
            <td>{{ correctRenter.price_var }}</td>
          </tr>

          <tr>
            <td>Эксплатыционная</td>
            <td>{{ correctRenter.price_ekp }}</td>
          </tr>

          <tr>
            <td class="font-weight-bold">Стоимость аренды (дополнительная)</td>
            <td></td>
          </tr>

          <tr>
            <td>Маркетинговый сбор</td>
            <td>{{ correctRenter.market }}</td>
          </tr>

          <tr>
            <td>Процент с продаж</td>
            <td>{{ correctRenter.percentPay }}</td>
          </tr>

          <tr>
            <td>Доп доход</td>
            <td>{{ correctRenter.additional_pay }}</td>
          </tr>

          </tbody>
        </table>


        <button v-if="userRole === 'admin'" type="button" class="btn btn-success d-block mt-5" @click="renterChange()">
          Изменить помещение
        </button>
      </div>
    </modal>

    <modal name="renterChange" id="renterChange" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renterChange')">
          <img src="../../assets/close.svg" alt="">
        </div>

        <h3>Помещение {{ correctRenter.place }}</h3>

        <div class="row mt-4">
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Номер помещения (БТИ)</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.name">
            </div>

            <div class="form-group">
              <small class="text-secondary">Номер помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.place">
            </div>

            <div class="form-group">
              <small class="text-secondary">Тип помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.placesType">
                  <option v-for="item in placesTypes" :value="item.id">{{ item.name }}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Площадь помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Площадь помещения"
                     v-model="correctRenter.area">
            </div>

            <div class="form-group">
              <small class="text-secondary">Статус помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.status">
                  <option value="free">Свободно</option>
                  <option value="busy">Занято</option>
                  <option value="reserve">В резерве</option>
                </select>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Отображать на плане</h3>

        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlane">
                </div>
              </div>
              <div class="form-control">
                <small>Номер помещения</small>
              </div>
            </div>

            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlaneArea">
                </div>
              </div>
              <div class="form-control">
                <small>Площадь помещения</small>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlaneCompanyName">
                </div>
              </div>
              <div class="form-control">
                <small>Название компании</small>
              </div>
            </div>
          </div>
        </div>

        <h3 class="mt-3">Арендатор</h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Наименование компании</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите текст"
                     v-model="correctRenter.renter">
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор с</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru"
                              v-model="correctRenter.date_from"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="../../assets/delete.svg" alt="" @click="correctRenter.date_from = null" class="delete-date">
                </div>
              </div>
            </div>

            <!--<div class="form-group">-->
            <!--<small class="text-secondary">Договор номер</small>-->
            <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"-->
            <!--v-model="correctRenter.doc_number">-->
            <!--</div>-->
          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Тип арендатора</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.renter_type">
                  <option v-for="item in rentersType" :value="item.id">{{ item.translate }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор по</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_to"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="../../assets/delete.svg" alt="" @click="correctRenter.date_to = null" class="delete-date">
                </div>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Список прикрепленных файлов</h3>

        <table class="table" v-if="correctRenter.doc_number && correctRenter.doc_number.length">
          <tbody>
          <tr v-for="item in correctRenter.doc_number">
            <td>{{ item.name }}</td>
            <td>
              <button class="btn btn-danger" @click="deleteDoc(item.id)">Удалить</button>
            </td>
          </tr>
          </tbody>
        </table>

        <div v-else class="text-center">
          <span>Нет файлов</span>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" @change="onFileChange">
          <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
        </div>

        <h3 class="mt-3">Стоимость (основная)
          <small>руб/месяц</small>
        </h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Базовая</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Базовая"
                     v-model="correctRenter.price_base">
            </div>

            <div class="form-group">
              <small class="text-secondary">Эксплуатационная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Эксплуатационная"
                     v-model="correctRenter.price_ekp">
            </div>
          </div>
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Условная еденица</small>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Использовать УЕ" v-model="correctRenter.YEuse">
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Значение УЕ" :disabled="!correctRenter.YEuse"
                       v-model="correctRenter.YEvalue" placeholder="введите курс">
              </div>
            </div>

            <div class="form-group">
              <small class="text-secondary">Переменная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Переменная"
                     v-model="correctRenter.price_var">
            </div>
          </div>
        </div>

        <h3 class="mt-3">Стоимость (дополнительная)
          <small>руб/месяц</small>
        </h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group wrap-button-modal ml-auto mr-auto">
              <small class="text-secondary">Период</small>
              <datepicker :minimumView="'month'" :maximumView="'month'" :format="'MM.yyyy'"
                          :input-class="'form-control'" :language="ru"
                          v-model="correctRenter.infoDate"></datepicker>
            </div>

            <div class="form-group">
              <small class="text-secondary">доп доход</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="доп доход"
                     v-model="correctRenter.additional_pay">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Процент с продаж</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Процент с продаж"
                     v-model="correctRenter.percentPay">
            </div>

            <div class="form-group">
              <small class="text-secondary">Маркетинговый сбор</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Маркетинговый сбор"
                     v-model="correctRenter.market">
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-success d-block mt-5" @click="saveRenter()">Сохранить изменения</button>
      </div>
    </modal>

  </div>
</template>

<script>
  import moment from 'moment'
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale';
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "floor_outline_2",
    data() {
      return {
        renters: [],
        correctRenter: {},
        ru,
        rentersType: [],
        userRole: null,
        placesTypes: [],
        places: []
      }
    },
    components: {
      Datepicker,
      SvgPanZoom
    },
    mounted() {
      this.getAllRenters();
      this.rentersTypeMethod();
      this.getUserRole();
      this.getPlacesType();
      this.$http.get('http://shuka.f-bc.ru:3030/places').then(res => {
        this.$set(this, 'places', res.body.data);
      })
    },
    computed: {
      returnCorrectDate() {
        if (this.correctRenter.id) {
          return moment(this.correctRenter.date_from).format('DD.MM.YYYY') + ' - ' + moment(this.correctRenter.date_to).format('DD.MM.YYYY');
        } else {
          return '';
        }
      }
    },
    methods: {
      placesType() {
        const correctPlaces = this.places.find(x => {
          return x.id === Number(this.correctRenter.placesType)
        })

        if (correctPlaces) return correctPlaces.name
      },
      deleteDoc(id) {
        const index = this.correctRenter.doc_number.findIndex(x => {
          return x.id === id
        });

        this.correctRenter.doc_number.splice(index, 1);
      },
      b64DecodeUnicode(str) {
        return decodeURIComponent(Array.prototype.map.call(atob(str), function (c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)
        }).join(''));
      },
      downloadDoc(id) {
        window.location.replace("http://shuka.f-bc.ru:3030/" + id);
      },
      onFileChange(e) {
        const files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;

        this.createImage(files[0]);
      },
      createImage(file) {
        const image = new Image();
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.image = e.target.result;
          vm.$http.post('http://shuka.f-bc.ru:3030/uploads', {uri: e.target.result})
            .then(res => {
              if (!this.correctRenter.doc_number) this.$set(this.correctRenter, 'doc_number', []);

              this.correctRenter.doc_number.push({
                name: file.name,
                id: res.body.id
              });
            })
            .catch(err => {
              console.log(err)
            })
        };
        reader.readAsDataURL(file);
      },
      getNameOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.place
      },
      getAreaOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.area
      },
      getNumberOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.renter
      },
      showNameOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlane
        }
      },
      showAreaOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlaneArea
        }
      },
      showNumberOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlaneCompanyName
        }
      },
      getPlacesType() {
        this.$http.get('http://shuka.f-bc.ru:3030/places').then(res => {
          this.$set(this, 'placesTypes', res.body.data);
        })
      },
      getUserRole() {
        this.$set(this, 'userRole', JSON.parse(localStorage.getItem('fish-user')).role);
      },
      rentersTypeMethod() {
        this.$http.get('http://shuka.f-bc.ru:3030/renters-type').then(res => {
          this.$set(this, 'rentersType', res.body.data);
        })
      },
      typeRenter(type) {
        if (type) {
          const renter = this.rentersType.find(x => {
            return Number(type) === x.id;
          });
          return renter.translate;
        }
      },
      statusRenter(status) {
        const statusDictionary = {
          free: 'Свободен',
          reserve: 'В резерве',
          busy: 'Занят'
        };

        return statusDictionary[status];
      },
      renterChange() {
        this.$modal.hide('renter');
        this.$modal.show('renterChange');
      },
      returnActivePlaceClass(id) {
        let defaultClass = 'free';

        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          if (correctRenter.status === 'busy') {
            defaultClass = 'busy'
          } else if (correctRenter.status === 'reserve') {
            defaultClass = 'reserve'
          }
        }

        return defaultClass;
      },
      getAllRenters() {
        this.$http.get('http://shuka.f-bc.ru:3030/renters?floor=' + this.$route.params.floorId).then(res => {
          res.body.forEach(item => {
            item.doc_number = JSON.parse(item.doc_number)
          });
          this.$set(this, 'renters', res.body);
        })

        this.$http.get('http://shuka.f-bc.ru:3030/market?floor=' + this.$route.params.floorId + '&$limit=1000').then(res => {
          this.$root.$emit('getFloorStatistic', res.body);
        })
      },
      showWindow(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          this.correctRenter = Object.assign({}, this.correctRenter, correctRenter);
        } else {
          this.$set(this, 'correctRenter', {});
          this.$set(this.correctRenter, 'image_id', id);
        }

        this.$http.get('http://shuka.f-bc.ru:3030/market?place_id=' + this.correctRenter.name + '&date=' + moment().format('MM.YYYY')).then(res => {
          if (res.body[0]) {
            const data = res.body[0];

            this.correctRenter = Object.assign({}, this.correctRenter, {
              infoDate: moment('01.' + data.date).format('DD.MM.YYYY'),
              additional_pay: data.additional_pay,
              percentPay: data.percentPay,
              market: data.market,
              YEuse: data.YEuse,
              YEvalue: data.YEvalue
            });
          }

          this.$modal.show('renter');
        })
      },
      saveRenter() {
        let request;

        if (this.correctRenter.id) {
          request = this.updaterenter();
        } else {
          request = this.createRenter();
        }

        request.then(() => {
          this.$modal.hide('renterChange');
          this.$root.$emit('updateRenters');
          this.getAllRenters();
        })
      },
      async createRenter() {
        await this.$http.post('http://shuka.f-bc.ru:3030/renters/', {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base,
          price_var: this.correctRenter.price_var,
          price_ekp: this.correctRenter.price_ekp,
          area: Number(this.correctRenter.area),
          floor: this.$route.params.floorId,
          image_id: this.correctRenter.image_id,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName,
          YEvalue: this.correctRenter.YEvalue,
          YEuse: this.correctRenter.YEuse
        })
      },
      async updaterenter() {
        await this.$http.patch('http://shuka.f-bc.ru:3030/renters/' + this.correctRenter.id, {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base || null,
          price_var: this.correctRenter.price_var || null,
          price_ekp: this.correctRenter.price_ekp || null,
          area: Number(this.correctRenter.area) || null,
          floor: this.$route.params.floorId,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          YEvalue: this.correctRenter.YEvalue,
          YEuse: this.correctRenter.YEuse,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName
        })
      }
    }
  }
</script>

<style scoped>
  .cls-1 {
    fill: #d3d8d8;
  }

  .cls-1, .cls-2, .cls-5 {
    fill-rule: evenodd;
  }

  .cls-2, .cls-3 {
    fill: #67777d;
    stroke: #d3d8d8;
    stroke-miterlimit: 22.93;
    stroke-width: 7.09px;
  }

   .cls-5 {
    fill: #000003;
  }

</style>