<template>
  <div>

    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2084 977.6">
        <title>2 floor</title>
        <g id="Слой_2" data-name="Слой 2">
          <g id="Слой_1-2" data-name="Слой 1">

            <g id="BG">
              <path class="cls-2"
                    d="M2084,275h-19L2064,6.1H1775V22.6H1588.5V0H539.1V19.5H442.4l-90,90,5.5,5.5L267,205.9l-4.5-4.5L236.9,227l9.9,9.9-13.6,12.9L0,118.6l5.4,13.2c.5,1.1,47.8,116.4,159.6,274.7A2171.74,2171.74,0,0,0,387.2,672.4,2274.18,2274.18,0,0,0,721.3,953.2l-6.9,10.7c-74.5-47.3-149.3-104.2-222.4-169A2183.49,2183.49,0,0,1,318,621.8c-76.1-84.6-132-159.7-150.8-187.6l-8.3,5.6c19,28.1,75.1,103.6,151.6,188.5a2205.19,2205.19,0,0,0,174.8,174C560.1,868.7,636.8,926.9,713.2,975l4.2,2.6,12.3-18.9A79.78,79.78,0,0,0,840.9,853.8L871.8,823H1398v14h669V808h0l-1.8-487H2084Z"/>
            </g>
            <g id="elevators_and_stairs" data-name="elevators and stairs">
              <path class="cls-3" d="M572.8,306.1a79.7,79.7,0,1,1,79.7-79.7A79.72,79.72,0,0,1,572.8,306.1Z"/>
              <rect x="1240.5" y="446.6" width="29" height="3.4"/>
              <rect x="1240.5" y="436.6" width="29" height="3.4"/>
              <rect x="1240.5" y="456.6" width="29" height="3.4"/>
              <rect x="1240.5" y="466.6" width="29" height="3.4"/>
              <rect x="1240.5" y="426.6" width="29" height="3.4"/>
              <rect x="1240.5" y="416.6" width="29" height="3.4"/>
              <rect x="1240.5" y="406.6" width="29" height="3.4"/>
              <rect x="1240.5" y="396.6" width="29" height="3.4"/>
              <rect x="1240.5" y="397.3" width="3.4" height="110.3"/>
              <rect x="1266" y="397.3" width="3.4" height="110.3"/>
              <rect x="1240.5" y="506.6" width="29" height="3.4"/>
              <polygon
                  points="1262.8 484.9 1255 477.1 1255 477.1 1255 477.1 1247.2 484.9 1249.6 487.3 1253.3 483.6 1253.3 500.1 1256.7 500.1 1256.7 483.6 1260.4 487.3 1262.8 484.9"/>
              <rect x="514.67" y="216.84" width="29" height="3.4" transform="translate(0.46 438.19) rotate(-45)"/>
              <rect x="521.78" y="223.91" width="29" height="3.4" transform="translate(-2.46 445.29) rotate(-45)"/>
              <rect x="507.63" y="209.84" width="29" height="3.4" transform="translate(3.35 431.16) rotate(-45)"/>
              <rect x="500.59" y="202.7" width="29" height="3.4" transform="translate(6.33 424.09) rotate(-45)"/>
              <rect x="528.89" y="230.98" width="29" height="3.4" transform="translate(-5.38 452.39) rotate(-45)"/>
              <rect x="535.94" y="238.13" width="29" height="3.4" transform="translate(-8.36 459.46) rotate(-45)"/>
              <rect x="542.98" y="245.13" width="29" height="3.4" transform="translate(-11.25 466.49) rotate(-45)"/>
              <rect x="550.09" y="252.2" width="29" height="3.4" transform="translate(-14.17 473.59) rotate(-45)"/>
              <rect x="561.57" y="139.8" width="3.4" height="189.3" transform="translate(-0.8 466.96) rotate(-45)"/>
              <rect x="543.52" y="157.92" width="3.4" height="189.3" transform="translate(-18.9 459.5) rotate(-45)"/>
              <rect x="472.28" y="174.41" width="29" height="3.4" transform="translate(18.04 395.79) rotate(-45)"/>
              <polygon
                  points="497.9 198.2 508.9 198.2 508.9 198.2 508.9 198.2 508.9 187.2 505.5 187.2 505.5 192.4 493.8 180.7 491.4 183.1 503.1 194.8 497.9 194.8 497.9 198.2"/>
              <rect x="557.13" y="259.34" width="29" height="3.4" transform="translate(-17.16 480.66) rotate(-45)"/>
              <rect x="564.17" y="266.34" width="29" height="3.4" transform="translate(-20.04 487.69) rotate(-45)"/>
              <rect x="571.28" y="273.41" width="29" height="3.4" transform="translate(-22.96 494.79) rotate(-45)"/>
              <rect x="578.39" y="280.48" width="29" height="3.4" transform="translate(-25.88 501.89) rotate(-45)"/>
              <rect x="585.44" y="287.62" width="29" height="3.4" transform="translate(-28.86 508.96) rotate(-45)"/>
              <rect x="592.48" y="294.62" width="29" height="3.4" transform="translate(-31.75 515.99) rotate(-45)"/>
              <rect x="599.59" y="301.69" width="29" height="3.4" transform="translate(-34.67 523.09) rotate(-45)"/>
              <rect x="606.63" y="308.84" width="29" height="3.4" transform="translate(-37.66 530.16) rotate(-45)"/>
              <rect x="1546.7" y="595" width="3.4" height="29"/>
              <rect x="1556.7" y="595" width="3.4" height="29"/>
              <rect x="1536.7" y="595" width="3.4" height="29"/>
              <rect x="1526.7" y="595" width="3.4" height="29"/>
              <rect x="1566.7" y="595" width="3.4" height="29"/>
              <rect x="1576.7" y="595" width="3.4" height="29"/>
              <rect x="1586.7" y="595" width="3.4" height="29"/>
              <rect x="1596.7" y="595" width="3.4" height="29"/>
              <rect x="1489.1" y="595" width="169.3" height="3.4"/>
              <rect x="1489.1" y="620.5" width="169.3" height="3.4"/>
              <rect x="1486.7" y="595" width="3.4" height="29"/>
              <polygon
                  points="1511.8 617.3 1519.6 609.5 1519.6 609.5 1519.6 609.5 1511.8 601.7 1509.4 604.1 1513.1 607.8 1496.5 607.8 1496.5 611.2 1513.1 611.2 1509.4 614.9 1511.8 617.3"/>
              <rect x="1606.7" y="595" width="3.4" height="29"/>
              <rect x="1616.7" y="595" width="3.4" height="29"/>
              <rect x="1626.7" y="595" width="3.4" height="29"/>
              <rect x="1636.7" y="595" width="3.4" height="29"/>
              <rect x="1646.7" y="595" width="3.4" height="29"/>
              <rect x="1656.7" y="595" width="3.4" height="29"/>
              <path class="cls-2"
                    d="M495.3,303.9A109.74,109.74,0,0,0,650.5,148.7L629.2,170A79.69,79.69,0,1,1,516.5,282.7Z"/>
              <path d="M1252.9,639.2v-3.4H1218v1.7h0v29.6h0v2.4h34.9v-3.4h0V639.2Zm-3.4,26.9h-28.1V639.2h28.1Z"/>
              <polyline
                  points="1235.5 652.4 1240.8 657.8 1243.3 655.4 1235.5 647.6 1235.5 647.6 1235.5 647.6 1227.7 655.4 1230.1 657.8 1235.5 652.4"/>
              <path d="M1258,666.1v3.4h34.9v-1.7h0V638.2h0v-2.4H1258v3.4h0v26.9Zm3.4-26.9h28.1v26.9h-28.1Z"/>
              <polyline
                  points="1275.5 653 1270.1 647.6 1267.7 650 1275.5 657.8 1275.5 657.8 1275.5 657.8 1283.3 650 1280.8 647.6 1275.5 653"/>
              <path d="M674.5,473.9v-3.4H639.6v1.7h0v29.6h0v2.4h34.9v-3.4h0V473.9Zm-3.4,26.9H643V473.9h28.1Z"/>
              <polyline
                  points="657 487.1 662.4 492.5 664.8 490 657 482.3 657 482.3 657 482.3 649.2 490 651.6 492.5 657 487.1"/>
              <path d="M679.6,500.8v3.4h34.9v-1.7h0V472.9h0v-2.4H679.6v3.4h0v26.9Zm3.4-26.9h28.1v26.9H683Z"/>
              <polyline
                  points="697 487.6 691.6 482.3 689.2 484.7 697 492.5 697 492.4 697 492.5 704.8 484.7 702.4 482.3 697 487.6"/>
              <path d="M1398,742.8v-3.4h-35v1.7h0v29.6h0v2.4h34.9v-3.4h0l.1-26.9Zm-3.4,26.9h-28.1V742.8h28.1Z"/>
              <polyline
                  points="1380.5 755.9 1385.9 761.3 1388.3 758.9 1380.5 751.1 1380.5 751.1 1380.5 751.1 1372.7 758.9 1375.1 761.3 1380.5 755.9"/>
              <path d="M1363,809.7v3.4h34.9v-1.7h0V781.8h0v-2.4H1363v3.4h0v26.9Zm3.4-26.9h28.1v26.9h-28.1Z"/>
              <polyline
                  points="1380.5 796.5 1375.1 791.1 1372.7 793.5 1380.5 801.3 1380.5 801.3 1380.5 801.3 1388.3 793.5 1385.9 791.1 1380.5 796.5"/>
              <rect x="1012.9" y="20" width="41.7" height="3.4"/>
              <rect x="1012.9" y="10" width="41.7" height="3.4"/>
              <rect x="1012.9" y="30" width="41.7" height="3.4"/>
              <rect x="1012.9" y="11.7" width="3.4" height="50"/>
              <rect x="1051.2" y="11.7" width="3.4" height="50"/>
              <rect x="1012.9" y="60" width="41.7" height="3.4"/>
              <polygon
                  points="1041.2 45.3 1033.4 37.5 1033.4 37.5 1033.4 37.5 1025.6 45.3 1028 47.7 1031.7 44 1031.7 54.6 1035.1 54.6 1035.1 44 1038.8 47.7 1041.2 45.3"/>
              <rect x="1064.4" y="20" width="41.7" height="3.4"/>
              <rect x="1064.4" y="10" width="41.7" height="3.4"/>
              <rect x="1064.4" y="30" width="41.7" height="3.4"/>
              <rect x="1064.4" y="11.7" width="3.4" height="50"/>
              <rect x="1102.7" y="11.7" width="3.4" height="50"/>
              <rect x="1064.4" y="60" width="41.7" height="3.4"/>
              <polygon
                  points="1077.2 46.8 1085 54.6 1085 54.5 1085 54.6 1092.8 46.8 1090.4 44.4 1086.7 48 1086.7 37.5 1083.3 37.5 1083.3 48 1079.6 44.4 1077.2 46.8"/>
            </g>
            <g id="space">
              <rect @click="showWindow('В40_В20')" v-bind:class="[returnActivePlaceClass('В40_В20')]" id="В40_В20" class="cls-4" x="1352.5" y="471.8" width="43.5" height="93.2"/>
              <rect @click="showWindow('В18')" v-bind:class="[returnActivePlaceClass('В18')]" id="В18" class="cls-4"
                    x="1299.1" y="471.8" width="43.4" height="43.4"/>
              <rect @click="showWindow('В41')" v-bind:class="[returnActivePlaceClass('В41')]" id="В41" class="cls-4"
                    x="1299.1" y="525.3" width="43.4" height="39.7"/>
              <rect @click="showWindow('B49_B14')" v-bind:class="[returnActivePlaceClass('B49_B14')]" id="B49_B14"
                    class="cls-4" x="1312.6" y="764.6" width="24.5" height="48.5"/>
              <polygon @click="showWindow('В39')" v-bind:class="[returnActivePlaceClass('В39')]" id="В39" class="cls-4"
                       points="1377.1 714.1 1427.1 714.1 1427 649.3 1377.1 649.3 1377.1 714.1"/>
              <polygon @click="showWindow('B13-1')" v-bind:class="[returnActivePlaceClass('B13-1')]" id="B13-1"
                       class="cls-4" points="1546 750 1546 649.3 1503 649.3 1503 735 1514 735 1514 750 1546 750"/>
              <polygon @click="showWindow('B13-2')" v-bind:class="[returnActivePlaceClass('B13-2')]" id="B13-2"
                       class="cls-4" points="1588 649.3 1556 649.3 1556 750 1560 750 1560 745 1588 745 1588 649.3"/>
              <rect @click="showWindow('B12')" v-bind:class="[returnActivePlaceClass('B12')]" id="B12" class="cls-4"
                    x="1437.1" y="649.3" width="55.9" height="85.7"/>
              <rect @click="showWindow('B21_42_B43')" v-bind:class="[returnActivePlaceClass('B21_42_B43')]"
                    id="B21_42_B43" data-name="B21,42_B43" class="cls-4" x="1112" y="249.1" width="100.6"
                    height="117.9"/>
              <rect @click="showWindow('B20-1_B42')" v-bind:class="[returnActivePlaceClass('B20-1_B42')]" id="B20-1_B42"
                    class="cls-4" x="1112" y="377" width="100.6" height="36.8"/>
              <rect @click="showWindow('B20-1_B41')" v-bind:class="[returnActivePlaceClass('B20-1_B41')]" id="B20-1_B41"
                    class="cls-4" x="1112" y="423.8" width="100.6" height="36.8"/>
              <rect @click="showWindow('B19_B40')" v-bind:class="[returnActivePlaceClass('B19_B40')]" id="B19_B40"
                    class="cls-4" x="1162.6" y="470.5" width="50" height="94.5"/>
              <rect @click="showWindow('B19_B39')" v-bind:class="[returnActivePlaceClass('B19_B39')]" id="B19_B39"
                    class="cls-4" x="1112" y="470.5" width="40.6" height="94.5"/>
              <rect @click="showWindow('B33_B33')" v-bind:class="[returnActivePlaceClass('B33_B33')]" id="B33_B33"
                    class="cls-4" x="1014" y="470.5" width="88" height="94.5"/>
              <rect @click="showWindow('B32_B37')" v-bind:class="[returnActivePlaceClass('B32_B37')]" id="B32_B37"
                    class="cls-4" x="918" y="470.5" width="86" height="94.5"/>
              <rect @click="showWindow('B31_B36')" v-bind:class="[returnActivePlaceClass('B31_B36')]" id="B31_B36"
                    class="cls-4" x="821.3" y="470.5" width="86.7" height="94.5"/>
              <rect @click="showWindow('B30_B35')" v-bind:class="[returnActivePlaceClass('B30_B35')]" id="B30_B35"
                    class="cls-4" x="724.5" y="470.5" width="86.8" height="94.5"/>
              <polygon @click="showWindow('B29_B34')" v-bind:class="[returnActivePlaceClass('B29_B34')]" id="B29_B34"
                       class="cls-4" points="525 472.9 595.5 543.4 595.5 470.5 525 470.5 525 472.9"/>
              <path @click="showWindow('B28_B33')" v-bind:class="[returnActivePlaceClass('B28_B33')]" id="B28_B33"
                    class="cls-4" d="M582.4,353.5H525V460.6H714.5V377H614.7V346.8A131.68,131.68,0,0,1,582.4,353.5Z"/>
              <path @click="showWindow('B27_B32')" v-bind:class="[returnActivePlaceClass('B27_B32')]" id="B27_B32"
                    class="cls-4" d="M698.4,249.1a128.11,128.11,0,0,1-73.6,93.7V367h89.7V249.1Z"/>
              <polygon @click="showWindow('B26_B47')" v-bind:class="[returnActivePlaceClass('B26_B47')]" id="B26_B47"
                       class="cls-4"
                       points="724.5 249.1 724.5 460.5 908 460.5 908 377 811.3 377 811.3 249.1 724.5 249.1"/>
              <rect @click="showWindow('B24_B46')" v-bind:class="[returnActivePlaceClass('B24_B46')]" id="B24_B46"
                    class="cls-4" x="821.3" y="249.1" width="86.7" height="117.9"/>
              <polygon @click="showWindow('B25_B45')" v-bind:class="[returnActivePlaceClass('B25_B45')]" id="B25_B45"
                       class="cls-4" points="918 249.1 918 460.5 1102 460.5 1102 377 1004 377 1004 249.1 918 249.1"/>
              <rect @click="showWindow('B22_B44')" v-bind:class="[returnActivePlaceClass('B22_B44')]" id="B22_B44"
                    class="cls-4" x="1014" y="249.1" width="88" height="117.9"/>
              <rect @click="showWindow('K36_KB5')" v-bind:class="[returnActivePlaceClass('K36_KB5')]" id="K36_KB5"
                    class="cls-4" x="667.6" y="595" width="27.2" height="27.2"/>
              <rect @click="showWindow('KB3')" v-bind:class="[returnActivePlaceClass('KB3')]" id="KB3" class="cls-4"
                    x="461" y="417" width="27.2" height="27.2"/>
              <rect @click="showWindow('К88_КВ13')" v-bind:class="[returnActivePlaceClass('К88_КВ13')]" id="К88_КВ13"
                    class="cls-4" x="821.3" y="186.1" width="16.9" height="14.6"/>
              <rect @click="showWindow('К32_КВ11')" v-bind:class="[returnActivePlaceClass('К32_КВ11')]" id="К32_КВ11"
                    class="cls-4" x="1088.6" y="203.1" width="36.8" height="19"/>
              <rect @click="showWindow('К30_КВ12')" v-bind:class="[returnActivePlaceClass('К30_КВ12')]" id="К30_КВ12"
                    class="cls-4" x="899.3" y="203.1" width="39.1" height="19"/>
              <rect @click="showWindow('KB15')" v-bind:class="[returnActivePlaceClass('KB15')]" id="KB15" class="cls-4"
                    x="1135" y="595" width="53.1" height="23.4"/>
              <rect @click="showWindow('KB15-2')" v-bind:class="[returnActivePlaceClass('KB15-2')]" id="KB15-2"
                    data-name="KB15" class="cls-4" x="938" y="595" width="38.61" height="23.4"/>
              <rect @click="showWindow('KB15-3')" v-bind:class="[returnActivePlaceClass('KB15-3')]" id="KB15-3"
                    data-name="KB15" class="cls-4" x="826.35" y="595" width="38.61" height="23.4"/>
              <rect @click="showWindow('KВ7')" v-bind:class="[returnActivePlaceClass('KВ7')]" id="KВ7" class="cls-4"
                    x="1234" y="586.5" width="42" height="27.5"/>
              <rect @click="showWindow('K21_KB10')" v-bind:class="[returnActivePlaceClass('K21_KB10')]" id="K21_KB10"
                    class="cls-4" x="1240.5" y="305.6" width="29" height="83.4"/>
              <polygon @click="showWindow('В9_B8')" v-bind:class="[returnActivePlaceClass('В9_B8')]" id="В9_B8"
                       class="cls-4" points="709.1 641 704.3 645.9 811.3 752.8 811.3 641 709.1 641"/>
              <polygon @click="showWindow('В10-1_В9')" v-bind:class="[returnActivePlaceClass('В10-1_В9')]" id="В10-1_В9"
                       class="cls-4"
                       points="873.3 775.3 873.3 745.7 908 745.7 908 641 821.3 641 821.3 762.8 839.2 780.7 844.6 775.3 873.3 775.3"/>
              <rect @click="showWindow('В10-2_В10')" v-bind:class="[returnActivePlaceClass('В10-2_В10')]" id="В10-2_В10"
                    class="cls-4" x="918" y="641" width="86" height="112.7"/>
              <rect @click="showWindow('B11')" v-bind:class="[returnActivePlaceClass('B11')]" id="B11" class="cls-4"
                    x="1014" y="641" width="88" height="172.1"/>
              <polygon @click="showWindow('В16_B13')" v-bind:class="[returnActivePlaceClass('В16_B13')]" id="В16_B13"
                       class="cls-4" points="1205 813.1 1205 760.4 1165.1 710.4 1112 710.4 1112 813.1 1205 813.1"/>
              <polygon @click="showWindow('В48_B12')" v-bind:class="[returnActivePlaceClass('В48_B12')]" id="В48_B12"
                       class="cls-4" points="1112 643.9 1112 700.4 1157.1 700.4 1112 643.9"/>
              <path @click="showWindow('K43-1_KB1')" v-bind:class="[returnActivePlaceClass('K43-1_KB1')]" id="K43-1_KB1"
                    class="cls-4"
                    d="M501,291.6,513.8,280a80.28,80.28,0,0,1-19-37.1l-17,3.6A97.94,97.94,0,0,0,501,291.6Z"/>
              <path @click="showWindow('KB14-1')" v-bind:class="[returnActivePlaceClass('KB14-1')]" id="KB14-1"
                    class="cls-4" d="M584.1,147.5a79.42,79.42,0,0,1,43.7,21.2l12-12.6a97.59,97.59,0,0,0-53.2-25.9Z"/>
              <path @click="showWindow('KB14-2_')" v-bind:class="[returnActivePlaceClass('KB14-2_')]" id="KB14-2_"
                    data-name="KB14-2" class="cls-4"
                    d="M519.8,166.9A79.62,79.62,0,0,1,558.1,148l-3.2-17a96.75,96.75,0,0,0-46.6,23Z"/>
              <path @click="showWindow('K26_КВ2')" v-bind:class="[returnActivePlaceClass('K26_КВ2')]" id="K26_КВ2"
                    class="cls-4"
                    d="M593,321.3l-3.6-17a81.73,81.73,0,0,1-16.5,1.7,79.42,79.42,0,0,1-46-14.6l-10,14.2A97.05,97.05,0,0,0,593,321.3Z"/>
              <path @click="showWindow('K34_KB14')" v-bind:class="[returnActivePlaceClass('K34_KB14')]" id="K34_KB14"
                    class="cls-4" d="M649.2,286.2a97.14,97.14,0,0,0,4.6-113.5l-14.5,9.6a79.81,79.81,0,0,1-3.8,93.2Z"/>
              <path @click="showWindow('R1_B31')" v-bind:class="[returnActivePlaceClass('R1_B31')]" id="R1_B31"
                    class="cls-4"
                    d="M645.7,121.7a127.32,127.32,0,0,1,44.4,54.4h38.2V10H549.1v9.5h29.8V99A126,126,0,0,1,645.7,121.7Z"/>
              <rect @click="showWindow('B38_B30')" v-bind:class="[returnActivePlaceClass('B38_B30')]" id="B38_B30"
                    class="cls-4" x="738.3" y="10" width="73" height="166.1"/>
              <rect @click="showWindow('B37_B29')" v-bind:class="[returnActivePlaceClass('B37_B29')]" id="B37_B29"
                    class="cls-4" x="821.3" y="10" width="73" height="166.1"/>
              <rect @click="showWindow('B36_B28')" v-bind:class="[returnActivePlaceClass('B36_B28')]" id="B36_B28"
                    class="cls-4" x="904.3" y="10" width="68.3" height="166.1"/>
              <rect @click="showWindow('В46_В27')" v-bind:class="[returnActivePlaceClass('В46_В27')]" id="В46_В27"
                    class="cls-4" x="1014" y="91" width="40.6" height="85.1"/>
              <rect @click="showWindow('В35_В26')" v-bind:class="[returnActivePlaceClass('В35_В26')]" id="В35_В26"
                    class="cls-4" x="1064.6" y="91" width="41.4" height="85.1"/>
              <rect @click="showWindow('B34_B25')" v-bind:class="[returnActivePlaceClass('B34_B25')]" id="B34_B25"
                    class="cls-4" x="1116" y="10" width="85.4" height="166.1"/>
              <rect @click="showWindow('B23_B24')" v-bind:class="[returnActivePlaceClass('B23_B24')]" id="B23_B24"
                    class="cls-4" x="1211.4" y="10" width="184.5" height="166.1"/>
              <polygon @click="showWindow('B15_B23')" v-bind:class="[returnActivePlaceClass('B15_B23')]" id="B15_B23"
                       class="cls-4"
                       points="1689 126 1704 126 1704 90 1578.6 90 1578.6 10 1405.9 10 1405.9 186.1 1299.1 186.1 1299.1 269 1662 269 1662 214 1689 214 1689 126"/>
              <polygon @click="showWindow('B14_B18')" v-bind:class="[returnActivePlaceClass('B14_B18')]" id="B14_B18"
                       class="cls-4" points="1662 565 1662 279 1299.1 279 1299.1 367 1503 367 1503 565 1662 565"/>
              <polygon @click="showWindow('B17_B19')" v-bind:class="[returnActivePlaceClass('B17_B19')]" id="B17_B19"
                       class="cls-4" points="1493 565 1493 377 1299.1 377 1299.1 461.8 1406 461.8 1406 565 1493 565"/>
              <path @click="showWindow('B8_R2')" v-bind:class="[returnActivePlaceClass('B8_R2')]" id="B8_R2"
                    class="cls-4"
                    d="M730.5,947.6a69.12,69.12,0,0,0,38.9,11.9,70,70,0,0,0,49.2-20.3L720.1,837.9l37-34.3L658.7,679,538,800A2300.55,2300.55,0,0,0,730.1,947.5Z"/>
              <polygon @click="showWindow('B7')" v-bind:class="[returnActivePlaceClass('B7')]" id="B7" class="cls-4"
                       points="622.6 633 583.6 633 554 663.9 607.5 716.1 652.5 670.9 622.6 633"/>
              <path @click="showWindow('B6')" v-bind:class="[returnActivePlaceClass('B6')]" id="B6" class="cls-4"
                    d="M540,664.1l34.5-36L520,573.9,484.3,609l-58.2-58.9-72.5,72.5A2263.66,2263.66,0,0,0,530.5,793.2l69.9-70.1Z"/>
              <path @click="showWindow('B5_B4')" v-bind:class="[returnActivePlaceClass('B5_B4')]" id="B5_B4"
                    class="cls-4"
                    d="M87.2,268.1C136.5,351.8,221,478.7,346.7,615.4L453.8,508.3l-34.4-34.2V434.4L288.9,330.7,270,349.6l-68.3-68.3,24.1-24.1-81.6-45.9-.2.1-11,11c6.3,10.8,6,22.9-1.3,30.1s-19.4,7.5-30.1,1.2Z"/>
              <polygon @click="showWindow('B4_B5')" v-bind:class="[returnActivePlaceClass('B4_B5')]" id="B4_B5"
                       class="cls-4" points="484.4 594.9 512.9 566.9 461 515.3 433.1 543.1 484.4 594.9"/>
              <polygon @click="showWindow('B3')" v-bind:class="[returnActivePlaceClass('B3')]" id="B3" class="cls-4"
                       points="427.5 366.9 445.6 348.8 445.6 279.7 332.5 279.7 318.3 294.3 322.1 298 318 302.1 417.9 381.6 427.5 371.9 427.5 366.9"/>
              <path @click="showWindow('B2')" v-bind:class="[returnActivePlaceClass('B2')]" id="B2" class="cls-4"
                    d="M424,181.1l-59-59-98,98-4.5-4.5L251.1,227l60.2,60.2,16.9-17.5H445.6V231.8c-.1-2-.1-3.7-.1-5.5a128.29,128.29,0,0,1,8.2-45.2Z"/>
              <path @click="showWindow('В1')" v-bind:class="[returnActivePlaceClass('В1')]" id="В1" class="cls-4"
                    d="M515,112.8V100H456V29.5h-9.4l-80,80,61.6,61.6,29.8.1A127.92,127.92,0,0,1,515,112.8Z"/>
            </g>
          </g>

          <text v-if="showNameOfPlace('B15_B23')" font-family="Verdana" font-size="10" fill="white" x="1424.31"
                y="55.26">{{ getNameOfPlace('B15_B23') }}
          </text>
          <text v-if="showNameOfPlace('B15_B23')" font-family="Verdana" font-size="10" fill="white" x="1424.31"
                y="85.34">{{ getNumberOfPlace('B15_B23') }}
          </text>
          <text v-if="showNameOfPlace('B15_B23')" font-family="Verdana" font-size="10" fill="white" x="1424.31" y="115">
            {{ getAreaOfPlace('B15_B23') }} м²
          </text>

          <text x="930.4" y="397.47" v-if="showNameOfPlace('B25_B45')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B25_B45') }}
          </text>
          <text x="930.4" y="420.67" v-if="showNumberOfPlace('B25_B45')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B25_B45') }}
          </text>
          <text x="930.4" y="440.86" v-if="showAreaOfPlace('B25_B45')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B25_B45') }} м²
          </text>

          <text x="737.8" y="397.47" v-if="showNameOfPlace('B26_B47')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B26_B47') }}
          </text>
          <text x="737.8" y="420.67" v-if="showNumberOfPlace('B26_B47')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B26_B47') }}
          </text>
          <text x="737.8" y="440.86" v-if="showAreaOfPlace('B26_B47')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B26_B47') }} м²
          </text>

          <text x="579.98" y="771.67" v-if="showNameOfPlace('B8_R2')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B8_R2') }}
          </text>
          <text x="579.98" y="780.7" v-if="showNumberOfPlace('B8_R2')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B8_R2') }}
          </text>
          <text x="579.98" y="789.73" v-if="showAreaOfPlace('B8_R2')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('B8_R2') }} м²
          </text>

          <text x="1556.26" y="653.88" v-if="showNameOfPlace('B13-2')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B13-2') }}
          </text>
          <text x="1556.26" y="664.16" v-if="showNumberOfPlace('B13-2')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B13-2') }}
          </text>
          <text x="1556.26" y="674.45" v-if="showAreaOfPlace('B13-2')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B13-2') }} м²
          </text>

          <text x="1503" y="655.62" v-if="showNameOfPlace('B13-1')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('B13-1') }}
          </text>
          <text x="1503" y="664.65" v-if="showNumberOfPlace('B13-1')" font-family="Verdana" font-size="10" fill="white">
            {{ getNumberOfPlace('B13-1') }}
          </text>
          <text x="1503" y="673.68" v-if="showAreaOfPlace('B13-1')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('B13-1') }} м²
          </text>

          <text x="1437.1" y="655.62" v-if="showNameOfPlace('B12')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('B12') }}
          </text>
          <text x="1437.1" y="664.65" v-if="showNumberOfPlace('B12')" font-family="Verdana" font-size="10" fill="white">
            {{ getNumberOfPlace('B12') }}
          </text>
          <text x="1437.1" y="673.68" v-if="showAreaOfPlace('B12')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('B12') }} м²
          </text>

          <!--В39-->
          <text x="1377.1" y="657.45" v-if="showNameOfPlace('В39')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('В39') }}
          </text>
          <text x="1377.1" y="666.47" v-if="showNumberOfPlace('В39')" font-family="Verdana" font-size="10" fill="white">
            {{ getNumberOfPlace('В39') }}
          </text>
          <text x="1377.1" y="675.5" v-if="showAreaOfPlace('В39')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('В39') }} м²
          </text>

          <!--B49_B14-->
          <text x="1260.65" y="773.71" v-if="showNameOfPlace('B49_B14')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B49_B14') }}
          </text>
          <text x="1260.65" y="782.74" v-if="showNumberOfPlace('B49_B14')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B49_B14') }}
          </text>
          <text x="1260.65" y="791.77" v-if="showAreaOfPlace('B49_B14')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B49_B14') }} м²
          </text>

          <!--К88_КВ13-->
          <text x="821.35" y="187.07" v-if="showNameOfPlace('К88_КВ13')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('К88_КВ13') }}
          </text>
          <text x="821.35" y="196.1" v-if="showNumberOfPlace('К88_КВ13')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('К88_КВ13') }}
          </text>
          <text x="821.35" y="205.13" v-if="showAreaOfPlace('К88_КВ13')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('К88_КВ13') }} м²
          </text>

          <!--К30_КВ12-->
          <text x="900" y="200.07" v-if="showNameOfPlace('К30_КВ12')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('К30_КВ12') }}
          </text>
          <text x="900" y="209.1" v-if="showNumberOfPlace('К30_КВ12')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('К30_КВ12') }}
          </text>
          <text x="900" y="218.13" v-if="showAreaOfPlace('К30_КВ12')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('К30_КВ12') }} м²
          </text>

          <!--К32_КВ11-->
          <text x="1086.95" y="200.07" v-if="showNameOfPlace('К32_КВ11')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('К32_КВ11') }}
          </text>
          <text x="1086.95" y="209.1" v-if="showNumberOfPlace('К32_КВ11')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('К32_КВ11') }}
          </text>
          <text x="1086.95" y="218.13" v-if="showAreaOfPlace('К32_КВ11')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('К32_КВ11') }} м²
          </text>

          <!--KВ7-->
          <text x="1251.05" y="587" v-if="showNameOfPlace('KВ7')"   font-family="Verdana" font-size="10" fill="white">{{ getNameOfPlace('KВ7') }}</text>
          <text x="1251.05" y="596" v-if="showNumberOfPlace('KВ7')" font-family="Verdana" font-size="10" fill="white">{{ getNumberOfPlace('KВ7') }}</text>
          <text x="1251.05" y="606" v-if="showAreaOfPlace('KВ7')"   font-family="Verdana" font-size="10" fill="white">{{ getAreaOfPlace('KВ7') }} м²</text>

          <!--KB15-3-->
          <text x="826.51" y="595.01" v-if="showNameOfPlace('KB15-3')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('KB15-3') }}
          </text>
          <text x="826.51" y="604.04" v-if="showNumberOfPlace('KB15-3')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('KB15-3') }}
          </text>
          <text x="826.51" y="613.07" v-if="showAreaOfPlace('KB15-3')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('KB15-3') }} м²
          </text>

          <!--KB15-2-->
          <text x="949.1" y="595.01" v-if="showNameOfPlace('KB15-2')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('KB15-2') }}
          </text>
          <text x="949.1" y="604.04" v-if="showNumberOfPlace('KB15-2')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('KB15-2') }}
          </text>
          <text x="949.1" y="613.07" v-if="showAreaOfPlace('KB15-2')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('KB15-2') }} м²
          </text>

          <!--KB15-->
          <text x="1141.1" y="595.01" v-if="showNameOfPlace('KB15')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('KB15') }}
          </text>
          <text x="1141.1" y="604.04" v-if="showNumberOfPlace('KB15')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('KB15') }}
          </text>
          <text x="1141.1" y="613.07" v-if="showAreaOfPlace('KB15')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('KB15') }} м²
          </text>

          <!--В16_B13-->
          <text x="1119.15" y="768.17" v-if="showNameOfPlace('В16_B13')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('В16_B13') }}
          </text>
          <text x="1119.15" y="777.2" v-if="showNumberOfPlace('В16_B13')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('В16_B13') }}
          </text>
          <text x="1119.15" y="786.23" v-if="showAreaOfPlace('В16_B13')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('В16_B13') }} м²
          </text>

          <!--В48_B12-->
          <text x="1118.65" y="664.59" v-if="showNameOfPlace('В48_B12')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('В48_B12') }}
          </text>
          <text x="1118.65" y="673.62" v-if="showNumberOfPlace('В48_B12')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('В48_B12') }}
          </text>
          <text x="1118.65" y="682.65" v-if="showAreaOfPlace('В48_B12')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('В48_B12') }} м²
          </text>

          <!--B11-->
          <text x="1020.35" y="664.59" v-if="showNameOfPlace('B11')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B11') }}
          </text>
          <text x="1020.35" y="673.62" v-if="showNumberOfPlace('B11')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B11') }}
          </text>
          <text x="1020.35" y="682.65" v-if="showAreaOfPlace('B11')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('B11') }} м²
          </text>

          <!--В10-2_В10-->
          <text x="921" y="664.59" v-if="showNameOfPlace('В10-2_В10')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('В10-2_В10') }}
          </text>
          <text x="921" y="673.62" v-if="showNumberOfPlace('В10-2_В10')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('В10-2_В10') }}
          </text>
          <text x="921" y="682.65" v-if="showAreaOfPlace('В10-2_В10')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('В10-2_В10') }} м²
          </text>

          <!--В10-1_В9-->
          <text x="826.35" y="664.59" v-if="showNameOfPlace('В10-1_В9')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('В10-1_В9') }}
          </text>
          <text x="826.35" y="673.62" v-if="showNumberOfPlace('В10-1_В9')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('В10-1_В9') }}
          </text>
          <text x="826.35" y="682.65" v-if="showAreaOfPlace('В10-1_В9')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('В10-1_В9') }} м²
          </text>

          <!--В9_B8-->
          <text x="734.4" y="646.59" v-if="showNameOfPlace('В9_B8')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('В9_B8') }}
          </text>
          <text x="734.4" y="655.62" v-if="showNumberOfPlace('В9_B8')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('В9_B8') }}
          </text>
          <text x="734.4" y="664.65" v-if="showAreaOfPlace('В9_B8')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('В9_B8') }} м²
          </text>

          <!--K36_KB5-->
          <text x="670.7" y="593.47" v-if="showNameOfPlace('K36_KB5')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('K36_KB5') }}
          </text>
          <text x="670.7" y="602.5" v-if="showNumberOfPlace('K36_KB5')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('K36_KB5') }}
          </text>
          <text x="670.7" y="611.53" v-if="showAreaOfPlace('K36_KB5')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('K36_KB5') }} м²
          </text>

          <!--В46_В27-->
          <text x="1014.41" y="103.99" v-if="showNameOfPlace('В46_В27')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('В46_В27') }}
          </text>
          <text x="1014.41" y="117.06" v-if="showNumberOfPlace('В46_В27')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('В46_В27') }}
          </text>
          <text x="1014.41" y="130.13" v-if="showAreaOfPlace('В46_В27')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('В46_В27') }} м²
          </text>

          <!--В35_В26-->
          <text x="1064.41" y="103.99" v-if="showNameOfPlace('В35_В26')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('В35_В26') }}
          </text>
          <text x="1064.41" y="117.06" v-if="showNumberOfPlace('В35_В26')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('В35_В26') }}
          </text>
          <text x="1064.41" y="130.13" v-if="showAreaOfPlace('В35_В26')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('В35_В26') }} м²
          </text>

          <!--B34_B25-->
          <text x="1116.21" y="20.2" v-if="showNameOfPlace('B34_B25')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B34_B25') }}
          </text>
          <text x="1116.21" y="33.28" v-if="showNumberOfPlace('B34_B25')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B34_B25') }}
          </text>
          <text x="1116.21" y="46.35" v-if="showAreaOfPlace('B34_B25')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B34_B25') }} м²
          </text>

          <!--B23_B24-->
          <text x="1224.31" y="25.26" v-if="showNameOfPlace('B23_B24')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B23_B24') }}
          </text>
          <text x="1224.31" y="38.34" v-if="showNumberOfPlace('B23_B24')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B23_B24') }}
          </text>
          <text x="1224.31" y="51.41" v-if="showAreaOfPlace('B23_B24')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B23_B24') }} м²
          </text>

          <!--B14_B18-->
          <text x="1315.26" y="302.56" v-if="showNameOfPlace('B14_B18')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B14_B18') }}
          </text>
          <text x="1315.26" y="315.63" v-if="showNumberOfPlace('B14_B18')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B14_B18') }}
          </text>
          <text x="1315.26" y="328.71" v-if="showAreaOfPlace('B14_B18')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B14_B18') }} м²
          </text>

          <!--B17_B19-->
          <text x="1315.32" y="397.47" v-if="showNameOfPlace('B17_B19')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B17_B19') }}
          </text>
          <text x="1315.32" y="410.55" v-if="showNumberOfPlace('B17_B19')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B17_B19') }}
          </text>
          <text x="1315.32" y="423.62" v-if="showAreaOfPlace('B17_B19')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B17_B19') }} м²
          </text>

          <!--В40_В20-->
          <text x="1352.5" y="478.37" v-if="showNameOfPlace('В40_В20')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('В40_В20') }}
          </text>
          <text x="1352.5" y="487.4" v-if="showNumberOfPlace('В40_В20')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('В40_В20') }}
          </text>
          <text x="1352.5" y="496.43" v-if="showAreaOfPlace('В40_В20')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('В40_В20') }} м²
          </text>

          <!--В41-->
          <text x="1299.1" y="530.87" v-if="showNameOfPlace('В41')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('В41') }}
          </text>
          <text x="1299.1" y="539.9" v-if="showNumberOfPlace('В41')" font-family="Verdana" font-size="10" fill="white">
            {{ getNumberOfPlace('В41') }}
          </text>
          <text x="1299.1" y="548.93" v-if="showAreaOfPlace('В41')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('В41') }} м²
          </text>

          <!--В18-->
          <text x="1299.1" y="480.41" v-if="showNameOfPlace('В18')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('В18') }}
          </text>
          <text x="1299.1" y="489.44" v-if="showNumberOfPlace('В18')" font-family="Verdana" font-size="10" fill="white">
            {{ getNumberOfPlace('В18') }}
          </text>
          <text x="1299.1" y="498.47" v-if="showAreaOfPlace('В18')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('В18') }} м²
          </text>

          <!--B19_B40-->
          <text x="1162.6" y="486.87" v-if="showNameOfPlace('B19_B40')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B19_B40') }}
          </text>
          <text x="1162.6" y="495.9" v-if="showNumberOfPlace('B19_B40')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B19_B40') }}
          </text>
          <text x="1162.6" y="504.93" v-if="showAreaOfPlace('B19_B40')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B19_B40') }} м²
          </text>

          <!--B19_B39-->
          <text x="1112" y="487.4" v-if="showNameOfPlace('B19_B39')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B19_B39') }}
          </text>
          <text x="1112" y="496.43" v-if="showNumberOfPlace('B19_B39')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B19_B39') }}
          </text>
          <text x="1112" y="505.46" v-if="showAreaOfPlace('B19_B39')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('B19_B39') }} м²
          </text>

          <!--B33_B33-->
          <text x="1018.4" y="487.4" v-if="showNameOfPlace('B33_B33')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B33_B33') }}
          </text>
          <text x="1018.4" y="496.43" v-if="showNumberOfPlace('B33_B33')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B33_B33') }}
          </text>
          <text x="1018.4" y="505.46" v-if="showAreaOfPlace('B33_B33')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B33_B33') }} м²
          </text>

          <!--B32_B37-->
          <text x="920.4" y="487.4" v-if="showNameOfPlace('B32_B37')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B32_B37') }}
          </text>
          <text x="920.4" y="496.43" v-if="showNumberOfPlace('B32_B37')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B32_B37') }}
          </text>
          <text x="920.4" y="505.46" v-if="showAreaOfPlace('B32_B37')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B32_B37') }} м²
          </text>

          <!--B31_B36-->
          <text x="824.4" y="487.4" v-if="showNameOfPlace('B31_B36')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B31_B36') }}
          </text>
          <text x="824.4" y="496.43" v-if="showNumberOfPlace('B31_B36')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B31_B36') }}
          </text>
          <text x="824.4" y="505.46" v-if="showAreaOfPlace('B31_B36')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B31_B36') }} м²
          </text>

          <!--B30_B35-->
          <text x="728.4" y="487.4" v-if="showNameOfPlace('B30_B35')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B30_B35') }}
          </text>
          <text x="728.4" y="496.43" v-if="showNumberOfPlace('B30_B35')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B30_B35') }}
          </text>
          <text x="728.4" y="505.46" v-if="showAreaOfPlace('B30_B35')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B30_B35') }} м²
          </text>

          <!--B20-1_B41-->
          <text x="1120.6" y="429.67" v-if="showNameOfPlace('B20-1_B41')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B20-1_B41') }}
          </text>
          <text x="1120.6" y="438.7" v-if="showNumberOfPlace('B20-1_B41')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B20-1_B41') }}
          </text>
          <text x="1120.6" y="447.73" v-if="showAreaOfPlace('B20-1_B41')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B20-1_B41') }} м²
          </text>

          <!--B20-1_B42-->
          <text x="1120.6" y="382.87" v-if="showNameOfPlace('B20-1_B42')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B20-1_B42') }}
          </text>
          <text x="1120.6" y="391.9" v-if="showNumberOfPlace('B20-1_B42')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B20-1_B42') }}
          </text>
          <text x="1120.6" y="400.93" v-if="showAreaOfPlace('B20-1_B42')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B20-1_B42') }} м²
          </text>

          <!--B21_42_B43-->
          <text x="1120.6" y="262.58" v-if="showNameOfPlace('B21_42_B43')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B21_42_B43') }}
          </text>
          <text x="1120.6" y="271.61" v-if="showNumberOfPlace('B21_42_B43')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B21_42_B43') }}
          </text>
          <text x="1120.6" y="280.64" v-if="showAreaOfPlace('B21_42_B43')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B21_42_B43') }} м²
          </text>

          <!--B22_B44-->
          <text x="1021.5" y="262.58" v-if="showNameOfPlace('B22_B44')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B22_B44') }}
          </text>
          <text x="1021.5" y="271.61" v-if="showNumberOfPlace('B22_B44')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B22_B44') }}
          </text>
          <text x="1021.5" y="280.64" v-if="showAreaOfPlace('B22_B44')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B22_B44') }} м²
          </text>

          <!--B24_B46-->
          <text x="826.3" y="262.58" v-if="showNameOfPlace('B24_B46')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B24_B46') }}
          </text>
          <text x="826.3" y="271.61" v-if="showNumberOfPlace('B24_B46')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B24_B46') }}
          </text>
          <text x="826.3" y="280.64" v-if="showAreaOfPlace('B24_B46')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B24_B46') }} м²
          </text>

          <!--B36_B28-->
          <text x="909.3" y="59.92" v-if="showNameOfPlace('B36_B28')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B36_B28') }}
          </text>
          <text x="909.3" y="68.95" v-if="showNumberOfPlace('B36_B28')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B36_B28') }}
          </text>
          <text x="909.3" y="77.98" v-if="showAreaOfPlace('B36_B28')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('B36_B28') }} м²
          </text>

          <!--B37_B29-->
          <text x="826.3" y="59.92" v-if="showNameOfPlace('B37_B29')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B37_B29') }}
          </text>
          <text x="826.3" y="68.95" v-if="showNumberOfPlace('B37_B29')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B37_B29') }}
          </text>
          <text x="826.3" y="77.98" v-if="showAreaOfPlace('B37_B29')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('B37_B29') }} м²
          </text>

          <!--B38_B30-->
          <text x="743.3" y="59.92" v-if="showNameOfPlace('B38_B30')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B38_B30') }}
          </text>
          <text x="743.3" y="68.95" v-if="showNumberOfPlace('B38_B30')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B38_B30') }}
          </text>
          <text x="743.3" y="77.98" v-if="showAreaOfPlace('B38_B30')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('B38_B30') }} м²
          </text>

          <!--R1_B31-->
          <text x="590.13" y="59.92" v-if="showNameOfPlace('R1_B31')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('R1_B31') }}
          </text>
          <text x="590.13" y="68.95" v-if="showNumberOfPlace('R1_B31')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('R1_B31') }}
          </text>
          <text x="590.13" y="77.98" v-if="showAreaOfPlace('R1_B31')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('R1_B31') }} м²
          </text>

          <!--В1-->
          <text x="401.6" y="107.5" v-if="showNameOfPlace('В1')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('В1') }}
          </text>
          <text x="401.6" y="116.53" v-if="showNumberOfPlace('В1')" font-family="Verdana" font-size="10" fill="white">{{
            getNumberOfPlace('В1') }}
          </text>
          <text x="401.6" y="125.56" v-if="showAreaOfPlace('В1')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('В1') }} м²
          </text>

          <!--B2-->
          <text x="350.3" y="198.77" v-if="showNameOfPlace('B2')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('B2') }}
          </text>
          <text x="350.3" y="207.8" v-if="showNumberOfPlace('B2')" font-family="Verdana" font-size="10" fill="white">{{
            getNumberOfPlace('B2') }}
          </text>
          <text x="350.3" y="216.83" v-if="showAreaOfPlace('B2')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('B2') }} м²
          </text>

          <!--B3-->
          <text x="353.6" y="290.05" v-if="showNameOfPlace('B3')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('B3') }}
          </text>
          <text x="353.6" y="299.08" v-if="showNumberOfPlace('B3')" font-family="Verdana" font-size="10" fill="white">{{
            getNumberOfPlace('B3') }}
          </text>
          <text x="353.6" y="308.11" v-if="showAreaOfPlace('B3')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('B3') }} м²
          </text>

          <!--B7-->
          <text x="572.34" y="650.09" v-if="showNameOfPlace('B7')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('B7') }}
          </text>
          <text x="572.34" y="659.11" v-if="showNumberOfPlace('B7')" font-family="Verdana" font-size="10" fill="white">
            {{ getNumberOfPlace('B7') }}
          </text>
          <text x="572.34" y="668.14" v-if="showAreaOfPlace('B7')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('B7') }} м²
          </text>

          <!--B4_B5-->
          <text x="453.7" y="535.09" v-if="showNameOfPlace('B4_B5')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B4_B5') }}
          </text>
          <text x="453.7" y="544.12" v-if="showNumberOfPlace('B4_B5')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B4_B5') }}
          </text>
          <text x="453.7" y="553.15" v-if="showAreaOfPlace('B4_B5')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('B4_B5') }} м²
          </text>

          <!--KB3-->
          <text x="441.5" y="418.07" v-if="showNameOfPlace('KB3')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('KB3') }}
          </text>
          <text x="441.5" y="427.1" v-if="showNumberOfPlace('KB3')" font-family="Verdana" font-size="10" fill="white">{{
            getNumberOfPlace('KB3') }}
          </text>
          <text x="441.5" y="436.13" v-if="showAreaOfPlace('KB3')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('KB3') }} м²
          </text>

          <!--B29_B34-->
          <text x="562.55" y="474.87" v-if="showNameOfPlace('B29_B34')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B29_B34') }}
          </text>
          <text x="562.55" y="483.9" v-if="showNumberOfPlace('B29_B34')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B29_B34') }}
          </text>
          <text x="562.55" y="492.93" v-if="showAreaOfPlace('B29_B34')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B29_B34') }} м²
          </text>

          <!--B28_B33-->
          <text x="532.55" y="413.69" v-if="showNameOfPlace('B28_B33')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('B28_B33') }}
          </text>
          <text x="532.55" y="426.5" v-if="showNumberOfPlace('B28_B33')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('B28_B33') }}
          </text>
          <text x="532.55" y="439.31" v-if="showAreaOfPlace('B28_B33')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('B28_B33') }} м²
          </text>

          <!--B27_B32-->
          <text x="643" y="334.27" v-if="showNameOfPlace('B27_B32')" font-family="Verdana" font-size="10" fill="white">
            {{ getNameOfPlace('B27_B32') }}
          </text>
          <text x="643" y="343.3" v-if="showNumberOfPlace('B27_B32')" font-family="Verdana" font-size="10" fill="white">
            {{ getNumberOfPlace('B27_B32') }}
          </text>
          <text x="643" y="352.33" v-if="showAreaOfPlace('B27_B32')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('B27_B32') }} м²
          </text>

          <!--K34_KB14-->
          <text x="651.5" y="188.17" v-if="showNameOfPlace('K34_KB14')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('K34_KB14') }}
          </text>
          <text x="651.5" y="197.2" v-if="showNumberOfPlace('K34_KB14')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('K34_KB14') }}
          </text>
          <text x="651.5" y="206.23" v-if="showAreaOfPlace('K34_KB14')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('K34_KB14') }} м²
          </text>

          <!--KB14-1-->
          <text x="594.05" y="124.05" v-if="showNameOfPlace('KB14-1')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('KB14-1') }}
          </text>
          <text x="594.05" y="133.08" v-if="showNumberOfPlace('KB14-1')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('KB14-1') }}
          </text>
          <text x="594.05" y="142.1" v-if="showAreaOfPlace('KB14-1')" font-family="Verdana" font-size="10" fill="white">
            {{ getAreaOfPlace('KB14-1') }} м²
          </text>

          <!--KB14-2_-->
          <text x="513.72" y="125.05" v-if="showNameOfPlace('KB14-2_')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('KB14-2_') }}
          </text>
          <text x="513.72" y="134.08" v-if="showNumberOfPlace('KB14-2_')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('KB14-2_') }}
          </text>
          <text x="513.72" y="143.1" v-if="showAreaOfPlace('KB14-2_')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('KB14-2_') }} м²
          </text>

          <!--K43-1_KB1-->
          <text x="490.63" y="490.63" v-if="showNameOfPlace('K43-1_KB1')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('K43-1_KB1') }}
          </text>
          <text x="490.63" y="490.63" v-if="showNumberOfPlace('K43-1_KB1')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('K43-1_KB1') }}
          </text>
          <text x="490.63" y="490.63" v-if="showAreaOfPlace('K43-1_KB1')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('K43-1_KB1') }} м²
          </text>

          <!--K26_КВ2-->
          <text x="545.22" y="309.42" v-if="showNameOfPlace('K26_КВ2')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('K26_КВ2') }}
          </text>
          <text x="545.22" y="318.45" v-if="showNumberOfPlace('K26_КВ2')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('K26_КВ2') }}
          </text>
          <text x="545.22" y="327.48" v-if="showAreaOfPlace('K26_КВ2')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('K26_КВ2') }} м²
          </text>

          <!--B6-->
          <text x="401.6" y="615.87" v-if="showNameOfPlace('K26_КВ2')" font-family="Verdana" font-size="10"
                fill="white">{{ getNameOfPlace('K26_КВ2') }}
          </text>
          <text x="401.6" y="632.72" v-if="showNumberOfPlace('K26_КВ2')" font-family="Verdana" font-size="10"
                fill="white">{{ getNumberOfPlace('K26_КВ2') }}
          </text>
          <text x="401.6" y="649.56" v-if="showAreaOfPlace('K26_КВ2')" font-family="Verdana" font-size="10"
                fill="white">{{ getAreaOfPlace('K26_КВ2') }} м²
          </text>

          <!--B5_B4-->
          <text x="233" y="413.36" v-if="showNameOfPlace('B5_B4')" font-family="Verdana" font-size="10" fill="white">{{
            getNameOfPlace('B5_B4') }}
          </text>
          <text x="233" y="428.94" v-if="showNumberOfPlace('B5_B4')" font-family="Verdana" font-size="10" fill="white">
            {{ getNumberOfPlace('B5_B4') }}
          </text>
          <text x="233" y="444.53" v-if="showAreaOfPlace('B5_B4')" font-family="Verdana" font-size="10" fill="white">{{
            getAreaOfPlace('B5_B4') }} м²
          </text>


        </g>
      </svg>
    </SvgPanZoom>

    <modal name="renter" class="modal-renter" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renter')">
          <img src="../../assets/close.svg" alt="">
        </div>

        <h3>Помещение № {{ correctRenter.place }}</h3>

        <table class="table table-hover">
          <tbody>
          <tr>
            <td>Номер помещения(БТИ):</td>
            <td>{{correctRenter.name}}</td>
          </tr>
          <tr>
            <td>Номер помещения:</td>
            <td>{{correctRenter.place}}</td>
          </tr>
          <tr>
            <td>Площадь помещения:</td>
            <td>{{correctRenter.area}}</td>
          </tr>
          <tr>
            <td>Тип помещения</td>
            <td>{{ placesType() }}</td>
          </tr>
          <tr>
            <td>Статус</td>
            <td>{{ statusRenter(correctRenter.status) }}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold">Арендатор</span></td>
            <td></td>
          </tr>
          <tr>
            <td>Наименование</td>
            <td>{{correctRenter.renter}}</td>
          </tr>

          <tr>
            <td>Тип</td>
            <td>{{ typeRenter(correctRenter.renter_type) }}</td>
          </tr>

          <tr>
            <td>Период</td>
            <td>{{ returnCorrectDate }}</td>
          </tr>

          <tr v-for="item in correctRenter.doc_number">
            <td><a href="#" @click="downloadDoc(item.id)">{{item.name}}</a></td>
            <td></td>
          </tr>

          <tr>
            <td class="font-weight-bold">Стоимость аренды (основная)</td>
            <td></td>
          </tr>

          <tr>
            <td>Базовая аренда</td>
            <td>{{ correctRenter.price_base }}</td>
          </tr>

          <tr>
            <td>Переменная</td>
            <td>{{ correctRenter.price_var }}</td>
          </tr>

          <tr>
            <td>Эксплатыционная</td>
            <td>{{ correctRenter.price_ekp }}</td>
          </tr>

          <tr>
            <td class="font-weight-bold">Стоимость аренды (дополнительная)</td>
            <td></td>
          </tr>

          <tr>
            <td>Маркетинговый сбор</td>
            <td>{{ correctRenter.market }}</td>
          </tr>

          <tr>
            <td>Процент с продаж</td>
            <td>{{ correctRenter.percentPay }}</td>
          </tr>

          <tr>
            <td>Доп доход</td>
            <td>{{ correctRenter.additional_pay }}</td>
          </tr>

          </tbody>
        </table>


        <button v-if="userRole === 'admin'" type="button" class="btn btn-success d-block mt-5" @click="renterChange()">
          Изменить помещение
        </button>
      </div>
    </modal>

    <modal name="renterChange" id="renterChange" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renterChange')">
          <img src="../../assets/close.svg" alt="">
        </div>

        <h3>Помещение {{ correctRenter.place }}</h3>

        <div class="row mt-4">
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Номер помещения (БТИ)</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.name">
            </div>

            <div class="form-group">
              <small class="text-secondary">Номер помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.place">
            </div>

            <div class="form-group">
              <small class="text-secondary">Тип помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.placesType">
                  <option v-for="item in placesTypes" :value="item.id">{{ item.name }}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Площадь помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Площадь помещения"
                     v-model="correctRenter.area">
            </div>

            <div class="form-group">
              <small class="text-secondary">Статус помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.status">
                  <option value="free">Свободно</option>
                  <option value="busy">Занято</option>
                  <option value="reserve">В резерве</option>
                </select>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Отображать на плане</h3>

        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlane">
                </div>
              </div>
              <div class="form-control">
                <small>Номер помещения</small>
              </div>
            </div>

            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlaneArea">
                </div>
              </div>
              <div class="form-control">
                <small>Площадь помещения</small>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlaneCompanyName">
                </div>
              </div>
              <div class="form-control">
                <small>Название компании</small>
              </div>
            </div>
          </div>
        </div>

        <h3 class="mt-3">Арендатор</h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Наименование компании</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите текст"
                     v-model="correctRenter.renter">
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор с</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_from"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="../../assets/delete.svg" alt="" @click="correctRenter.date_from = null" class="delete-date">
                </div>
              </div>
            </div>

            <!--<div class="form-group">-->
            <!--<small class="text-secondary">Договор номер</small>-->
            <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"-->
            <!--v-model="correctRenter.doc_number">-->
            <!--</div>-->
          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Тип арендатора</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.renter_type">
                  <option v-for="item in rentersType" :value="item.id">{{ item.translate }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор по</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_to"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="../../assets/delete.svg" alt="" @click="correctRenter.date_to = null" class="delete-date">
                </div>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Список прикрепленных файлов</h3>

        <table class="table" v-if="correctRenter.doc_number && correctRenter.doc_number.length">
          <tbody>
          <tr v-for="item in correctRenter.doc_number">
            <td>{{ item.name }}</td>
            <td>
              <button class="btn btn-danger" @click="deleteDoc(item.id)">Удалить</button>
            </td>
          </tr>
          </tbody>
        </table>

        <div v-else class="text-center">
          <span>Нет файлов</span>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" @change="onFileChange">
          <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
        </div>

        <h3 class="mt-3">Стоимость (основная)
          <small>руб/месяц</small>
        </h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Базовая</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Базовая"
                     v-model="correctRenter.price_base">
            </div>

            <div class="form-group">
              <small class="text-secondary">Эксплуатационная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Эксплуатационная"
                     v-model="correctRenter.price_ekp">
            </div>
          </div>
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Условная еденица</small>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Использовать УЕ" v-model="correctRenter.YEuse">
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Значение УЕ" :disabled="!correctRenter.YEuse" v-model="correctRenter.YEvalue" placeholder="введите курс">
              </div>
            </div>

            <div class="form-group">
              <small class="text-secondary">Переменная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Переменная"
                     v-model="correctRenter.price_var">
            </div>
          </div>
        </div>

        <h3 class="mt-3">Стоимость (дополнительная)
          <small>руб/месяц</small>
        </h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group wrap-button-modal ml-auto mr-auto">
              <small class="text-secondary">Период</small>
              <datepicker :minimumView="'month'" :maximumView="'month'" :format="'MM.yyyy'"
                          :input-class="'form-control'" :language="ru"
                          v-model="correctRenter.infoDate"></datepicker>
            </div>

            <div class="form-group">
              <small class="text-secondary">доп доход</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="доп доход"
                     v-model="correctRenter.additional_pay">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Процент с продаж</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Процент с продаж"
                     v-model="correctRenter.percentPay">
            </div>

            <div class="form-group">
              <small class="text-secondary">Маркетинговый сбор</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Маркетинговый сбор"
                     v-model="correctRenter.market">
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-success d-block mt-5" @click="saveRenter()">Сохранить изменения</button>
      </div>
    </modal>

  </div>
</template>

<script>
  import moment from 'moment'
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale';
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "floor_outline_2",
    data() {
      return {
        renters: [],
        correctRenter: {},
        ru,
        rentersType: [],
        userRole: null,
        placesTypes: [],
        places: []
      }
    },
    components: {
      Datepicker,
      SvgPanZoom
    },
    mounted() {
      this.getAllRenters();
      this.rentersTypeMethod();
      this.getUserRole();
      this.getPlacesType();
      this.$http.get('http://shuka.f-bc.ru:3030/places').then(res => {
        this.$set(this, 'places', res.body.data);
      })
    },
    computed: {
      returnCorrectDate() {
        if (this.correctRenter.id) {
          return moment(this.correctRenter.date_from).format('DD.MM.YYYY') + ' - ' + moment(this.correctRenter.date_to).format('DD.MM.YYYY');
        } else {
          return '';
        }
      }
    },
    methods: {
      placesType() {
        const correctPlaces = this.places.find(x => {
          return x.id === Number(this.correctRenter.placesType)
        })

        if (correctPlaces) return correctPlaces.name
      },
      deleteDoc(id) {
        const index = this.correctRenter.doc_number.findIndex(x => {
          return x.id === id
        });

        this.correctRenter.doc_number.splice(index, 1);
      },
      b64DecodeUnicode(str) {
        return decodeURIComponent(Array.prototype.map.call(atob(str), function (c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)
        }).join(''));
      },
      downloadDoc(id) {
        window.location.replace("http://shuka.f-bc.ru:3030/" + id);
      },
      onFileChange(e) {
        const files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;

        this.createImage(files[0]);
      },
      createImage(file) {
        const image = new Image();
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.image = e.target.result;
          vm.$http.post('http://shuka.f-bc.ru:3030/uploads', {uri: e.target.result})
            .then(res => {
              if (!this.correctRenter.doc_number) this.$set(this.correctRenter, 'doc_number', []);

              this.correctRenter.doc_number.push({
                name: file.name,
                id: res.body.id
              });
            })
            .catch(err => {
              console.log(err)
            })
        };
        reader.readAsDataURL(file);
      },
      getNameOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.place
      },
      getAreaOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.area
      },
      getNumberOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.renter
      },
      showNameOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlane
        }
      },
      showAreaOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlaneArea
        }
      },
      showNumberOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlaneCompanyName
        }
      },
      getPlacesType() {
        this.$http.get('http://shuka.f-bc.ru:3030/places').then(res => {
          this.$set(this, 'placesTypes', res.body.data);
        })
      },
      getUserRole() {
        this.$set(this, 'userRole', JSON.parse(localStorage.getItem('fish-user')).role);
      },
      rentersTypeMethod() {
        this.$http.get('http://shuka.f-bc.ru:3030/renters-type').then(res => {
          this.$set(this, 'rentersType', res.body.data);
        })
      },
      typeRenter(type) {
        if (type) {
          const renter = this.rentersType.find(x => {
            return Number(type) === x.id;
          });
          return renter.translate;
        }
      },
      statusRenter(status) {
        const statusDictionary = {
          free: 'Свободен',
          reserve: 'В резерве',
          busy: 'Занят'
        };

        return statusDictionary[status];
      },
      renterChange() {
        this.$modal.hide('renter');
        this.$modal.show('renterChange');
      },
      returnActivePlaceClass(id) {
        let defaultClass = 'free';

        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          if (correctRenter.status === 'busy') {
            defaultClass = 'busy'
          } else if (correctRenter.status === 'reserve') {
            defaultClass = 'reserve'
          }
        }

        return defaultClass;
      },
      getAllRenters() {
        this.$http.get('http://shuka.f-bc.ru:3030/renters?floor=' + this.$route.params.floorId).then(res => {
          res.body.forEach(item => {
            item.doc_number = JSON.parse(item.doc_number)
          });
          this.$set(this, 'renters', res.body);
        })

        this.$http.get('http://shuka.f-bc.ru:3030/market?floor=' + this.$route.params.floorId + '&$limit=1000').then(res => {
          this.$root.$emit('getFloorStatistic', res.body);
        })
      },
      showWindow(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          this.correctRenter = Object.assign({}, this.correctRenter, correctRenter);
        } else {
          this.$set(this, 'correctRenter', {});
          this.$set(this.correctRenter, 'image_id', id);
        }

        this.$http.get('http://shuka.f-bc.ru:3030/market?place_id=' + this.correctRenter.name + '&date=' + moment().format('MM.YYYY')).then(res => {
          if (res.body[0]) {
            const data = res.body[0];

            this.correctRenter = Object.assign({}, this.correctRenter, {
              infoDate: moment('01.' + data.date).format('DD.MM.YYYY'),
              additional_pay: data.additional_pay,
              percentPay: data.percentPay,
              market: data.market,
              YEuse: data.YEuse,
              YEvalue: data.YEvalue
            });
          }

          this.$modal.show('renter');
        })
      },
      saveRenter() {
        let request;

        if (this.correctRenter.id) {
          request = this.updaterenter();
        } else {
          request = this.createRenter();
        }

        request.then(() => {
          this.$modal.hide('renterChange');
          this.$root.$emit('updateRenters');
          this.getAllRenters();
        })
      },
      async createRenter() {
        await this.$http.post('http://shuka.f-bc.ru:3030/renters/', {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base,
          price_var: this.correctRenter.price_var,
          price_ekp: this.correctRenter.price_ekp,
          area: Number(this.correctRenter.area),
          floor: this.$route.params.floorId,
          image_id: this.correctRenter.image_id,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName,
          YEvalue: this.correctRenter.YEvalue,
          YEuse: this.correctRenter.YEuse
        })
      },
      async updaterenter() {
        await this.$http.patch('http://shuka.f-bc.ru:3030/renters/' + this.correctRenter.id, {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base || null,
          price_var: this.correctRenter.price_var || null,
          price_ekp: this.correctRenter.price_ekp || null,
          area: Number(this.correctRenter.area) || null,
          floor: this.$route.params.floorId,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          YEvalue: this.correctRenter.YEvalue,
          YEuse: this.correctRenter.YEuse,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName
        })
      }
    }
  }
</script>

<style scoped>

</style>