<template>
  <div>
    <div v-if="loading">
      load
    </div>
    <div v-else class="row flex-wrap">
      <div class="col-6 p-0 m-0 select-floor">
        <div class="d-flex align-items-center justify-content-center select-floor__wrap">
          <span class="d-block mr-3">Выберите этаж</span>
          <div class="select-floor__floor d-flex">
            <div class="select-floor__floor__item" v-bind:class="{ 'active': $route.name === 'admin-state' }" @click="$router.push({ name: 'admin-state' })">
              <img src="../assets/icon-sh.svg" alt="">
            </div>
            <div v-for="item in floors" class="select-floor__floor__item" v-bind:class="{ 'active': $route.name === 'statistic-floor' && $route.params.floorId === item.id }" @click="$router.push({ name: 'statistic-floor', params: { floorId: item.id } })">
              {{ item.number }}
            </div>
          </div>
        </div>
        <div class="select-floor__content w-75 text-center ml-auto mr-auto mt-5">
          <span>Общая статистика по торгово-развлекательному комплексу</span>

          <div class="line-wrap mt-5">
            <div class="line w-100 d-flex">
              <div class="line__first" v-bind:style="{ 'width': generalStatisticsPercents.busy + '%' }"></div>
              <div class="line__second" sv-bind:style="{ 'width': generalStatisticsPercents.reserved + '%' }"></div>
            </div>

            <div class="w-100 d-flex justify-content-between mt-2">
              <div>
                <div class="statistic-circle green"></div>
                <span>Занято площадей: {{ generalStatistics.busy }}</span>
              </div>
              <div>
                <div class="statistic-circle grey"></div>
                <span>В резерве: {{ generalStatistics.reserved }}</span>
              </div>
              <div>
                <div class="statistic-circle grey-light"></div>
                <span>Свободно площадей: {{ generalStatistics.free }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="statistics w-75 ml-auto mr-auto">

          <table class="table">
            <tr>
              <th>Арендаторы (Тип)</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>
                <div class="stat_line">
                  <div class="current" v-bind:style="{ 'width': renterTypePercent.first + '%'}">

                  </div>
                </div>
              </td>
              <td>Якорные (РН)</td>
              <td>{{renterTypePercent.first}}%</td>
            </tr>
            <tr>
              <td>
                <div class="stat_line">
                  <div class="current" v-bind:style="{ 'width': renterTypePercent.second + '%'}">

                  </div>
                </div>
              </td>
              <td>Стратегические</td>
              <td>{{renterTypePercent.second}}%</td>
            </tr>
            <tr>
              <td>
                <div class="stat_line">
                  <div class="current" v-bind:style="{ 'width': renterTypePercent.third + '%'}">

                  </div>
                </div>
              </td>
              <td>Внешние</td>
              <td>{{renterTypePercent.third}}%</td>
            </tr>
            <tr>
              <td>
                <div class="general_stat_line">

                </div>
              </td>
              <td></td>
              <td></td>
            </tr>
          </table>

          <table class="table">
            <tr>
              <th>Типы помещений</th>
              <th></th>
              <th></th>
            </tr>
            <tr v-for="item in places">
              <td>
                <div class="stat_line">
                  <div class="correct" v-bind:style="{ 'width': item.percent + '%'}">

                  </div>
                </div>
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.percent }}%</td>
            </tr>

          </table>
        </div>


      </div>
      <div class="col-6 p-0 m-0 main-nav">
        <div class="main-nav__first-level">
          <div class="d-flex align-items-center h-100">
            <div class="main-nav__profile ml-5">
              <img src="../assets/logo.svg" alt="" class="logo">
              <img src="../assets/profile.svg" alt="" @click="$router.push({ name: 'profile-page' })" class="profile ml-5">
            </div>
          </div>
        </div>

        <div class="main-nav__second-level pl-5 pt-3 pb-3">

          <div class="title">Общий доход от аренды за месяц</div>
          <div class="profit">{{ sum }} руб</div>

          <div class="d-flex align-items-center">
            <datepicker :language="ru" :format="'MMMM yyyy'" :minimumView="'month'" :maximumView="'month'" v-model="mainDate"></datepicker>
            <!--<datepicker :language="ru" :format="'MMMM yyyy'" :minimumView="'month'" :maximumView="'month'" v-model="maxDate" class="ml-3 "></datepicker>-->
            <span class="ml-3 d-block change-exel" @click="createExel()">Сформировать файл</span>

            <button type="button" @click="download()" v-show="showLink" class="btn btn-dark ml-3">Скачать</button>
          </div>
        </div>

        <div class="main-nav__third-level pl-5 pt-5">
          <span class="main-nav__third-level__title d-block mb-3">Сумарные данные по аренде</span>
          <div class="d-flex justify-content-between main-nav__third-level__wrap">
            <span>Базовая аренда</span>
            <span>{{ baseProfit }}</span>
          </div>

          <div class="d-flex justify-content-between main-nav__third-level__wrap">
            <span>Переменная</span>
            <span>{{ varProfit }}</span>
          </div>

          <div class="d-flex justify-content-between main-nav__third-level__wrap">
            <span>Эксплуатация</span>
            <span>{{ profitEkp }}</span>
          </div>

          <div class="d-flex justify-content-between main-nav__third-level__wrap">
            <span>Маркетинговый сбор</span>
            <span>{{ marketProfit }}</span>
          </div>

          <div class="d-flex justify-content-between main-nav__third-level__wrap">
            <span>Процент с продаж на текущий момент</span>
            <span>{{ percentForSale }}</span>
          </div>

          <div class="d-flex justify-content-between main-nav__third-level__wrap mt-5">
            <span class="main-nav__third-level__title">Доход с парковки</span>
            <span>50</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale';
  import moment from 'moment';

  export default {
    name: "admin-state",
    components: {
      Datepicker
    },
    data () {
      return {
        floors: [],
        activeFloor: null,
        sum: 10000,
        generalStatistics: {
          busy: 40,
          free: 20,
          reserved: 10
        },
        generalStatisticsPercents: {
          busy: 0,
          free: 0,
          reserved: 0
        },
        priceLease: {

        },
        ru: ru,
        mainDate: null,
        loading: true,
        places: [],
        baseProfit: 0,
        varProfit: 0,
        profitEkp: 0,
        marketProfit: 0,
        percentForSale: 0,
        rentersType: [],
        renterTypePercent: {
          first: null,
          second: null,
          third: null
        },
        placesTypePercent: {
          first: null,
          second: null,
          third: null
        },
        showLink: false,
        maxDate: null
      }
    },
    created() {
      this.$http.get('http://shuka.f-bc.ru:3030/floors').then(res => {
        this.$set(this, 'floors', res.body.data);
        this.$set(this, 'loading', false);
      });

      this.$set(this, 'mainDate', moment().format('DD.MM.YY'));
      this.$set(this, 'maxDate', moment().format('DD.MM.YY'));

      this.$http.get('http://shuka.f-bc.ru:3030/places').then(res => {
        this.$set(this, 'places', res.body.data);

        this.places.forEach(item => {
          item.percent = 0;
        })

        this.$http.get('http://shuka.f-bc.ru:3030/renters').then(res => {
          let total = 0;
          const renters = res.body;
          let totalRentersType_1 = 0;
          let totalRentersType_2 = 0;
          let totalRentersType_3 = 0;

          // let totalPlacesType_1 = 0;
          // let totalPlacesType_2 = 0;
          // let totalPlacesType_3 = 0;

          let totalStatusBusy = 0;
          let totalStatusReserve = 0;
          let totalStatusFree = 0;

          renters.forEach(item => {
            ++total;

            switch (item.status) {
              case 'busy':
                totalStatusBusy += 1;
                break;
              case 'reserve':
                totalStatusReserve += 1;
                break;
              default:
                totalStatusFree += 1;
            }

            if (item.renter_type == 1) {
              ++totalRentersType_1;
            } else if (item.renter_type == 2) {
              ++totalRentersType_2;
            } else {
              ++totalRentersType_3;
            }

            const correctPlaces = this.places.find(x => {
              return x.id ===  Number(item.placesType)
            })

            if (correctPlaces) ++correctPlaces.percent;
            // this.places[Number(item.placesType)] && ++this.places[Number(item.placesType)].percent;
          });

          this.$set(this.renterTypePercent, 'first', (totalRentersType_1/total*100).toFixed(2));
          this.$set(this.renterTypePercent, 'second', (totalRentersType_2/total*100).toFixed(2));
          this.$set(this.renterTypePercent, 'third', (totalRentersType_3/total*100).toFixed(2));

          this.places.forEach(item => {
            item.percent = (item.percent / total * 100).toFixed(2);
          });

          this.$set(this.generalStatistics, 'busy', totalStatusBusy);
          this.$set(this.generalStatistics, 'free', totalStatusFree);
          this.$set(this.generalStatistics, 'reserved', totalStatusReserve);

          this.$set(this.generalStatisticsPercents, 'busy', totalStatusBusy / total * 100);
          this.$set(this.generalStatisticsPercents, 'free', totalStatusFree / total * 100);
          this.$set(this.generalStatisticsPercents, 'reserved', totalStatusReserve / total * 100);
        })
      });

      // this.$http.get('http://shuka.f-bc.ru:3030/renters-type').then(res => {
      //   this.$set(this, 'places', res.body.data);
      // });

      this.$http.get('http://shuka.f-bc.ru:3030/market?date=' + moment().format('MM.YYYY')).then(res => {
        let totalProfit = 0;
        let baseProfit = 0;
        let varProfit = 0;
        let profitEkp = 0;
        let marketProfit = 0;
        let percentForSale = 0;

        res.body.forEach(item => {
          if (item.status === 'busy') {

            if (item.YEuse && item.YEvalue) {
              baseProfit += Number(item.YEvalue) * Number(item.price_base)
              totalProfit  += Number(item.YEvalue) * Number(item.price_base)
            } else {
              baseProfit += Number(item.price_base);
              totalProfit += Number(item.price_base);
            }
            // totalProfit += item.price_base;
            // baseProfit += Number(item.price_base);
            varProfit += Number(item.price_var);
            profitEkp += Number(item.price_ekp);
            marketProfit += Number(item.market);
            percentForSale += Number(item.percentPay);
          }
        });

        this.$set(this, 'baseProfit', baseProfit);
        this.$set(this, 'varProfit', varProfit);
        this.$set(this, 'profitEkp', profitEkp);
        this.$set(this, 'marketProfit', marketProfit);
        this.$set(this, 'percentForSale', percentForSale);
        this.$set(this, 'sum', totalProfit + varProfit + profitEkp + marketProfit + percentForSale)
      });
    },
    methods: {
      download() {
        window.location.replace("http://shuka.f-bc.ru:3030/download-second");
        // this.$http.get('http://shuka.f-bc.ru:3030/download-second').then(response => {
        //   let blob = new Blob([response.blob()], {type: response.headers.map['content-type']}),
        //     filename = (response.headers['Content-Disposition'] || '').split('filename=')[1];
        //
        //   let result = document.createElement('a');
        //   result.href = window.URL.createObjectURL(blob);
        //   result.download = filename;
        //   return result;
        // })
      },
      createExel() {
        this.$http.get('http://shuka.f-bc.ru:3030/statistic?mainDate='+ moment(this.mainDate).format('MM.YYYY')).then(res => {
          this.$set(this, 'showLink', true);
        })
      },
      setActiveItem (id) {
        this.$set(this, 'activeFloor', id);
      }
    }
  }
</script>
