<template>
  <div class="w-100 login-page">
    <div class="row">
      <div class="col-6">
        <div class="build d-flex align-items-center justify-content-center">
          <img src="../assets/logo.svg" alt="">
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex align-items-center justify-content-center login-page__form">
          <form class="w-25" v-on:submit.prevent="onSubmit">

            <div v-show="loginError" class="alert alert-danger" role="alert">
              Вы ввели не правильный логин или пароль
            </div>

            <div class="text-center login-page__title">
              <span>Вход</span>
            </div>

            <div class="form-group position-relative login-input_login">
              <img src="../assets/login.svg" alt="" class="position-absolute">
              <input type="text" class="login-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите ваш логин" v-model="login">
            </div>
            <div class="form-group position-relative login-input_pass">
              <img src="../assets/password.svg" alt="" class="position-absolute">
              <input type="password" class="login-input" id="exampleInputPassword1" placeholder="Введите ваш пароль" v-model="pass">
            </div>
            <button type="submit" class="btn btn-success w-100">Войти</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "main-page",
    data () {
      return {
        loginError: false,
        login: null,
        pass: null
      }
    },
    methods: {
      onSubmit () {
        this.$http.post('http://shuka.f-bc.ru:3030/authentication', {
          "strategy": "local",
          "email": this.login,
          "password": this.pass
        }).then(res => {
          const token = res.body.accessToken;
          localStorage.setItem('token', token);
          localStorage.setItem('fish-user', JSON.stringify({ role: 'admin' }));
          this.$store.commit('changeUserInfo', {token});
          this.$router.push({ name: 'admin-state' });
        }).catch(err => {
          this.$set(this, 'loginError', true);

          setTimeout(() => {
            this.$set(this, 'loginError', false);
          }, 4000);
        })
      }
    }
  }
</script>

<style scoped>

</style>