<template>
  <modal name="renter" class="modal-renter" :height="'auto'" :scrollable="true">
    <div class="p-4">

      <div class="modal-close-button" @click="$modal.hide('renter')">
        <img src="../assets/close.svg" alt="">
      </div>

      <h3>Помещение № {{ correctRenter.place }}</h3>

      <table class="table table-hover">
        <tbody>
        <tr>
          <td>Номер помещения(БТИ):</td>
          <td>{{correctRenter.name}}</td>
        </tr>
        <tr>
          <td>Номер помещения:</td>
          <td>{{correctRenter.place}}</td>
        </tr>
        <tr>
          <td>Площадь помещения:</td>
          <td>{{correctRenter.area}}</td>
        </tr>
        <tr>
          <td>Статус</td>
          <td>{{ statusRenter(correctRenter.status) }}</td>
        </tr>
        <tr>
          <td><span class="font-weight-bold">Арендатор</span></td>
          <td></td>
        </tr>
        <tr>
          <td>Наименование</td>
          <td>{{correctRenter.renter}}</td>
        </tr>

        <tr>
          <td>Тип</td>
          <td>{{ typeRenter(correctRenter.renter_type) }}</td>
        </tr>

        <tr>
          <td>Период</td>
          <td>{{ returnCorrectDate }}</td>
        </tr>

        <tr v-for="item in correctRenter.doc_number">
          <td><a href="#" @click="downloadDoc(item.id)">{{item.name}}</a></td>
          <td></td>
        </tr>

        <tr>
          <td class="font-weight-bold">Стоимость аренды (основная)</td>
          <td></td>
        </tr>

        <tr>
          <td>Базовая аренда</td>
          <td>{{ correctRenter.price_base }}</td>
        </tr>

        <tr>
          <td>Переменная</td>
          <td>{{ correctRenter.price_var }}</td>
        </tr>

        <tr>
          <td>Эксплатыционная</td>
          <td>{{ correctRenter.price_ekp }}</td>
        </tr>

        <tr>
          <td class="font-weight-bold">Стоимость аренды (дополнительная)</td>
          <td></td>
        </tr>

        <tr>
          <td>Маркетинговый сбор</td>
          <td>{{ correctRenter.market }}</td>
        </tr>

        <tr>
          <td>Процент с продаж</td>
          <td>{{ correctRenter.percentPay }}</td>
        </tr>

        <tr>
          <td>Доп доход</td>
          <td>{{ correctRenter.additional_pay }}</td>
        </tr>

        </tbody>
      </table>


      <button v-if="userRole === 'admin'" type="button" class="btn btn-success d-block mt-5" @click="renterChange()">
        Изменить помещение
      </button>
    </div>
  </modal>
</template>

<script>
  import moment from 'moment'
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale';
  import SvgPanZoom from 'vue-svg-pan-zoom';
  import modalWatch from '../modal-watch';

  export default {
    name: 'modal-watch',
    props: ['correctRenter'],
    data() {
      return {
        renters: [],
        correctRenter: {},
        ru,
        rentersType: [],
        userRole: null,
        placesTypes: []
      }
    },
    computed: {
      returnCorrectDate() {
        if (this.correctRenter.id) {
          return moment(this.correctRenter.date_from).format('DD.MM.YYYY') + ' - ' + moment(this.correctRenter.date_to).format('DD.MM.YYYY');
        } else {
          return '';
        }
      }
    },
    methods: {
      getUserRole() {
        this.$set(this, 'userRole', JSON.parse(localStorage.getItem('fish-user')).role);
      },
      statusRenter(status) {
        const statusDictionary = {
          free: 'Свободен',
          reserve: 'В резерве',
          busy: 'Занят'
        };

        return statusDictionary[status];
      },
      typeRenter(type) {
        if (type) {
          const renter = this.rentersType.find(x => {
            return Number(type) === x.id;
          });
          return renter.translate;
        }
      },
    }
  }
</script>