<template>
  <div>
    <div class="d-flex">
      <div class="main-admin-page__left-column d-flex align-items-center justify-content-center">
        <div class="input-group w-50">
          <input type="text" class="form-control" placeholder="Поиск по сотрудникам" aria-label="Recipient's username" aria-describedby="basic-addon2" v-model="searchInput">
        </div>
      </div>
      <div class="main-admin-page__right-column d-flex align-items-center justify-content-center">
        <img src="../assets/logo.svg" alt="" class="logo" @click="$router.push({ name: 'admin-state' })">
        <img src="../assets/profile.svg" alt="" @click="$router.push({ name: 'profile-page' })" class="profile ml-5">
      </div>
    </div>

    <div class="d-flex justify-content-center pt-3 pb-3">
      <button type="button" class="btn btn-primary d-block mr-3" @click="showModal()">Мой профиль</button>
      <button type="button" class="btn btn-warning d-block ml-3" @click="logoutSystem()" >Выйти из системы</button>
    </div>


    <div v-if="!isAdmin">
      <div class="text-center mt-5">
        <span>У вас нет прав доступа для просмотра таблицы пользователей</span>
      </div>
    </div>
    <div v-else class="container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Email</th>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Должность</th>
          <th scope="col">Роль</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in users" @click="showModal(item)">
          <th>{{ item.id }}</th>
          <td>{{ item.email }}</td>
          <td>{{ item.first_name }}</td>
          <td>{{ item.second_name }}</td>
          <td>{{ item.work }}</td>
          <td>{{ returnRole(item.role) }}</td>
        </tr>
        </tbody>
      </table>

      <button type="submit" class="btn btn-primary mt-2" @click="createUser()">Создать пользователя</button>

      <table class="table mt-5 table-hover">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Название</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in places" @click="showModalPlaces(item)">
          <th>{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td><button type="submit" class="btn btn-primary" @click="changePlaces()">Изменить название арендатора</button></td>
        </tr>
        </tbody>
      </table>

      <button class="btn btn-primary mt-3" @click="$modal.show('addPlaceType')">
        <span>Добавить тип помещения</span>
      </button>

    </div>

    <modal name="addPlaceType" :adaptive="true" :scrollable="true" :height="'80%'">
      <div class="p-4">
        <div class="modal-close-button" @click="$modal.hide('addPlaceType')">
          <img src="../assets/close.svg" alt="">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Название типа помещения</label>
          <input type="email" class="form-control" v-model="placeType">
        </div>

        <button class="btn btn-primary mt-3" @click="savePlaceType">
          <span>Добавить тип помещения</span>
        </button>

      </div>
    </modal>

    <modal name="profile" :adaptive="true" :scrollable="true" :height="'80%'">
      <div class="p-4">
        <div class="modal-close-button" @click="$modal.hide('profile')">
          <img src="../assets/close.svg" alt="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="newUser.email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Пароль</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="newUser.pass">
        </div>

        <div class="form-group">
          <label>Имя</label>
          <input type="text" class="form-control" placeholder="Имя" v-model="newUser.first_name">
        </div>

        <div class="form-group">
          <label>Фамилия</label>
          <input type="text" class="form-control" placeholder="Фамилия" v-model="newUser.second_name">
        </div>

        <div class="form-group">
          <label>Должность</label>
          <input type="text" class="form-control" placeholder="Должность" v-model="newUser.work">
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Роль</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" v-model="newUser.role">
              <option value="user">Пользователь</option>
              <option value="admin">Админ</option>
            </select>
          </div>
        </div>
        <button v-show="newUser.id" type="submit" class="btn btn-primary" @click="changeUser()">Сохранить изменения</button>
        <button v-show="newUser.id" class="btn btn-danger" @click="deleteUser()">Удалить пользователя</button>
        <button v-show="!newUser.id" class="btn btn-info" @click="addNewUser()">Создать пользователя</button>
      </div>
    </modal>

    <modal name="places" :adaptive="true" :scrollable="true" :height="'80%'">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('places')">
          <img src="../assets/close.svg" alt="">
        </div>

        <small class="mt-5">Введите новое название типа арендатора</small>
        <input type="text" v-model="activePlaces.name" class="d-block ml-auto mr-auto form-control">

        <button type="submit" class="btn btn-success d-block ml-auto mr-auto mt-5" @click="savePlaces()">Сохранить изменения</button>
      </div>
    </modal>
  </div>
</template>

<script>
  export default {
    name: "profilePage",
    data () {
      return {
        users: [],
        basicUsers: [],
        correctUser: {},
        newUser: {},
        userId: null,
        searchInput: '',
        isAdmin: false,
        places: [],
        activePlaces: {},
        placeType: null
      }
    },
    created() {
      const userInfo = JSON.parse(localStorage['fish-user']);
      if (userInfo.role === 'admin') this.$set(this, 'isAdmin', true);
    },
    mounted() {
      this.getUserList();
      this.getPlacesList();
    },
    watch: {
      searchInput(newVal) {
        if (newVal.length) {
          this.users = this.basicUsers.filter(item => {
            let result = false;

            if (item.email.indexOf(newVal) > -1) result = true;
            if (item.first_name.indexOf(newVal) > -1) result = true;
            if (item.second_name.indexOf(newVal) > -1) result = true;
            if (item.work.indexOf(newVal) > -1) result = true;

            return result;
          });
        } else {
          this.$set(this, 'users', this.basicUsers);
        }
      }
    },
    methods: {
      savePlaceType() {
        this.$http.post('http://shuka.f-bc.ru:3030/places', {
          name: this.placeType
        }).then(() => {
          this.$modal.hide('addPlaceType');
          this.getPlacesList();
        })
      },
      changePlaces() {

      },
      showModalPlaces(item) {
        this.activePlaces = Object.assign({}, this.activePlaces, item);
        this.$modal.show('places');
      },
      getPlacesList() {
        this.$http.get('http://shuka.f-bc.ru:3030/places').then(res => {
          this.$set(this, 'places', res.body.data);
        })
      },
      savePlaces() {
        this.$http.patch('http://shuka.f-bc.ru:3030/places/' + this.activePlaces.id, {
          name: this.activePlaces.name
        }).then(() => {
          this.getPlacesList();
          this.$modal.hide('places');
        })
      },
      logoutSystem () {
        localStorage.clear();
        this.$router.push({ name: 'mainPage' });
      },
      returnRole (role) {
        const roleDictionary = {
          admin: 'Администратор',
          user: 'Пользователь'
        };

        return roleDictionary[role]
      },
      getUserList () {
        this.$http.get('http://shuka.f-bc.ru:3030/users').then(res => {
          const data = res.data.data;

          this.$set(this, 'users', data);
          this.$set(this, 'basicUsers', data);
        })
      },
      createUser () {
        this.$set(this, 'newUser', {});
        this.$modal.show('profile');
      },
      showModal (data) {
        if (data) {
          this.newUser = Object.assign({}, this.newUser, data);
        } else {
          this.newUser = Object.assign({}, this.newUser, JSON.parse(localStorage['fish-user']));
        }
        this.$modal.show('profile');
      },
      deleteUser () {
        this.$http.delete('http://shuka.f-bc.ru:3030/users?id=' + this.userId, {
        }).then(() => {
          this.$modal.hide('profile');
          this.getUserList();
        })
      },
      changeUser () {
        const data = {
          email: this.newUser.email,
          first_name: this.newUser.first_name,
          second_name: this.newUser.second_name,
          work: this.newUser.work,
          role: this.newUser.role,
        };

        if (this.newUser.pass && this.newUser.pass.length) data.password = this.newUser.pass;

        this.$http.patch('http://shuka.f-bc.ru:3030/users/' + this.newUser.id, data).then(() => {
          this.$modal.hide('profile');
          this.getUserList();
        })
      },
      addNewUser () {
        this.$http.post('http://shuka.f-bc.ru:3030/users', {
          email: this.newUser.email,
          password: this.newUser.pass,
          first_name: this.newUser.first_name,
          second_name: this.newUser.second_name,
          work: this.newUser.work,
          role: this.newUser.role,
        }).then(() => {
          this.$modal.hide('profile');
          this.getUserList();
        })
      }
    }
  }
</script>