<template>
  <div class="main-admin-page">
    <div class="d-flex">
      <div class="main-admin-page__left-column d-flex align-items-center justify-content-center">
        <div class="input-group w-50">
          <input type="text" class="form-control" placeholder="Поиск по полям" aria-label="Recipient's username" aria-describedby="basic-addon2" v-model="searchInput">
        </div>
      </div>
      <div class="main-admin-page__right-column d-flex align-items-center justify-content-center">
        <img src="../assets/logo.svg" alt="" class="logo" @click="$router.push({ name: 'admin-state' })">
        <img src="../assets/profile.svg" alt="" @click="$router.push({ name: 'profile-page' })" class="profile ml-5">
      </div>
    </div>
    <div class="main-admin-page__return-nav w-100">
      <div class="container h-100">
        <div class="h-100 d-flex align-items-center justify-content-between">
          <span class="main-admin-page__return-nav__floor">
            Этаж {{ $route.params.id }}
          </span>

          <span @click="$router.push({ name: 'statistic-floor', params: { floorId: $route.params.id } })">
            Вернуться назад
          </span>
        </div>
      </div>
    </div>

    <div class="container mb-5 mt-3">
      <h3 class="text-center">Договора</h3>

      <div class="custom-file w-25 mx-auto mt-3 d-block">
        <input type="file" class="custom-file-input" id="inputGroupFile01" @change="onFileChange">
        <label class="custom-file-label" for="inputGroupFile01">Загрузить файл</label>
      </div>

      <div>
        <div class="d-flex flex-wrap">
          <div class="table-docs mt-3" v-for="item in docs">
            <span>{{ item.name }}</span>
            <img src="../assets/delete.svg" alt="" @click="deleteDoc(item.id)">
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <h3 class="text-center">Помещения</h3>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
          <thead>
          <tr>
            <th scope="col">Пом. № <br>
            <small>БТИ</small></th>
            <th scope="col">Пом. №<br>
            <small>Клиент</small></th>
            <th scope="col">Статус</th>
            <th scope="col">Арендатор</th>
            <th scope="col">Тип арендатора</th>
            <!--<th scope="col">Договор</th>-->
            <th scope="col">Срок c</th>
            <th scope="col">Срок по</th>
            <th scope="col">Стоимость <br>
            <small>База</small></th>
            <th scope="col">Стоимость <br>
            <small>Перем</small></th>
            <th scope="col">Стоимость <br>
            <small>ЭКП</small></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in renters" @click="changeRenter(item)">
            <th scope="col">{{ item.name }}</th>
            <th scope="col">{{ item.place }}</th>
            <th scope="col">{{ statusRenter(item.status) }}</th>
            <th scope="col">{{ item.renter }}</th>
            <th scope="col">{{ typeRenter(item.renter_type) }}</th>
            <!--<th scope="col">-->
              <!--<div @click.stop="changeRenter">-->
                <!--<span v-for="doc in JSON.parse(item.doc_number)" @click="downloadDoc(doc.id)">{{ doc.name }}</span>-->
              <!--</div>-->
            <!--</th>-->
            <th scope="col">{{ item.date_from }}</th>
            <th scope="col">{{ item.date_to }}</th>
            <th scope="col">{{ item.price_base }}</th>
            <th scope="col">{{ item.price_var }}</th>
            <th scope="col">{{ item.price_ekp }}</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <modal name="renter" class="modal-renter" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renter')">
          <img src="../assets/close.svg" alt="">
        </div>

        <h3>Помещение № {{ correctRenter.place }}</h3>

        <table class="table table-hover">
          <tbody>
          <tr>
            <td>Номер помещения(БТИ):</td>
            <td>{{correctRenter.name}}</td>
          </tr>
          <tr>
            <td>Номер помещения:</td>
            <td>{{correctRenter.place}}</td>
          </tr>
          <tr>
            <td>Площадь помещения:</td>
            <td>{{correctRenter.area}}</td>
          </tr>
          <tr>
            <td>Статус</td>
            <td>{{ statusRenter(correctRenter.status) }}</td>
          </tr>

          <tr>
            <td><span class="font-weight-bold">Арендатор</span></td>
            <td></td>
          </tr>
          <tr>
            <td>Наименование</td>
            <td>{{correctRenter.renter}}</td>
          </tr>

          <tr>
            <td>Тип</td>
            <td>{{ typeRenter(correctRenter.renter_type) }}</td>
          </tr>

          <tr>
            <td>Период</td>
            <td>{{ returnCorrectDate }}</td>
          </tr>

          <tr>
            <td>
              <span v-if="correctRenter.doc_number && correctRenter.doc_number.length">
                <a v-for="item in JSON.parse(correctRenter.doc_number)" href="#" @click="downloadDoc(item.id)">{{item.name}}</a>
              </span>
            </td>
            <td></td>
          </tr>

          <tr>
            <td class="font-weight-bold">Стоимость аренды (основная)</td>
            <td></td>
          </tr>

          <tr>
            <td>Базовая аренда</td>
            <td>{{ correctRenter.price_base }}</td>
          </tr>

          <tr>
            <td>Переменная</td>
            <td>{{ correctRenter.price_var }}</td>
          </tr>

          <tr>
            <td>Эксплатыционная</td>
            <td>{{ correctRenter.price_ekp }}</td>
          </tr>

          <tr>
            <td class="font-weight-bold">Стоимость аренды (дополнительная)</td>
            <td></td>
          </tr>

          <tr>
            <td>Маркетинговый сбор</td>
            <td>{{ correctRenter.market }}</td>
          </tr>

          <tr>
            <td>Процент с продаж</td>
            <td>{{ correctRenter.percentPay }}</td>
          </tr>

          <tr>
            <td>Доп доход</td>
            <td>{{ correctRenter.additional_pay }}</td>
          </tr>

          </tbody>
        </table>

        <button type="button" class="btn btn-success d-block mt-5" @click="renterChange()">
          Изменить помещение
        </button>
      </div>
    </modal>

    <modal name="renterChange" id="renterChange" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renterChange')">
          <img src="../assets/close.svg" alt="">
        </div>

        <h3>Помещение {{ correctRenter.place }}</h3>

        <div class="row mt-4">
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Номер помещения (БТИ)</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.name">
            </div>

            <div class="form-group">
              <small class="text-secondary">Номер помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.place">
            </div>

            <div class="form-group">
              <small class="text-secondary">Тип помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.placesType">
                  <option v-for="item in placesTypes" :value="item.id">{{ item.name }}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Площадь помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Площадь помещения"
                     v-model="correctRenter.area">
            </div>

            <div class="form-group">
              <small class="text-secondary">Статус помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.status">
                  <option value="free">Свободно</option>
                  <option value="busy">Занято</option>
                  <option value="reserve">В резерве</option>
                </select>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Отображать на плане</h3>

        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlane">
                </div>
              </div>
              <div class="form-control">
                <small>Номер помещения</small>
              </div>
            </div>

            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlaneArea">
                </div>
              </div>
              <div class="form-control">
                <small>Площадь помещения</small>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlaneCompanyName">
                </div>
              </div>
              <div class="form-control">
                <small>Название компании</small>
              </div>
            </div>
          </div>
        </div>

        <h3 class="mt-3">Арендатор</h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Наименование компании</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите текст"
                     v-model="correctRenter.renter">
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор с</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_from"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="../assets/delete.svg" alt="" @click="correctRenter.date_from = null" class="delete-date">
                </div>
              </div>
            </div>

            <!--<div class="form-group">-->
            <!--<small class="text-secondary">Договор номер</small>-->
            <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"-->
            <!--v-model="correctRenter.doc_number">-->
            <!--</div>-->
          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Тип арендатора</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.renter_type">
                  <option v-for="item in rentersType" :value="item.id">{{ item.translate }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор по</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_to"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="../assets/delete.svg" alt="" @click="correctRenter.date_to = null" class="delete-date">
                </div>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Список прикрепленных файлов</h3>

        <table class="table" v-if="correctRenter.doc_number && correctRenter.doc_number.length">
          <tbody>
          <!--<tr v-for="item in correctRenter.doc_number">-->
            <!--<td>{{ item.name }}</td>-->
            <!--<td>-->
              <!--<button class="btn btn-danger" @click="deleteDoc(item.id)">Удалить</button>-->
            <!--</td>-->
          <!--</tr>-->
          </tbody>
        </table>

        <div v-else class="text-center">
          <span>Нет файлов</span>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" @change="onFileChange">
          <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
        </div>

        <h3 class="mt-3">Стоимость (основная)</h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Базовая</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Базовая"
                     v-model="correctRenter.price_base">
            </div>

            <div class="form-group">
              <small class="text-secondary">Эксплуатационная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Эксплуатационная"
                     v-model="correctRenter.price_ekp">
            </div>
          </div>
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Условная еденица</small>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Использовать УЕ" v-model="correctRenter.YEuse">
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Значение УЕ" :disabled="!correctRenter.YEuse" v-model="correctRenter.YEvalue">
              </div>
            </div>

            <div class="form-group">
              <small class="text-secondary">Переменная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Переменная"
                     v-model="correctRenter.price_var">
            </div>
          </div>
        </div>

        <h3 class="mt-3">Стоимость (дополнительная)</h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group wrap-button-modal ml-auto mr-auto">
              <small class="text-secondary">Период</small>
              <datepicker :minimumView="'month'" :maximumView="'month'" :format="'MM.yyyy'"
                          :input-class="'form-control'" :language="ru"
                          v-model="correctRenter.infoDate"></datepicker>
            </div>

            <div class="form-group">
              <small class="text-secondary">доп доход</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="доп доход"
                     v-model="correctRenter.additional_pay">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Процент с продаж</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Процент с продаж"
                     v-model="correctRenter.percentPay">
            </div>

            <div class="form-group">
              <small class="text-secondary">Маркетинговый сбор</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Маркетинговый сбор"
                     v-model="correctRenter.market">
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-success d-block mt-5" @click="saveRenter()">Сохранить изменения</button>
      </div>
    </modal>
  </div>
</template>

<script>
  import moment from 'moment'
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale'

  export default {
    name: "table-floor",
    components: {
      Datepicker
    },
    computed: {
      returnCorrectDate() {
        if (this.correctRenter.id) {
          return moment(this.correctRenter.date_from).format('DD.MM.YYYY') + ' - ' + moment(this.correctRenter.date_to).format('DD.MM.YYYY');
        } else {
          return '';
        }
      }
    },
    data () {
      return {
        renters: [],
        rentersGeneral: null,
        searchInput: null,
        correctRenter: {},
        ru: ru,
        rentersType: [],
        places: [],
        docs: []
      }
    },
    mounted () {
      this.updateRenters();
      this.rentersTypeMethod();
      this.getDocs();
    },
    watch: {
      searchInput (newVal) {
        if (this.searchInput.length) {
          this.renters = this.renters.filter(x => {
            return x.renter.indexOf(this.searchInput) > -1
          })
        } else {
          this.$set(this, 'renters', this.rentersGeneral);
        }
      }
    },
    methods: {
      deleteDoc(id) {
        this.$http.delete('http://shuka.f-bc.ru:3030/docs/' + id).then(() => {
          this.getDocs()
        })
      },
      getDocs() {
        this.$http.get('http://shuka.f-bc.ru:3030/docs?floor=2').then(res => {
          this.$set(this, 'docs', res.body.data);

          this.docs.forEach(item => {
            item.type = item.name.split('.')[1]
          })
        });
      },
      renterChange() {
        this.$modal.hide('renter');
        this.$modal.show('renterChange');
      },
      onFileChange(e) {
        const files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;

        this.createImage(files[0]);
      },
      createImage(file) {
        const image = new Image();
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.image = e.target.result;
          vm.$http.post('http://shuka.f-bc.ru:3030/uploads', {uri: e.target.result})
            .then(res => {

              this.$http.post('http://shuka.f-bc.ru:3030/docs', {
                name: file.name,
                id_doc: res.body.id,
                floor: 2
              }).then(() => {
                this.getDocs();
              })

            })
            .catch(err => {
              console.log(err)
            })
        };
        reader.readAsDataURL(file);
      },
      downloadDoc(id) {
        window.location.replace("http://shuka.f-bc.ru:3030/" + id);
      },
      rentersTypeMethod() {
        this.$http.get('http://shuka.f-bc.ru:3030/renters-type').then(res => {
          this.$set(this, 'rentersType', res.body.data);
        })
      },
      updateRenters () {
        this.$http.get('http://shuka.f-bc.ru:3030/renters?floor=' + this.$route.params.id).then(res => {
          const data = res.body;

          data.forEach(item => {
            if (item.date_from) item.date_from = item.date_from.split('T')[0];
            if (item.date_to) item.date_to = item.date_to.split('T')[0];

            if (item.date_from) item.date_from = moment(item.date_from).format('DD.MM.YYYY');
            if (item.date_to) item.date_to = moment(item.date_to).format('DD.MM.YYYY');
          });

          this.$set(this, 'renters', data);
          this.$set(this, 'rentersGeneral', data);
        })
      },
      saveRenter () {
        this.$http.patch('http://shuka.f-bc.ru:3030/renters/' + this.correctRenter.id, {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: this.correctRenter.doc_number,
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base,
          price_var: this.correctRenter.price_var,
          price_ekp: this.correctRenter.price_ekp,
          area: this.correctRenter.area,
          floor: this.$route.params.floorId,
          image_id: this.correctRenter.image_id,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName
        }).then(() => {
          this.$modal.hide('renter');
          this.updateRenters();
        })
      },
      statusRenter (status) {
        const statusDictionary = {
          free: 'Свободен',
          busy: 'Занят',
          reserve: 'В резерве'
        };

        return statusDictionary[status];
      },
      typeRenter (type) {
        const renter = this.rentersType.find(x => {
          return Number(type) === x.id;
        });
        if (renter) return renter.translate;
      },
      changeRenter (data) {
        this.correctRenter = Object.assign({}, this.correctRenter, data);
        this.$modal.show('renter');
      }
    }
  }
</script>